%section#footer
  .container
    .row
      .col-sm-6
        %span
          powered by 빠띠 가브크래프트
      .col-sm-6
        .hidden-xs.text-right{style:"font-size:22px;"}
          = link_to 'mailto:help@parti.xyz' do
            %i.fa.fa-envelope-square
          = link_to 'https://www.facebook.com/kdemokr/', target: '_blank' do
            %i.fa.fa-facebook-square
          = link_to 'https://twitter.com/kdemokr', target: '_blank' do
            %i.fa.fa-twitter-square
        .visible-xs{style:"font-size:22px;"}
          = link_to 'mailto:help@parti.xyz' do
            %i.fa.fa-envelope-square
          = link_to 'https://www.facebook.com/kdemokr', target: '_blank' do
            %i.fa.fa-facebook-square
          = link_to 'https://twitter.com/kdemokr', target: '_blank' do
            %i.fa.fa-twitter-square
