%br
= link_to '단체 정보', '/archives/2'
%br
= link_to Project.model_name.human, projects_path
%br
= link_to Event.model_name.human, events_path
%br
= link_to Petition.model_name.human, petitions_path
- if organization.community_url.present?
  %br
  = link_to '커뮤니티', organization.community_url, target: '_blank'
