%section#parti-section.urimanna
  .container
    %p
      전국적인 온라인 만민공동회 구축을 통해
      %br
      깨어있는 시민들의 자발적 네트워크를
      %br
      구축해 나가는 것을 지향합니다


%section#projects.page-block
  .container
    %hr{style:"color:rgba(230, 230, 230, 1);height:2px;margin-top:0px;"}
    = link_to projects_url(subdomain: root_subdomain) do
      %h3.sub-title
        = Project.model_name.human
    .row
      = render Project.recent.limit(3)
    %hr{style:"color:rgba(230, 230, 230, 1);height:2px;margin-top:0px;"}


%section#petitions.page-block
  .container
    = link_to petitions_url(subdomain: root_subdomain) do
      %h3.sub-title= Petition.model_name.human
    .row
      = render Petition.recent.limit(3)


- discussions = Discussion.recent.limit(10)
%section#discussions.page-block
  .container
    = link_to discussions_url(subdomain: root_subdomain) do
      %h3.sub-title= Discussion.model_name.human
    %table.table
      = render discussions

%section#communities
  .container
    %h3.sub-title
      커뮤니티
    .board
      .tab-title
        .notice.active
          공지사항
        .recent
          최신글
      .tab-body
        .notice
          - @pinned_posts.each do |pinned_post|
            .posts
              %span.datetime
                = date_f pinned_post["created_at"].to_date
              %a{href:"http://parti.xyz"}
                = truncate(pinned_post["specific_desc_striped_tags"], :length => 30)
        .recent{style:"display:none;"}
          - @recent_posts.each do |recent_post|
            .posts
              %span.datetime
                = date_f recent_post["created_at"].to_date
              %a{href:"http://parti.xyz"}
                = truncate(recent_post["specific_desc_striped_tags"], :length => 30)
