- cover_image = @campaign.cover_image_url(:lg)
%section.cover-section{ style: "background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(#{cover_image})" }
  .container.container-fluid
    - if @project
      .cover-section__project
        = link_to @project.title, @project

    %h2.cover-section__title
      = @campaign.title

    - if can?(:edit, @campaign) || can?(:destroy, @campaign)
      .cover-section__buttons
        - if can? :edit, @campaign
          = link_to '수정', edit_campaign_path(@campaign)
        - if can? :destroy, @campaign
          = link_to '삭제', @campaign, method: :delete, data: { confirm: '삭제하시겠습니까?' }

    .cover-section__body= raw @campaign.body

    %h4.cover-section__users-count
      %span
        %i.fa.fa-comment-o
        = @campaign.comments.count

    .share-box{ 'data-share-image': image_url('seo.png') }

%section{ style: 'margin: 28px 0;' }
  .container-fluid
    - @campaign.comments.tag_counts_on(:tags).each do |tag|
      - if params[:tag] == tag.name
        %span{ class:'search__tags', style: 'display: inline-block; background-color: #4a5dd0; padding: 7px 14px; border: 1px solid #4a5dd0; border-radius: 28px; color: #fff; margin-bottom: 7px;' }
          = link_to tag.name, campaign_path(@campaign, {tag: tag.name}), style: 'color: #fff'
          %small
            = tag.count
      - else
        %span{ class:'search__tags', style: 'display: inline-block; padding: 7px 14px; border: 1px solid #4a5dd0; border-radius: 28px; margin-bottom: 7px;' }
          = link_to tag.name, campaign_path(@campaign, {tag: tag.name})
          %small.text-muted
            = tag.count

    %span.nav-toxic{ style: 'margin-left: 14px' }
      = link_to campaign_path(@campaign, {toxic: true}) do
        %i.fa.fa-warning
        검토 중인 의견
        (#{@campaign.comments.where(toxic: true).count})


%section{ style: 'margin: 28px 0;' }
  .container-fluid
    .row.masonry-container
      - if @campaign.opened?
        .col-sm-6.col-md-4.col-lg-3
          .panel.panel-default.panel-floating
            .panel-body
              = form_for Comment.new, html: { class: 'gov-action-form-validation' } do |f|
                = f.hidden_field :commentable_type, value: 'Campaign'
                = f.hidden_field :commentable_id, value: @campaign.id
                = invisible_captcha
                - unless user_signed_in?
                  .form-group
                    = f.label :commenter_name, '한 줄 소개'
                    = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
                  .form-group
                    = f.label :commenter_email
                    = f.text_field :commenter_email, class: 'form-control'
                .form-group
                  ~ f.text_area :body, placeholder: '나의 의견은 ...', rows: 8, class: 'form-control input-lg', data: { 'rule-required': true }
                .form-group
                  = f.text_field :tag_list, placeholder: '태그1, 태그2', class: 'form-control'
                = f.submit '작성', class: 'btn btn-primary btn-sm btn-block'

      - @comments.recent.each do |comment|
        .col-sm-6.col-md-4.col-lg-3
          .panel.panel-default.panel-floating[comment]{ class: (comment.toxic? ? 'comment-toxic': '') }
            .panel-body
              .comment__body
                %h4{ style: 'font-size: 16px; letter-spacing: -0.02em; line-height: 1.4;'}= smart_format comment.body
              .comment__tags
                - comment.tag_list.each do |tag|
                  = link_to "##{tag}", campaign_path(@campaign, {tag: tag})
              .comment__meta{ style: 'color: #5f5f5f;font-size: 12px' }
                = comment.user_nickname
                = date_f comment.created_at
                - if can? :destroy, comment
                  = link_to '삭제', comment, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
                - if current_user != comment.user
                  = render 'reports/button', reportable: comment

              .comment__like{ style: 'margin-top: 14px;' }
                = render 'likes/button', likable: comment
    .text-center
      = paginate @comments, theme: 'twitter-bootstrap-3'
