%section.page-block
  %h3 이슈
  %table.table
    %thead
      %tr
        %th 이슈명
        %th 의제
        %th.text-right
          = link_to '추가', new_admin_issue_path, class: 'btn btn-sm btn-primary'
    %tbody
      - @issues.each do |issue|
        %tr
          %td
            %h5= issue.title
          %td
            = issue.agenda.name
          %td.text-right
            = link_to '수정', edit_admin_issue_path(issue), class: 'btn btn-xs btn-default'
            = link_to '삭제', admin_issue_path(issue), method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: 'btn btn-xs btn-danger'
