%section.page-block
  %h3 이슈
  = form_tag nil, class: 'form-inline', method: :get do
    .form-group
      = label_tag :agenda_id
      = select_tag :agenda_id, options_from_collection_for_select(Agenda.all, :id, :name), class: 'form-control js-select2'
    = submit_tag '보기', class: 'btn btn-default btn-sm'

  %hr
  %table.table
    %thead
      %tr
        %th 이슈명
        %th 의제
        %th 테마
        %th.text-right
          = link_to '추가', new_admin_issue_path, class: 'btn btn-sm btn-primary'
    %tbody
      - @issues.each do |issue|
        %tr
          %td
            %h5= link_to issue.title, issue
          %td
            = issue.agenda.name
          %td
            = issue.tag_list
          %td.text-right
            = link_to '수정', edit_admin_issue_path(issue), class: 'btn btn-xs btn-default'
            = link_to '삭제', admin_issue_path(issue), method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: 'btn btn-xs btn-danger'
