= form_for [:admin, @agenda], html: { class: 'ui form' } do |f|
  .field
    = f.label :name
    = f.text_field :name

  .form-group
    = f.label :tag_list
    = f.text_field :tag_list, value: @agenda.tag_list.try(:to_s), placeholder: '태그1, 태그2, 태그3', class: 'form-control'
    %p.help-block
      콤마로 태그를 구분해서 넣으세요.

  .field
    = f.label :request_opinion_example
    ~ f.text_area :request_opinion_example
  .field
    = f.label :request_amendment_example
    ~ f.text_area :request_amendment_example

  = f.submit '저장', class: 'ui button'
