%section.page-block
  .page-header
    %h2 의제

  .panel.panel-default
    %table.table.table-bordered
      %thead
        %tr
          %th 의제명
          %th 이슈
          %th.text-right
            = link_to '추가', new_admin_agenda_path, class: 'btn btn-sm btn-primary'
      %tbody
        - @agendas.each do |agenda|
          %tr
            %td
              %h5= link_to agenda.name, agenda, target: '_blank'
            %td
              = agenda.issues.count
              개의 이슈
            %td.text-right
              = link_to '수정', edit_admin_agenda_path(agenda), class: 'btn btn-xs btn-default'
              = link_to '삭제', admin_agenda_path(agenda), method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: 'btn btn-xs btn-danger'
