.container{style: 'background-color: #fff'}
  .header
    %h2 가브크래프트 뉴스레터
    %p
      한 주간 가브크래프트에서는 이런 일들이 있었습니다.
      %br/
      잘 지내시죠? 보고 싶어요 :)
    %a.link-btn{:href => "http://govcraft.org/", :style => "background-color:#4A5DD0", :target => "_blank"} 홈페이지
    %a.link-btn{:href => "http://wouldyouparty.slack.com", :style => "background-color:#e32072", :target => "_blank"} 슬랙
    %a.link-btn{:href => "https://trello.com/b/8yNqiEKP/-", :style => "background-color:#026AA7", :target => "_blank"} 트렐로
  - if @new_projects.any?
    .content
      .content-title
        프로젝트
      .sub-content
        - @new_projects.each do |project|
          = link_to polymorphic_url(project) do
            .sub-title
              = project.title
  - if @new_petitions.any?
    .content
      .content-title
        서명
      .sub-content
        - @new_petitions.each do |petition|
          = link_to polymorphic_url(petition) do
            .sub-title
              - if petition.project.present?
                .campaign-title= petition.project.title
              = petition.title
  - if @new_polls.any?
    .content
      .content-title
        투표
      .sub-content
        - @new_polls.each do |poll|
          = link_to polymorphic_url(poll) do
            .sub-title
              - if poll.project.present?
                .campaign-title= poll.project.title
              = poll.title
  - if @new_events.any?
    .content
      .content-title
        이벤트
      .sub-content
        - @new_events.each do |event|
          = link_to polymorphic_url(event) do
            .sub-title
              - if event.project.present?
                .campaign-title= event.project.title
              = event.title
  - if @new_articles.any?
    .content
      .content-title
        뉴스
      .sub-content
        - @new_articles.each do |article|
          = link_to polymorphic_url(article) do
            .sub-title
              = article.title
  .footer
    %h3
      %a(href='http://govcraft.org')
        %small
          세상을 바꾸는 시민들의 일상 정치 플랫폼
        가브크래프트
    = link_to '수신거부', edit_user_registration_url
