%section.page-block
  %h3 오피니언
  %table.table
    %thead
      %tr
        %th 스피커
        %th 이슈
        %th 요약
        %th.text-right
          = link_to '추가', new_admin_opinion_path, class: 'btn btn-sm btn-primary'
    %tbody
      - @opinions.each do |opinion|
        %tr
          %td
            = opinion.speaker.name
          %td
            = opinion.issue.title
          %td
            = link_to opinion.quote, opinion
          %td.text-right
            = link_to '수정', edit_admin_opinion_path(opinion), class: 'btn btn-xs btn-default'
            = link_to '삭제', admin_opinion_path(opinion), method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: 'btn btn-xs btn-danger'
