%section#about-section.change2020
  .container
    %h2
      %small{style:"color:#2b659c"}
        세대와 계층을 넘어<br/>
      %strong
        바꿈
      이
      %br
      %strong
        세상을 바꿉니다


%section#projects.page-block
  .container
    %h3.sub-title= Project.model_name.human
    .row
      = render @current_organization.projects.recent.limit(3)
    %hr{style:"color:rgba(230, 230, 230, 1);height:2px;margin-top:0px;"}


%section#petitions.page-block
  .container
    %h3.sub-title= Campaign.model_name.human
    .row
      = render Campaign.recent.by_organization(@current_organization).limit(3)

- discussions = Discussion.recent.where(project: @current_organization.projects).limit(10)
%section#discussions.page-block
  .container
    %h3.sub-title= Discussion.model_name.human

    .panel.panel-default.hidden-xs
      %table.table
        = render discussions

- stories = Story.recent.by_organization(@current_organization).limit(3)
- if stories.any?
  %section#stories.page-block
    .container
      = link_to stories_path do
        %h3.sub-title= Story.model_name.human
      .row
        = render stories
