%legend.m-t 서명 폼

.form-group
  = f.label :signs_goal_count
  = f.number_field :signs_goal_count, class: 'form-control'
  %p.help-block
    목표인수를 따로 정하지 않으려면 0으로 입력해 주세요.

.form-group
  .checkbox
    %label
      = f.check_box :sign_form_intro
      %strong 서명 폼 상단에 안내 문구를 적습니다.
.form-group
  = f.label :sign_form_intro
  = f.text_field :sign_form_intro, class: 'form-control'
  %p.help-block
    서명 폼에 대한 설명을 정합니다. 비워두면 표시되지 않습니다

.form-group
  = f.label :sign_title
  = f.text_field :sign_title, class: 'form-control'
  %p.help-block
    한마디 입력란의 설명을 정할 수 있습니다.

.form-group
  .checkbox
    %label
      = f.check_box :use_signer_real_name
      %strong 실명을 받습니다.
.form-group
  = f.label :signer_real_name_title
  = f.text_field :signer_real_name_title, class: 'form-control'
  %p.help-block
    실명 입력란에 대한 설명을 정합니다. 비워두면 "#{t('activerecord.attributes.sign.signer_real_name')}"으로 표시됩니다.

.form-group
  .checkbox
    %label
      = f.check_box :use_signer_email
      %strong 이메일을 받습니다.
.form-group
  = f.label :signer_email_title
  = f.text_field :signer_email_title, class: 'form-control'
  %p.help-block
    이메일 입력란에 대한 설명을 정합니다. 비워두면 "#{t('activerecord.attributes.sign.signer_email')}"으로 표시됩니다.

.form-group
  .checkbox
    %label
      = f.check_box :use_signer_address
      %strong 주소를 받습니다.
.form-group
  = f.label :signer_address_title
  = f.text_field :signer_address_title, class: 'form-control'
  %p.help-block
    주소 입력란에 대한 설명을 정합니다. 비워두면 "#{t('activerecord.attributes.sign.signer_address')}"로 표시됩니다.

.form-group
  .checkbox
    %label
      = f.check_box :use_signer_phone
      %strong 연락처를 받습니다.
.form-group
  = f.label :signer_phone_title
  = f.text_field :signer_phone_title, class: 'form-control'
  %p.help-block
    연락처 입력란에 대한 설명을 정합니다. 비워두면 "#{t('activerecord.attributes.sign.signer_phone')}"로 표시됩니다.

.form-group
  = f.label :confirm_privacy
  ~ f.text_area :confirm_privacy, class: 'form-control redactor'
  %p.help-block
    개인보호 정책 동의에 추가할 문구입니다. (선택사항)

.form-group
  %label
    서명받은 목록을 숨깁니다.
    = f.check_box :sign_hidden

.form-group
  = f.label :thanks_mention
  ~ f.text_area :thanks_mention, class: 'form-control redactor'
  %p.help-block
    비워두시면, 서명 이후에 '#{t('messages.signed')}'라는 문구로 표시됩니다.
    %br
    {{number}}라고 쓰시면 그자리에 서명 순번이 표시됩니다.

%legend.m-t 촉구

.form-group
  = f.label :agent_section_title
  = f.text_field :agent_section_title, class: 'form-control'
  %p.help-block
    촉구하기 영역의 제목을 정합니다. 비워두면 촉구 대상에 따라 적절히 표시됩니다.

.form-group
  = f.label :agent_section_response_title
  = f.text_field :agent_section_response_title, class: 'form-control'
  %p.help-block
    촉구하기에 대해 응답온 것을 표시하는 영역의 대한 설명을 정합니다. 비워두면 촉구 대상에 따라 적절히 표시됩니다.
