- speaker = opinion.speaker
.panel.panel-default
  .panel-body
    .media[opinion]
      .media-left
        = link_to opinion do
          %img.media-object{:src => speaker.image.xs.url}
      .media-body
        .row
          .col-sm-8.col-xs-7
            %h3.media-heading
              = link_to speaker_path(speaker, anchor: "issue_#{opinion.issue.id}") do
                = speaker.name
                %small= speaker.organization

            %p.lead{ style: 'margin-bottom: 0;' }
              = link_to opinion.quote, opinion

            - if opinion.body.present?
              != simple_format opinion.body
            - else
              %p.text-muted 상세한 #{Opinion.model_name.human}은 아직 없습니다.
          .col-sm-4.col-xs-5.text-right
            = render 'votes/panel', votable: opinion, show_voters: false