- speaker = opinion.speaker
.list-group-item.panel-opinion{ style: 'padding: 15px;' }
  .media[opinion]
    .hidden-xs
      .media-left
        = link_to speaker_path(speaker) do
          %img.media-object.speaker-image{style: "background-image: url(#{speaker.image.xs.url});"}
      .media-body
        %h5.media-heading
          - lead = capture do
            - if opinion.quote.present?
              != simple_format h(opinion.quote), style: 'font-size: 1.2em; font-weight: 200;'
            - if opinion.stance.present?
              %p{ style: 'font-size: 1.2em; font-weight: 200;' }= opinion.stance_long_text_by_theme
          - if lead.try(:strip).present?
            = link_to lead, opinion_path(opinion)

        %p
          = link_to speaker_path(speaker) do
            = speaker.name
            %span.text-muted= speaker.organization

        - if opinion.body.present?
          - if local_assigns[:show_full]
            != simple_format h(opinion.body)
          - else
            .text-muted
              != smart_truncate_html opinion.body, length: 40, ellipsis: "... <a href='#{opinion_path(opinion)}'>이전 발언 모두 보기</a>"

      .media-right.text-right{ style: 'white-space: nowrap;' }
        = render 'votes/panel', votable: opinion, show_voters: false, reactions_count_link: opinion_path(opinion)

    .visible-xs
      .media-left
        = link_to speaker_path(speaker) do
          %img.media-object.speaker-image{style: "background-image: url(#{speaker.image.xs.url});"}
      .media-body
        %h5.media-heading
          = link_to speaker_path(speaker) do
            = speaker.name
            %small= speaker.organization
        - if opinion.quote.present?
          = link_to opinion_path(opinion) do
            != simple_format h(opinion.quote), style: 'font-size: 1.5em; font-weight: 100; margin: .5em 0 .4em;'

        - if opinion.body.present?
          - if local_assigns[:show_full]
            != simple_format h(opinion.body)
          - else
            .text-muted
              != smart_truncate_html opinion.body, length: 40, ellipsis: "... <a href='#{opinion_path(opinion)}'>이전 발언 모두 보기</a>"

        .m-t.text-center
          = render 'votes/panel', votable: opinion, show_voters: false, reactions_count_link: opinion_path(opinion)
