- speaker = opinion.speaker
.panel.panel-opinion.panel-default[opinion]
  .panel-body
    .media[opinion]
      .media-left
        = link_to speaker_path(speaker) do
          .media-object.image.speaker-image.speaker-image--mini{style: "background-image: url(#{speaker.image.xs.url});"}
      .media-body
        .row
          .col-sm-9.col-xs-12
            - link_to_opinion = opinion_path(opinion)
            - lead = capture do
              - if opinion.quote.present?
                %h4.media-heading
                  != simple_format h(opinion.quote)
              - if opinion.stance.present?
                %h4.media-heading
                  = opinion.stance_long_text_by_theme

            - if lead.try(:strip).present?
              = link_to lead, link_to_opinion

            .opinion__body
              - if opinion.body.present?
                - if local_assigns[:show_full]
                  != simple_format h(opinion.body)
                - else
                  != smart_truncate_html opinion.body, length: 130, ellipsis: "... <a href='#{link_to_opinion}'>이전 발언 모두 보기</a>"

          .col-sm-3.col-xs-12.text-right-sm.margin-xs-12
            = render 'votes/panel', votable: opinion, show_voters: false, reactions_count_link: link_to_opinion
