- opinion ||= @opinion
.vote-widget
  .vote-panel{id: vote_panel_dom_id(opinion)}
    - vote = user_signed_in? ? opinion.fetch_vote_of(current_user) : fetch_anonymous_vote(opinion)
    .vote-button
      - if vote.present? && vote.choice == 'agree'
        = link_to cancel_votes_path(votable_id: opinion.id, votable_type: opinion.class.name, widget: true, agenda_name: agenda_name), method: :post, remote: true, class: 'btn btn-choice btn-lg btn-agree btn-agree__after' do
          = image_tag 'icon_thumb_up.png', class: 'choice__label choice__label__agree'
          %span.choice__count= opinion.agrees_count
      - else
        = link_to polymorphic_url(['agree', :votes], votable_id: opinion.id, votable_type: opinion.class.name, widget: true, agenda_name: agenda_name), method: :post, remote: true, class: 'btn btn-choice btn-lg btn-agree btn-agree__before' do
          = image_tag 'icon_thumb_up.png', class: 'choice__label choice__label__agree'
          %span.choice__count= opinion.agrees_count
    .vote-button
      - if vote.present? && vote.choice == 'disagree'
        = link_to cancel_votes_path(votable_id: opinion.id, votable_type: opinion.class.name, widget: true, agenda_name: agenda_name), method: :post, remote: true, class: 'btn btn-choice btn-lg btn-disagree btn-disagree__after' do
          = image_tag 'icon_thumb_down.png', class: 'choice__label choice__label__disagree'
          %span.choice__count= opinion.disagrees_count
      - else
        = link_to polymorphic_url(['disagree', :votes], votable_id: opinion.id, votable_type: opinion.class.name, widget: true, agenda_name: agenda_name), method: :post, remote: true, class: 'btn btn-choice btn-lg btn-disagree btn-disagree__before' do
          = image_tag 'icon_thumb_down.png', class: 'choice__label choice__label__disagree'
          %span.choice__count= opinion.disagrees_count
    = link_to agent_path(opinion.agent, agenda_id: Agenda.find_by(name: agenda_name).try(:id), anchor: 'anchor-opinion-comments-list'), target: ('_wyp' if local_assigns[:widget]), class: 'header', target: '_blank' do
      %span.votable-comments-count
        .comment-icon
        - if opinion.notes.count > 0
          #{opinion.notes.count}
