- issue = @opinion.issue
- agent = @opinion.agent

= render 'agents/header', agent: agent

%section.page-block
  .container
    - if issue.agenda_theme.present?
      = render 'agenda_themes/line_item', agenda_theme: issue.agenda_theme

    .page-header
      %h2
        - issue.agendas.each do |agenda|
          = link_to agenda.name, agenda
    %h3
      = link_to issue.title, issue
      %small
        = link_to new_or_edit_admin_opinions_path(issue_id: issue.id, agent_id: agent.id), class: 'text-danger' do
          #{Opinion.model_name.human} 수정

    - if issue.body.present?
      .issue-body
        != simple_format(h(issue.body.strip))

    %section.opinion-show[@opinion]{ style: 'margin-bottom: 2em' }
      - opinions = issue.opinions.recent.of_agent(agent)
      = render @opinion, show_full: true

    .post-block__share
      %h4 이 #{Opinion.model_name.human}를 친구들에게 알려 주세요
      .share-box

%section.page-block.post-block__notes
  .container
    = render 'notes/list', opinion: @opinion

%section.page-block
  .container
    %p
      %strong
        = link_to issue do
          #{issue.title}에 대한 다른 #{Opinion.model_name.human} 보기
          %i.fa.fa-arrow-right
