- agenda = @opinion.issue.agenda
- issue = @opinion.issue
- speaker = @opinion.speaker

- if params[:theme_tag].present?
  = render 'agendas/theme_header', theme_tag: params[:theme_tag], speaker: speaker
- else
  = render 'speakers/header', speaker: speaker

%section.page-block
  .container
    %h3
      = link_to agenda.name, agenda_path(agenda, theme_tag: params[:theme_tag]), class: 'label label-default'
      = link_to issue.title, issue_path(issue, theme_tag: params[:theme_tag])
      %small
        = link_to new_or_edit_admin_opinions_path(issue_id: issue.id, speaker_id: speaker.id), class: 'text-danger' do
          의견 수정

    %section.opinion-show[@opinion]{ style: 'margin-bottom: 2em' }
      - opinions = issue.opinions.recent.of_speaker(speaker)
      = render @opinion, show_full: true, theme_tag: params[:theme_tag]


%section.page-block.post-block__notes
  .container
    = render 'notes/list', opinion: @opinion


%section.page-block
  .container
    %p
      %strong
        = link_to issue_path(issue, theme_tag: params[:theme_tag]) do
          #{issue.title}에 대한 다른 #{Opinion.model_name.human}보기
          %i.fa.fa-arrow-right
