- agenda = @opinion.issue.agenda
- issue = @opinion.issue
- speaker = @opinion.speaker

= render 'speakers/header', speaker: speaker, theme_tag: params[:theme_tag]

.agenda-container
  %section.cover-section.cover-section-small{style: "background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(#{asset_url(agenda.image_url(:lg))});"}
    .container
      %h2
        %small
          %span.label.label-danger= Agenda.model_name.human
        %br
        = link_to agenda_path(agenda, theme_tag: params[:theme_tag]), style: 'color: white' do
          = agenda.name

%section.page-block
  .container
    %h3
      = link_to issue.title, issue_path(issue, theme_tag: params[:theme_tag])
      %small
        = link_to new_or_edit_admin_opinions_path(issue_id: issue.id, speaker_id: speaker.id), class: 'text-danger' do
          의견 수정

    %section.opinion-show[@opinion]{ style: 'margin-bottom: 2em' }
      - opinions = issue.opinions.recent.of_speaker(speaker)
      = render @opinion, show_full: true, theme_tag: params[:theme_tag]


%section.page-block.post-block__notes
  .container
    = render 'notes/list', opinion: @opinion


%section.page-block
  .container
    %p
      %strong
        = link_to issue_path(issue, theme_tag: params[:theme_tag]) do
          #{issue.title}에 대한 다른 #{Opinion.model_name.human}보기
          %i.fa.fa-arrow-right
