%a{id: "anchor-agents"}
%h3.sub-title 촉구하기
.panel-body{style:"padding:0px"}
  .panel-post__agents
    .row.masonry-container
      - event.agents.each do |agent|
        .col-md-3.col-sm-4.col-xs-12
          = render 'statementables/agent', agent: agent, statementable: event
    - if event.agents.count > 1
      = link_to [:new_comment_agent, event], class: 'btn btn-primary btn-lg' do
        #{event.agents.count}명 모두에게 촉구하기
        %i.fa.fa-arrow-right

- if event.statements.responded_body.any?
  %h3.sub-title 응답메시지
  .panel-body{style:"padding:0px"}
    .panel-post__statements
      .row.masonry-container
        - event.statements.responded_body.recent.each do |statement|
          - agent = statement.agent
          .col-md-6.col-sm-12
            .panel.panel-opinion.panel-default[statement]
              .panel-body{ style: 'padding: 14px' }
                .media[statement]
                  .media-left
                    = link_to agent_path(agent) do
                      .media-object.image.user-image-sm{style: "background-image: url(#{agent.image.xs.url}); background-size:cover; background-repeat: no-repeat; background-position: top;"}

                  .media-body
                    - if statement.stance.present?
                      %h4.media-heading
                        = statement.stance.text
                    %p
                      = link_to agent_path(agent) do
                        = agent.name
                        %span.text-muted= agent.organization
                    - if statement.body.present?
                      .opinion__body
                        != statement.body
