%a{id: "anchor-speakers"}
%h3.sub-title 촉구하기
.panel-body{style:"padding:0px"}
  .panel-post__speakers
    .row.masonry-container
      - event.speakers.each do |speaker|
        .col-md-3.col-sm-4.col-xs-12
          = render 'statementables/speaker', speaker: speaker, statementable: event
    - if event.speakers.count > 1
      = link_to [:new_comment_speaker, event], class: 'btn btn-primary btn-lg' do
        #{event.speakers.count}명 모두에게 촉구하기
        %i.fa.fa-arrow-right

- if event.statements.responed_body.any?
  %h3.sub-title 응답메시지
  .panel-body{style:"padding:0px"}
    .panel-post__statements
      .row.masonry-container
        - event.statements.responed_body.recent.each do |statement|
          - speaker = statement.speaker
          .col-md-6.col-sm-12
            .panel.panel-opinion.panel-default[statement]
              .panel-body{ style: 'padding: 14px' }
                .media[statement]
                  .media-left
                    = link_to speaker_path(speaker) do
                      .media-object.image.user-image-sm{style: "background-image: url(#{speaker.image.xs.url}); background-size:cover; background-repeat: no-repeat; background-position: top;"}

                  .media-body
                    - if statement.stance.present?
                      %h4.media-heading
                        = statement.stance.text
                    %p
                      = link_to speaker_path(speaker) do
                        = speaker.name
                        %span.text-muted= speaker.organization
                    - if statement.body.present?
                      .opinion__body
                        != statement.body
