.panel.panel-default
  .panel-body
    = form_for [:admin, @agent] do |f|
      .form-group
        = f.label :image
        = f.file_field :image, class: 'form-control'
        = f.hidden_field :image_cache, value: f.object.image_cache
        %p
        - if f.object.read_attribute(:image).present? and f.object.image?
          = image_tag f.object.image.xs.url

      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :organization
        = f.text_field :organization, class: 'form-control'

      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control'

      .form-group
        = f.label :twitter
        = f.text_field :twitter, placeholder: '아이디만 적어주세요 (ex. @nick_name이라면 nick_name만 쓰기 )', class: 'form-control'

      .form-group
        = f.label :public_site
        = f.text_field :public_site, class: 'form-control'

      .form-group
        = f.label :election_region
        = f.text_field :election_region, placeholder: 'ex) 은평갑', class: 'form-control'

      .form-group
        = f.label :category
        = f.select :category, Agent.category.options, {}, class: 'form-control'

      .form-group
        = f.label '포지션'
        = f.text_field :position_name_list, value: @agent.position_name_list, placeholder: 'ex)19대_대선후보, 20대_국회의원', class: 'form-control'
        .help-text
          %p
            아래 포지션 중에 선택해서 입력해 주세요.
            = link_to admin_positions_path do
              포지션관리하기
              %i.fa.fa-arrow-right
          %p= Position.all.map(&:name).join(' / ')

      .form-group
        = f.submit '저장', class: 'btn btn-primary'
