= form_for @discussion do |f|
  - if @project.present?
    = f.hidden_field :project_id, value: @project.id

  - if @project.present? and @project.discussion_categories.any?
    .form-group
      = f.label :discussion_category
      = f.select :discussion_category_id, options_for_select( @project.discussion_categories.map { |c| [ c.title, c.id ] }, @discussion.discussion_category_id ), {}, class: 'form-control'
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :body
    ~ f.text_area :body, rows: 10, class: 'form-control redactor'

  .form-group
    = f.submit '저장', class: 'btn btn-primary'
