= form_for @discussion do |f|
  - if @campaign.present?
    = f.hidden_field :campaign_id, value: @campaign.id

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :body
    ~ f.text_area :body, rows: 10, class: 'form-control redactor'

  .form-group
    = f.submit '저장', class: 'btn btn-primary'
