- on_project_show = params[:controller] == 'projects' and params[:action] = 'show'
%section
  .container
    - if @project.present?
      %h3.sub-title
        = local_assigns[:title_label] || @project.try(:component_title, 'discussion')
        %small.pull-right
          = link_to "게시글 쓰기", new_discussion_path(project_id: @project, discussion_category_id: params[:discussion_category_id]), class: 'btn btn-default btn-inverted btn-sm'
          - if can? :edit, @project
            = link_to "#{DiscussionCategory.model_name.human} 추가", new_discussion_category_path(project_id: @project), class: 'btn btn-default btn-inverted btn-sm'
    - else
      %h3.sub-title
        = Discussion.model_name.human

    - if @project.present? and @project.discussion_categories.any?
      %ul.list-inline.discussion-categories
        %li{ class: ('active' if params[:discussion_category_id].blank?) }
          = link_to "전체(#{@project.discussions.count})", discussions_path(project_id: @project)
        - @project.discussion_categories.each do | discussion_category |
          \|
          %li{ class: ('active' if discussion_category.id.to_s == params[:discussion_category_id]) }
            = link_to "#{discussion_category.title}#{"(#{discussion_category.discussions_count})" if discussion_category.discussions_count > 0}", discussions_path(project_id: @project, discussion_category_id: discussion_category.id)
            - if can? :edit, @project
              = link_to discussion_category_path(discussion_category), method: :delete, class: 'btn btn-default btn-xs', data: { confirm: '삭제하시겠습니까?' } do
                %i.fa.fa-trash

    - if discussions.any?
      %table.table
        - if @project.present?
          = render partial: 'discussions/pinned_discussion', collection: @project.discussions.pinned
        = render discussions

      - if on_project_show and discussions.count < discussions.total_count
        = link_to discussions_path(project_id: @project), class: 'btn btn-default btn-block' do
          #{discussions.total_count}개 게시글 모두 보기
          %i.fa.fa-arrow-right
      - else
        .text-center
          = paginate discussions, theme: 'twitter-bootstrap-3'
    - else
      - if @project.present?
        .alert.alert-info
          %i.inbox.icon
          아직 게시글이 없습니다. 이야기를 시작해 볼까요?
          = link_to "게시글 쓰기", new_discussion_path(project_id: @project, discussion_category_id: params[:discussion_category_id]), class: 'alert-link'
