%section#discussions-in-project.page-block
  .container
    .panel
      .panel-heading
        %h4
          = local_assigns[:title_label] || @project.try(:component_title, 'discussion')
          %small
            = link_to "글쓰기", new_discussion_path(project_id: @project)
      - if discussions.any?
        .panel-body
          - discussions.each do |discussion|
            = link_to discussion do
              .discussion-content
                %h3.discussion-title
                  %span
                    = discussion.title
                %p.discussion-content
                  = discussion.user.nickname
                  = date_f discussion.created_at
                  %br
                  = strip_tags discussion.body
      - else
        - if @project.present?
          .panel-body
            %small.text-muted
              아직 게시글이 없습니다. 이야기를 시작해 볼까요?
              %br
              = link_to "#{Discussion.model_name.human} 쓰기", new_discussion_path(project_id: @project)
