#bloc-11.bloc.bgc-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        .panel
          .panel-heading
            %h3.mg-clear.tc-outer-space
              = local_assigns[:title_label] || @project.try(:component_title, 'discussion')
              %small
                = link_to "글쓰기", new_discussion_path(project_id: @project)
          - if discussions.any?
            .panel-body
              - discussions.each do |discussion|
                = link_to discussion do
                  .discussion-content
                    %h3.mg-sm.tc-outer-space
                      %span
                        = discussion.title
                    %p.mg-md
                      = discussion.user.nickname
                      = date_f discussion.created_at
                      %br
                      = strip_tags discussion.body
/ Footer - bloc-11 END
