%section#discussions.page-block
  .container
    %h4
      = local_assigns[:title_label] || @campaign.try(:component_title, 'discussion')
      %small
        = link_to "글쓰기", new_discussion_path(campaign_id: @campaign)
    .panel.panel-default.panel-floating
      - if discussions.any?
        %ul.list-group.post-group
          - discussions.each do |discussion|
            %li.list-group-item[discussion]
              = link_to discussion do
                .post__status
                  %span.text-danger
                    %i.fa.fa-heart
                    = discussion.merged_likes_count

                - if discussion.campaign
                  .post__campaign= discussion.campaign.title

                %h4.list-group-item-heading
                  = discussion.title
                  - if discussion.comments.count > 0
                    %small
                      (#{discussion.comments.count})
                .post__meta
                  .row
                    .col-xs-6
                      %span.nickname
                        = discussion.user.nickname
                      %span.created_at
                        = date_f discussion.created_at
                    .col-xs-6.text-right
                      %span
                        %i.fa.fa-eye
                        = discussion.views_count

      - else
        - if @campaign.present?
          .panel-body
            %small.text-muted
              아직 게시글이 없습니다. 이야기를 시작해 볼까요?
              %br
              = link_to "#{Discussion.model_name.human} 쓰기", new_discussion_path(campaign_id: @campaign)
