%section#discussions-section.page-block
  .container
    .row
      .col-xs-6
      .col-xs-6.text-right
        = link_to '토론 글쓰기', new_campaign_discussion_path(@campaign), class: 'btn btn-default btn-sm'

    %table.table{ style: 'margin: 28px 0;'}
      %thead
        %tr
          %th.text-center 번호
          %th 제목
          %th 글쓴이
          %th.text-right 댓글
          %th.text-right 조회
          %th.text-center 작성일
      %tbody
        - @discussions.each do |discussion|
          %tr[discussion]
            %td.text-muted.text-center
              = discussion.id
            %td.discussion__title
              %strong= link_to discussion.title, discussion
            %td.discussion__nickname
              = discussion.user.nickname
            %td.discussion__cnt.text-right
              = discussion.comments.count
            %td.discussion__cnt.text-right
              = rand(100)
            %td.discussion__created_at.text-center
              = date_f discussion.created_at

