- if @project
  = render 'projects/header', project: @project
%section#discussion-header.component-header
  .container
    %span.gov-label
      게시판
    %br
    =@discussion.title
    %div{ style: 'margin-top: 16px;font-size:16px;'}
      %span.panel-post__date
      - if can? :edit, @discussion
        = link_to '수정', edit_discussion_path(@discussion)
      - if can? :destroy, @discussion
        = link_to '삭제', @discussion, method: :delete, data: { confirm: '삭제하시겠습니까?' }
%section#discussion-block
  .user-info
    .user-image{style: "background-image:url(#{asset_url(@discussion.user.image)});"}
    = link_to @discussion.user.nickname
  .container
    %div{style:"font-weight:700;margin:40px 0px"}
      %i.fa.fa-calendar
      = date_f @discussion.created_at
      &nbsp;&nbsp;&nbsp;
      %i.fa.fa-file-text-o
      조회
      = @discussion.views_count
    .panel.panel-default.panel-post
      .panel-body
        .panel-post__body
          = raw @discussion.body

        .panel-post__like.text-center
          = render 'likes/button', likable: @discussion

        .panel-post__share.text-center
          .share-box{ 'data-share-image': image_url('seo.png') }

      .panel-body
        .panel-post__comments
          = render 'comments/list', commentable: @discussion

- if @project
  %section
    = render 'discussions/list', discussions: @project.discussions.recent.page(1).per(10)

  = render 'projects/post_footer', project: @project
