%section.page-block
  .container
    .row
      .col-xs-6
        = link_to '목록', campaign_discussions_path(@campaign), class: 'btn btn-default btn-sm'
      .col-xs-6.text-right
        = link_to "#{Discussion.model_name.human} 글쓰기", new_campaign_discussion_path(@campaign), class: 'btn btn-default btn-sm'

%section#discussion-block.page-block.post-block
  .container
    .post-block__title
      %h3= @discussion.title

    .post-block__info
      .row
        .col-xs-6
          %span.post-block__user
            = link_to @discussion.user.nickname
          %span.post-block__date
            = date_f @discussion.created_at
          - if can? :edit, @discussion
            = link_to '수정', edit_discussion_path(@discussion)
          - if can? :destroy, @discussion
            = link_to '삭제', @discussion, method: :delete, data: { confirm: '삭제하시겠습니까?' }
        .col-xs-6.text-right
          조회 #{@discussion.views_count}

    .post-block__body
      = raw @discussion.body

    .post-block__like
      = render 'likes/button', likable: @discussion

    .post-block__comments
      = render 'comments/list', commentable: @discussion
