- cover_image = petition.cover_image_url(:lg)
%section.cover-section{ style: "background-image: url(#{cover_image})" }
  .container.container-fluid
    %h2.cover-section__title
      = petition.title

    - if can?(:edit, petition) || can?(:destroy, petition)
      .cover-section__buttons
        - if can? :edit, petition
          = link_to '수정', edit_petition_path(petition)
        - if can? :destroy, petition
          = link_to '삭제', petition, method: :delete, data: { confirm: '삭제하시겠습니까?' }

    .cover-section__body= raw petition.body

    %h4.cover-section__users-count
      %span
        %i.fa.fa-comment-o
        = petition.comments.count

    .share-box{ 'data-share-image': image_url('seo.png') }

