- if user_signed_in?
  .comments-form
    = form_for Comment.new do |f|
      = f.hidden_field :commentable_type, value: commentable.class.name
      = f.hidden_field :commentable_id, value: commentable.id
      .form-group
        ~ f.text_area :body, placeholder: '댓글 쓰기...', class: 'form-control'
      = f.submit '작성', class: 'btn btn-default btn-sm'

.comments
  - commentable.comments.recent.each do |comment|
    %div[comment]{ style: 'margin: 14px 0;'}
      %small.comment-meta.text-muted
        = comment.user.nickname
        = date_f comment.created_at
      - if comment.choice.present?
        .comment-choice= comment.choice.text
      .comment-body
        = comment.body
