%h4 의견을 남겨주세요

.comments-form
  = form_for Comment.new, html: { class: 'gov-action-form-validation' } do |f|
    = f.hidden_field :commentable_type, value: commentable.class.name
    = f.hidden_field :commentable_id, value: commentable.id
    - unless user_signed_in?
      .row
        .col-xs-12.col-md-6
          .form-group
            = f.label :commenter_name
            = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
        .col-xs-12.col-md-6
          .form-group
            = f.label :commenter_email
            = f.text_field :commenter_email, class: 'form-control'
    .form-group
      ~ f.text_area :body, placeholder: '제 생각에는...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), data: { 'rule-required': true }
    - unless user_signed_in?
      .form-group.recaptcha
        .help-block 스팸 방지를 위해 사람인지 확인합니다. 아래 체크 박스를 클릭해 주세요.
        = hidden_field_tag :hiddenRecaptcha, nil, class: 'validate'
        .gov-action-recaptcha
    = f.submit '작성', class: 'btn btn-default btn-inverted'

= render 'comments/page', local_assigns.merge(comments: commentable.comments)
