%h4 의견을 남겨주세요

.comments-form
  = form_for Comment.new, html: { class: 'gov-action-form-validation' } do |f|
    = f.hidden_field :commentable_type, value: commentable.class.name
    = f.hidden_field :commentable_id, value: commentable.id
    - unless user_signed_in?
      .row
        .col-xs-12.col-md-6
          .form-group
            = f.label :commenter_name
            = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
        .col-xs-12.col-md-6
          .form-group
            = f.label :commenter_email
            = f.text_field :commenter_email, class: 'form-control'
    .form-group
      ~ f.text_area :body, placeholder: '제 생각에는...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), data: { 'rule-required': true }
    - unless user_signed_in?
      .form-group.recaptcha
        .help-block 스팸 방지를 위해 사람인지 확인합니다. 아래 체크 박스를 클릭해 주세요.
        = hidden_field_tag :hiddenRecaptcha, nil, class: 'validate'
        .gov-action-recaptcha
    = f.submit '작성', class: 'btn btn-default btn-inverted'

.comments
  - commentable.comments.recent.each do |comment|
    .media[comment]{ style: 'margin: 14px 0; border-top: 1px solid #ddd; padding-top: 12px;'}
      - if comment.target_speaker.present?
        .comment__to-speaker
          %span.label.label-default.label-image
            = image_tag comment.target_speaker.image.xs.url
            #{comment.target_speaker.organization} #{comment.target_speaker.name}님에게 보낸 의견입니다.
      .media-body
        .comment__meta
          %span
            %i.fa.fa-user-o
            = comment.user_nickname
          = date_f comment.created_at
          - if can? :destroy, comment
            = link_to '삭제', comment, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
          - if current_user != comment.user
            = render 'reports/button', reportable: comment

        - if comment.choice.present?
          .comment__choice{ class: comment.choice }= comment.choice.text
        .comment__body
          = raw screened(comment, :body)
      .media-right.xs-hidden{ style: 'vertical-align: middle;' }
        = render 'likes/button', likable: comment
