%h4 의견을 남겨주세요

.comments-form
  = form_for Comment.new do |f|
    = f.hidden_field :commentable_type, value: commentable.class.name
    = f.hidden_field :commentable_id, value: commentable.id
    - unless user_signed_in?
      .row
        .col-xs-12.col-md-6
          .form-group
            = f.label :commenter_name
            = f.text_field :commenter_name, class: 'form-control'
        .col-xs-12.col-md-6
          .form-group
            = f.label :commenter_email
            = f.text_field :commenter_email, class: 'form-control'
    .form-group
      ~ f.text_area :body, placeholder: '제 생각에는...', class: 'form-control ' + ( is_redactorable? ? 'redactor' : '')
    = f.submit '작성', class: 'btn btn-default btn-sm'

.comments
  - commentable.comments.recent.each do |comment|
    .media[comment]{ style: 'margin: 14px 0;'}
      .media-body
        .comment__meta
          = comment.user_nickname
          = date_f comment.created_at
          - if can? :destroy, comment
            = link_to '삭제', comment, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
          - if current_user != comment.user
            = render 'reports/button', reportable: comment

        - if comment.choice.present?
          .comment__choice= comment.choice.text
        .comment__body
          = raw screened(comment, :body)
      .media-right{ style: 'vertical-align: middle;' }
        = render 'likes/button', likable: comment
