.comments
  - comments.recent.each do |comment|
    .media[comment]{ style: 'margin: 14px 0; border-top: 1px solid #ddd; padding-top: 12px;'}
      .media-body
        .comment__meta
          - commenter = User.find_by(id: comment.user_id)
          .user-image-sm{style:"float:left;background-image:url(#{asset_url(commenter.nil? ? comment.image : commenter.image)});"}
          .comment__user-nm
            = comment.user_nickname
          - if comment.target_speaker.present?
            .comment__to-speaker
              %span.comment__arrow
                >
              .user-image-sm{style:"background-image:url(#{asset_url(comment.target_speaker.image.xs.url)});float:left;margin-left:5px;"}
              .comment__user-nm
                #{comment.target_speaker.organization} #{comment.target_speaker.name}님에게 보낸 의견입니다.
            .comment__to-speaker_mobile
              %span
                #{comment.user_nickname}
              님이
              %span
                #{comment.target_speaker.organization} #{comment.target_speaker.name}
              님에게
          .comment__action
            - if can? :destroy, comment
              = link_to '삭제', comment, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
            - if current_user != comment.user
              = render 'reports/button', reportable: comment

        - if comment.choice.present?
          .comment__choice{ class: comment.choice }= comment.choice.text
        .comment__body
          %p
            = raw screened(comment, :body)
          .comment__date
            %i.fa.fa-calendar
            = date_f comment.created_at
          %div{style:"float:right;"}
            = render 'likes/button', likable: comment
- if comments.first.try(:commentable).present?
  - commentable = comments.first.commentable
  .text-center
    = paginate comments, theme: 'twitter-bootstrap-3', params: { controller: 'comments', action: 'index', commentable_id: commentable.id, commentable_type: commentable.class.name, id: nil }
