.comments
  - comments.recent.each do |comment|
    - commenter = User.find_by(id: comment.user_id)
    .media[comment]
      .media-left
        .comment__user
          .user-image-sm{style:"float:left;background-color: #eee; background-image:url(#{asset_url(commenter.nil? ? 'default-user.png' : commenter.image)}); #{"background-position: 0 4px; background-repeat: no-repeat;" if commenter.nil?}"}
      .media-body
        - has_target_class = comment.target_speakers.any? ? "has_target" : ""
        .comment__body{ class: has_target_class }
          - if comment.target_speakers.any?
            .comment__to-speaker
              - target_speaker = comment.target_speakers.first
              %span.comment__to-speaker_default.hidden-xs
                #{target_speaker.organization} #{target_speaker.name}님#{(" 이외 #{comment.target_speakers.count - 1}분" if comment.target_speakers.count > 1)}에게
              %span.comment__to-speaker_mobile.visible-xs
                = image_tag target_speaker.image.md.url, style: "height: 24px;"
                #{target_speaker.organization} #{target_speaker.name}
                님#{(" 이외 #{comment.target_speakers.count - 1}분" if comment.target_speakers.count > 1)}에게

          %p= raw screened(comment, :body)

        .comment__meta
          %span.comment__user-nm
            = comment.user_nickname

          %span.comment__date
            = date_f comment.created_at

          %span.comment__action
            - if can? :destroy, comment
              = link_to '삭제', comment, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
            - if current_user != comment.user
              = render 'reports/button', reportable: comment

          - if comment.choice.present?
            %span.comment__choice{ class: comment.choice }= comment.choice.text

          = render 'likes/button', likable: comment

- if comments.first.try(:commentable).present?
  - commentable = comments.first.commentable
  .text-center
    = paginate comments, theme: 'twitter-bootstrap-3', params: { controller: 'comments', action: 'index', commentable_id: commentable.id, commentable_type: commentable.class.name, id: nil, show_form: local_assigns[:show_form] }
