%section#races.page-block
  .container
    %h4
      = Race.model_name.human
      %small
        = link_to "인물투표 제안", new_race_path
    .panel.panel-default.panel-floating
      - if Race.any?
        %ul.list-group.post-group
          = render Race.recent
      - else
        .panel-body
          %small.text-muted
            가장 먼저 인물투표를 제안해 보세요.
            %br
            = link_to "인물투표 제안하기", new_race_path

%section#people.page-block
  .container
    %h4
      = Person.model_name.human
      - if can? :create, Person
        %small
          = link_to "인물등록", new_person_path
    .section
      - if Person.any?
        .row.masonry-container
          - Person.recent.each do |person|
            .col-sm-4.col-xs-6
              = render person, show_control_btns: true
