- statement = petition.statement_of(agent)

- agent_card = capture do
  = image_tag agent.image.md.url, style: "height: 28px;"
  %br
  %strong= agent.name
  %small= statement.try(:stance).try(:text)

- if statement.blank?
  - btn_stance_class = 'btn-default'
  - action_style = 'color: gray'
- if statement.try(:stance).try(:agree?)
  - btn_stance_class = 'btn-success'
  - action_style = 'color: white'
- elsif statement.try(:stance).try(:disagree?)
  - btn_stance_class = 'btn-danger'
  - action_style = 'color: white'
- else
  - btn_stance_class = 'btn-default'
  - action_style = 'color: gray'

%button.btn{ style: 'margin: 0 0 4px 0; cursor: default;', class: btn_stance_class }
  = agent_card
  %br
  %small
    - if statement.try(:body).present?
      %a{"href": "#", "data-target" => "#agent-statement-modal-#{agent.id}", "data-toggle" => "modal", :type => "button", style: action_style}
        %i.fa.fa-commenting-o
        답변보기
    %a{"href": "#", "data-target" => "#agent-request-modal-#{agent.id}", "data-toggle" => "modal", :type => "button", style: action_style}
      %i.fa.fa-paper-plane-o
      촉구하기

- if statement.try(:body).present?
  %div.modal.fade{id: "agent-statement-modal-#{agent.id}", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &#215;
          %h4.modal-title
            = image_tag agent.image.md.url, style: "height: 36px;"
            %strong= agent.name
            %span.text-muted= agent.organization
            님의 답변

        .modal-body
          .media[statement]
            .media-body
              - if statement.stance.present?
                %h4.media-heading{ style: 'line-height: 24px;' }
                  %span.text-success= statement.stance.text

              - if statement.body.present?
                .opinion__body{ style: 'font-weight: normal;' }
                  != statement.body

              %div
                = link_to agent, class: 'btn btn-success btn-block' do
                  %strong= agent.name
                  = agent.organization
                  님의 다른 답변 보기


%div.modal.fade{id: "agent-request-modal-#{agent.id}", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %h4.modal-title
          = image_tag agent.image.md.url, style: "height: 36px;"
          %strong= agent.name
          %span.text-muted= agent.organization
          에게 촉구하기

      .modal-body
        .comments-form
          = form_for Comment.new, html: { class: 'gov-action-form-validation' } do |f|
            = f.hidden_field :commentable_type, value: 'Petition'
            = f.hidden_field :commentable_id, value: petition.id
            = f.hidden_field :target_agent_id, value: agent.id
            = invisible_captcha
            - unless user_signed_in?
              .row
                .col-xs-12.col-md-6
                  .form-group
                    = f.label :commenter_name
                    = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
                .col-xs-12.col-md-6
                  .form-group
                    = f.label :commenter_email, agent.email.present? ? "이메일(#{agent.name}님에게 메일을 발송하려면 반드시 넣어주세요)" : nil
                    = f.text_field :commenter_email, class: 'form-control'
            .form-group
              ~ f.text_area :body, placeholder: '촉구합니다...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), data: { 'rule-required': true }
            - if agent.email.present?
              .form-group
                .checkbox
                  %label
                    = f.check_box :mailing, { checked: true }, 'ready', 'disable'
                    #{agent.name}님에게 메일로도 발송합니다.
            = f.submit '작성', class: 'btn btn-primary btn-block'
