- if petition.agents.any?
  %a{id: "anchor-agents"}

  %h5= petition.agent_section_title.presence || t('views.action_assignable.agent_section_title.default')

  - petition.total_action_assignables.each do |action_assignable|
    %h4{ style: 'margin-top: 28px' }= action_assignable.section_title_as_action_assignable

    - if petition.sure_agents(action_assignable).any?
      %div{ style: 'position: relative' }
        - scroll_container_indicator_left_id = "js-scroll-indicator-left-#{SecureRandom.uuid}"
        - scroll_container_indicator_right_id = "js-scroll-indicator-right-#{SecureRandom.uuid}"
        %div{ style: 'margin: 14px 0' }
          - petition.sure_agents(action_assignable).shuffle.each do |agent|
            = render 'petitions/agent', agent: agent, petition: petition, template: 'line', agency: action_assignable
        .arrows.hidden-xs
          .arrow-left.collapse{ id: scroll_container_indicator_left_id, style: 'position: absolute; top: 0.5em; left: -2rem;' }
            %i.fa.fa-chevron-left
          .arrow-right.collapse{ id: scroll_container_indicator_right_id, style: 'position: absolute; top: 0.5em; right: -2rem;' }
            %i.fa.fa-chevron-right

    - if petition.unsure_agents(action_assignable).any?
      %div
        - if petition.sure_agents(action_assignable).any?
          %h5.text-muted 응답하지 않은 분들에게 답변을 요청합니다
        - scroll_container_indicator_left_id = "js-scroll-indicator-left-#{SecureRandom.uuid}"
        - scroll_container_indicator_right_id = "js-scroll-indicator-right-#{SecureRandom.uuid}"
        %div{ style: 'position: relative' }
          %div.js-horizontal-scroll-container.no-container-margin-xs{ data: { 'scroll-indicator-left': "##{scroll_container_indicator_left_id}", 'scroll-indicator-right': "##{scroll_container_indicator_right_id}" }, style: 'white-space: nowrap; overflow-y: scroll; padding: 0 0 0.5em;' }
            - petition.unsure_agents(action_assignable).shuffle.each do |agent|
              = render 'petitions/agent', agent: agent, petition: petition, agency: action_assignable
            - if petition.not_agree_agents(action_assignable).count > 1
              %button.btn.btn-default.btn-inverted{ "data-target" => "#agent-request-all-modal-#{petition.id}-#{action_assignable.class.to_s}-#{action_assignable.id}", "data-toggle" => "modal", :type => "button", style: 'margin: 0 0 4px 0; line-height: 23px;' }
                %small
                  응답하지 않은 #{petition.not_agree_agents(action_assignable).count}명 모두에게
                  %i.fa.fa-paper-plane-o
                  촉구하기
          .arrows.hidden-xs
            .arrow-left.collapse{ id: scroll_container_indicator_left_id, style: 'position: absolute; top: 0.5em; left: -2rem;' }
              %i.fa.fa-chevron-left
            .arrow-right.collapse{ id: scroll_container_indicator_right_id, style: 'position: absolute; top: 0.5em; right: -2rem;' }
              %i.fa.fa-chevron-right


      %div.modal.fade{id: "agent-request-all-modal-#{petition.id}-#{action_assignable.class.to_s}-#{action_assignable.id}", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} &#215;
              %h4.modal-title
                찬성하지 않는 #{petition.not_agree_agents.count}명 모두에게 촉구하기

            .modal-body
              .comments-form
                = form_for Comment.new, html: { class: 'gov-action-form-validation' } do |f|
                  = f.hidden_field :commentable_type, value: 'Petition'
                  = f.hidden_field :commentable_id, value: petition.id
                  = hidden_field_tag :action_assignable_type, value: action_assignable.class.to_s
                  = hidden_field_tag :action_assignable_id, value: action_assignable.id
                  = f.hidden_field :mailing, value: :ready
                  = invisible_captcha
                  - unless user_signed_in?
                    .row
                      .col-xs-12.col-md-6
                        .form-group
                          = f.label :commenter_name
                          = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
                      .col-xs-12.col-md-6
                        .form-group
                          = f.label :commenter_email, "이메일(반드시 넣어주세요)"
                          = f.text_field :commenter_email, class: 'form-control'
                  .form-group
                    ~ f.text_area :body, placeholder: '촉구합니다...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), data: { 'rule-required': true }
                  = f.submit '작성', class: 'btn btn-primary btn-block'
