.panel.panel-default
  .panel-body
    - if petition.agents.empty?
      아직 촉구 중인 대상이 없습니다.

    - if petition.dedicated_agents.any?
      %h3 인물
      .row
        - petition.dedicated_agents.each do |agent|
          .col-xs-12.col-sm-4
            .media
              .media-left
                = link_to agent_path(agent) do
                  .image.agent-image.agent-image--mini{style: "background-image: url(#{agent.image.xs.url});"}
              .media-body
                %strong= agent.name
                %br
                = agent.organization
    - if petition.action_targets.any?
      - petition.action_targets.to_a.group_by(&:action_assignable_type).each do |action_assignable_type, action_targets|
        %h3= action_assignable_type.classify.safe_constantize.model_name.human
        .row
          - action_targets.each do |action_target|
            - action_assignable = action_target.action_assignable
            .col-xs-12.col-sm-4
              .media
                .media-body
                  = link_to action_assignable do
                    %strong= action_assignable.title
