- statement = petition.statement_of(agent)

- if statement.try(:stance).try(:agree?)
  - stance_class = 'success'
  - action_style = 'color: white'
  - stance_icon = capture do
    %i.fa.fa-check
- elsif statement.try(:stance).try(:disagree?)
  - stance_class = 'danger'
  - action_style = 'color: white'
  - stance_icon = capture do
    %i.fa.fa-ban
- elsif statement.try(:stance).try(:hold?)
  - stance_class = 'hold'
  - action_style = 'color: white'
  - stance_icon = capture do
    %i.fa.fa-minus{ style: 'color: lightgray'}
- else
  - stance_class = 'default btn-inverted'
  - action_style = 'color: black'
  - stance_icon = capture do
    %i.fa.fa-minus{ style: 'color: lightgray'}

- if local_assigns[:template] == 'line'
  .media.text-basic-wrap{ class: "text-#{stance_class}", style: 'margin: 6px 0; padding-left: 0; list-style-type: none;' }
    .media-left= stance_icon
    .media-body
      = image_tag agent.image.md.url, style: "height: 24px;"
      - if agent.category == '개인'
        %small.text-muted= agent.organization

      - if statement.try(:sure?)
        %strong= Catan::SmartPostposition.new(agent.name).with!('는')
        %strong= statement.try(:stance).try(:text)
        %span.text-muted 입장을 밝혔습니다.
      - else
        %strong= Catan::SmartPostposition.new(agent.name).with!('가')
        %span.text-muted 답변했습니다.

      %br.visible-xs-block
      %small
        - if statement.try(:body).present?
          %a.text-nowrap{"href": "#", "data-target" => "#agent-statement-modal-#{agent.id}", "data-toggle" => "modal", :type => "button" }
            %i.fa.fa-commenting-o
            답변보기
        - unless statement.try(:stance).try(:agree?)
          %a.text-nowrap{"href": "#", "data-target" => "#agent-request-modal-#{agent.id}", "data-toggle" => "modal", :type => "button" }
            %i.fa.fa-send-o
            촉구하기

- else
  %button.btn.btn-agent{ class: "btn-#{stance_class}", "data-target" => "#agent-request-modal-#{agent.id}", "data-toggle" => "modal", :type => "button" }
    = image_tag agent.image.md.url, style: "height: 24px;"
    %strong= agent.name
    - if agent.category == '개인'
      %small= agent.organization
    %small<>
      %span{ style: action_style }
        에 촉구하기

- if statement.try(:body).present?
  %div.modal.fade{id: "agent-statement-modal-#{agent.id}", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &#215;
          %h4.modal-title
            = image_tag agent.image.md.url, style: "height: 36px;"
            %strong= agent.name
            %span.text-muted= agent.organization
            님의 답변

        .modal-body
          %div[statement]
            %div
              - if statement.stance.present?
                %h4{ style: 'line-height: 24px;' }
                  %span.text-success= statement.stance.text

              - if statement.body.present?
                .opinion__body.text-basic-wrap{ style: 'font-weight: normal;' }
                  != statement.body

              %div
                = link_to agent, class: 'btn btn-success btn-block' do
                  %strong= agent.name
                  = agent.organization
                  님의 다른 답변 보기


%div.modal.fade{id: "agent-request-modal-#{agent.id}", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %h4.modal-title
          = image_tag agent.image.md.url, style: "height: 36px;"
          %strong= agent.name
          %span.text-muted= agent.organization
          에게 촉구하기

      .modal-body
        .comments-form
          = form_for Comment.new, html: { class: 'gov-action-form-validation' } do |f|
            = f.hidden_field :commentable_type, value: 'Petition'
            = f.hidden_field :commentable_id, value: petition.id
            = f.hidden_field :target_agent_id, value: agent.id
            = invisible_captcha
            - unless user_signed_in?
              .form-group
                = f.label :commenter_name
                = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
              .form-group
                = f.label :commenter_email, agent.email.present? ? "이메일(#{agent.name}님에게 메일을 발송하려면 반드시 넣어주세요)" : nil
                = f.text_field :commenter_email, class: 'form-control'
            .form-group
              ~ f.text_area :body, placeholder: '촉구합니다...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), data: { 'rule-required': true }
            - if agent.email.present?
              .form-group
                .checkbox
                  %label
                    = f.check_box :mailing, { checked: true }, 'ready', 'disable'
                    #{agent.name}님에게 메일로도 발송합니다.
            = f.submit '작성', class: 'btn btn-primary btn-block'
