.panel.panel-default
  .panel-body
    = form_for @petition do |f|

      - if @petition.errors.any?
        .alert.alert-danger
          %ul.list-unstyled
            - @petition.errors.full_messages.each do |msg|
              %li= msg

      %fieldset
        %legend 기본정보

        - if @project.present? and @petition.project.blank?
          - @petition.project = @project
        - if current_user.is_admin?
          - all_projects = Project.all
        - else
          - all_projects = (@petition.project.try(:organization).try(:projects) || fetch_organization_from_request.try(:projects) || Project.where(organization: nil)).organize_by(current_user, 'Project')

        - if all_projects.any?
          .form-group
            = f.label :project_id
            = f.collection_select :project_id, all_projects, :id, :title, {include_blank: '프로젝트 없음'}, { class: 'js-select2 form-control' }

        .form-group
          = f.label :title
          = f.text_field :title, class: 'form-control'

        .form-group
          = f.label :signs_goal_count
          = f.number_field :signs_goal_count, class: 'form-control'
          %p.help-block
            목표인수를 따로 정하지 않으려면 0으로 입력해 주세요.

        .form-group
          = f.label :body
          ~ f.text_area :body, class: 'form-control redactor'

        .form-group
          = f.label :cover_image
          = f.file_field :cover_image, class: 'form-control'
          = f.hidden_field :cover_image_cache, value: f.object.cover_image_cache
          .help-block
          - if @petition.read_attribute(:cover_image).present?
            = image_tag @petition.cover_image.xs.url, class: 'img-thumbnail', style: 'max-width: 40px'
            %label{ style: 'font-weight: normal;' }
              = f.check_box :remove_cover_image
              삭제하기

        %legend.m-t 서명 폼

        .form-group
          = f.label :sign_title
          = f.text_field :sign_title, class: 'form-control'
          %p.help-block
            한마디 입력란의 설명을 정할 수 있습니다.

        .form-group
          .checkbox
            %label
              = f.check_box :use_signer_real_name
              %strong 실명을 받습니다.
        .form-group
          = f.label :signer_real_name_title
          = f.text_field :signer_real_name_title, class: 'form-control'
          %p.help-block
            실명 입력란에 대한 설명을 정합니다. 비워두면 "#{t('activerecord.attributes.sign.signer_real_name')}"으로 표시됩니다.

        .form-group
          .checkbox
            %label
              = f.check_box :use_signer_email
              %strong 이메일을 받습니다.
        .form-group
          = f.label :signer_email_title
          = f.text_field :signer_email_title, class: 'form-control'
          %p.help-block
            이메일 입력란에 대한 설명을 정합니다. 비워두면 "#{t('activerecord.attributes.sign.signer_email')}"으로 표시됩니다.

        .form-group
          .checkbox
            %label
              = f.check_box :use_signer_address
              %strong 주소를 받습니다.
        .form-group
          = f.label :signer_address_title
          = f.text_field :signer_address_title, class: 'form-control'
          %p.help-block
            주소 입력란에 대한 설명을 정합니다. 비워두면 "#{t('activerecord.attributes.sign.signer_address')}"로 표시됩니다.

        .form-group
          .checkbox
            %label
              = f.check_box :use_signer_phone
              %strong 연락처를 받습니다.
        .form-group
          = f.label :signer_phone_title
          = f.text_field :signer_phone_title, class: 'form-control'
          %p.help-block
            연락처 입력란에 대한 설명을 정합니다. 비워두면 "#{t('activerecord.attributes.sign.signer_phone')}"로 표시됩니다.


        .form-group
          = f.label :confirm_privacy
          ~ f.text_area :confirm_privacy, class: 'form-control redactor'
          %p.help-block
            개인보호 정책 동의에 추가할 문구입니다. (선택사항)

        %legend.m-t 추가 기능

        .form-group
          .checkbox
            %label
              = f.check_box :comment_enabled
              = Petition.human_attribute_name("comment_enabled")

        .form-group
          = f.label :social_image
          = f.file_field :social_image, class: 'form-control'
          = f.hidden_field :social_image_cache, value: f.object.social_image_cache
          .help-block
          - if @petition.read_attribute(:social_image).present?
            = image_tag @petition.social_image.xs.url, class: 'img-thumbnail', style: 'max-width: 40px'
            %label{ style: 'font-weight: normal;' }
              = f.check_box :remove_social_image
              삭제하기

        .form-group
          = f.label :thanks_mention
          ~ f.text_area :thanks_mention, class: 'form-control redactor'
          %p.help-block
            비워두시면, 서명 이후에 '#{t('messages.signed')}'라는 문구로 표시됩니다.
            %br
            {{number}}라고 쓰시면 그자리에 서명 순번이 표시됩니다.

        .form-group
          = f.label :speaker_section_title
          = f.text_field :speaker_section_title, class: 'form-control'
          %p.help-block
            촉구하기 영역의 제목을 정합니다. 비워두면 "#{t("views.action_assignable.speaker_section_title.default")}"으로 표시됩니다.

        .form-group
          = f.label :speaker_section_response_title
          = f.text_field :speaker_section_response_title, class: 'form-control'
          %p.help-block
            촉구하기에 대해 응답온 것을 표시하는 영역의 대한 설명을 정합니다. 비워두면 "#{t("views.action_assignable.speaker_section_response_title.default")}"으로 표시됩니다.

        .form-group
          %label
            서명받은 목록을 숨깁니다.
            = f.check_box :sign_hidden

        .form-group
          = f.label :area_id, '특정 지역에 관련된 서명인가요? 지역과 연결해 보세요. (선택)'
          = f.select :area_id, Area.all_divisions.map { |area| [area.description, area.id] }, { include_blank: true }, class: 'js-select2 form-control'

        .form-group
          = f.label :issue_id, '특정 이슈에 관련된 서명인가요? 이슈와 연결해 보세요. (선택)'
          = f.select :issue_id, [], { include_blank: true }, class: 'js-select2-issue form-control', data: { 'select2-url': issues_path }

        .form-group
          = f.submit '저장', class: 'btn btn-primary btn-lg'
