.panel.panel-default
  .panel-body
    = form_for @petition do |f|

      = f.hidden_field :template

      - if @petition.errors.any?
        .alert.alert-danger
          %ul.list-unstyled
            - @petition.errors.full_messages.each do |msg|
              %li= msg

      %fieldset
        %legend 기본정보

        .form-group
          = f.label :title
          = f.text_field :title, class: 'form-control'

        .form-group
          = f.label :body
          ~ f.text_area :body, class: 'form-control redactor'

        .form-group
          = f.label :cover_image
          = f.file_field :cover_image, class: 'form-control'
          = f.hidden_field :cover_image_cache, value: f.object.cover_image_cache
          .help-block
          - if @petition.read_attribute(:cover_image).present?
            = image_tag @petition.cover_image.xs.url, class: 'img-thumbnail', style: 'max-width: 40px'
            %label{ style: 'font-weight: normal;' }
              = f.check_box :remove_cover_image
              삭제하기


        = render_if_exist "petition/#{@petition.template}/partial_form", f: f

        %legend.m-t 추가 기능

        - if @petition.comment_disablable?
          .form-group
            .checkbox
              %label
                = f.check_box :comment_enabled
                = Petition.human_attribute_name("comment_enabled")

        .form-group
          = f.label :social_image
          = f.file_field :social_image, class: 'form-control'
          = f.hidden_field :social_image_cache, value: f.object.social_image_cache
          .help-block
          - if @petition.read_attribute(:social_image).present?
            = image_tag @petition.social_image.xs.url, class: 'img-thumbnail', style: 'max-width: 40px'
            %label{ style: 'font-weight: normal;' }
              = f.check_box :remove_social_image
              삭제하기

        .form-group
          = f.label :slug
          = f.text_field :slug, class: 'form-control'
          %p.help-block
            웹주소에 사용되는 영문명입니다.

        - if current_user.is_admin?
          .form-group
            = f.label :css
            ~ f.text_area :css, rows: 10, class: 'form-control'
            .help-block
              커스텀 스타일을 설정합니다.

        - if @project.present? and @petition.project.blank?
          - @petition.project = @project
        - if current_user.is_admin?
          - all_projects = Project.all
        - else
          - all_projects = (@petition.project.try(:organization).try(:projects) || fetch_organization_from_request.try(:projects) || Project.where(organization: nil)).organize_by(current_user, 'Project')

        - if all_projects.any?
          .form-group
            = f.label :project_id, '특정 프로젝트에 관련된 캠페인인가요? 프로젝트와 연결하세요. (선택)'
            = f.collection_select :project_id, all_projects, :id, :title, {include_blank: '프로젝트 없음'}, { class: 'js-select2 form-control' }

        .form-group
          = f.label :area_id, '특정 지역에 관련된 캠페인인가요? 지역과 연결해 보세요. (선택)'
          = f.select :area_id, Area.all_divisions.map { |area| [area.description, area.id] }, { include_blank: true }, class: 'js-select2 form-control'

        .form-group
          = f.label :issue_id, '특정 이슈에 관련된 캠페인인가요? 이슈와 연결해 보세요. (선택)'
          = f.select :issue_id, (@petition.issue.present? ? [[@petition.issue.title, @petition.issue.id]] : []), { include_blank: true }, class: 'js-select2-ajax form-control', data: { 'select2-url': issues_path }

        .form-group
          = f.submit '저장', class: 'btn btn-primary btn-lg'
