.panel.panel-default
  .panel-body
    = form_for @petition do |f|

      - if @petition.errors.any?
        .alert.alert-danger
          %ul.list-unstyled
            - @petition.errors.full_messages.each do |msg|
              %li= msg

      %fieldset
        %legend 기본정보

        - if @project.present? and @petition.project.blank?
          - @petition.project = @project
        - if current_user.is_admin?
          - all_projects = Project.all
        - else
          - all_projects = (@petition.project.try(:organization).try(:projects) || fetch_organization_from_request.try(:projects) || Project.where(organization: nil)).admin_by(current_user)

        - if all_projects.any?
          .form-group
            = f.label :project_id
            = f.collection_select :project_id, all_projects, :id, :title, {include_blank: '프로젝트 없음'}, { class: 'js-select2 form-control' }

        .form-group
          = f.label :title
          = f.text_field :title, class: 'form-control'

        .form-group
          = f.label :signs_goal_count
          = f.number_field :signs_goal_count, class: 'form-control'
          %p.help-block
            목표인수를 따로 정하지 않으려면 0으로 입력해 주세요.

        .form-group
          = f.label :body
          ~ f.text_area :body, class: 'form-control redactor'

        .form-group
          = f.label :cover_image
          = f.file_field :cover_image, class: 'form-control'

        %legend.m-t 서명 폼

        .form-group
          = f.label :sign_title
          = f.text_field :sign_title, class: 'form-control'
          %p.help-block
            한마디 입력란의 설명을 정할 수 있습니다.

        .form-group
          .checkbox
            %label
              = f.check_box :use_signer_real_name
              %strong 실명을 받습니다.
        .form-group
          = f.label :signer_real_name_title
          = f.text_field :signer_real_name_title, class: 'form-control'
          %p.help-block
            실명 입력란에 대한 설명을 정합니다. 비워두면 "#{t('activerecord.attributes.sign.signer_real_name')}"으로 표시됩니다.

        .form-group
          .checkbox
            %label
              = f.check_box :use_signer_email
              %strong 이메일을 받습니다.
        .form-group
          = f.label :signer_email_title
          = f.text_field :signer_email_title, class: 'form-control'
          %p.help-block
            이메일 입력란에 대한 설명을 정합니다. 비워두면 "#{t('activerecord.attributes.sign.signer_email')}"으로 표시됩니다.

        .form-group
          .checkbox
            %label
              = f.check_box :use_signer_address
              %strong 주소를 받습니다.
        .form-group
          = f.label :signer_email_title
          = f.text_field :signer_email_title, class: 'form-control'
          %p.help-block
            주소 입력란에 대한 설명을 정합니다. 비워두면 "#{t('activerecord.attributes.sign.signer_address')}"로 표시됩니다.

        .form-group
          = f.label :confirm_privacy
          ~ f.text_area :confirm_privacy, class: 'form-control redactor'
          %p.help-block
            개인보호 정책 동의에 추가할 문구입니다. (선택사항)

        %legend.m-t 추가 기능

        .form-group
          .checkbox
            %label
              = f.check_box :comment_enabled
              = Petition.human_attribute_name("comment_enabled")

        .form-group
          = f.label :social_image
          = f.file_field :social_image, class: 'form-control'

        .form-group
          = f.label :thanks_mention
          ~ f.text_area :thanks_mention, class: 'form-control redactor'
          %p.help-block
            비워두시면, 서명 이후에 '#{t('messages.signed')}'라는 문구로 표시됩니다.
            %br
            {{number}}라고 쓰시면 그자리에 서명 순번이 표시됩니다.

        .form-group
          = f.submit '저장', class: 'btn btn-primary btn-lg'
