= form_for @petition do |f|
  - if @campaign.present?
    = f.hidden_field :campaign_id, value: @campaign.id

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :signs_goal_count
    = f.number_field :signs_goal_count, class: 'form-control'

  .form-group
    = f.label :body
    ~ f.text_area :body, class: 'form-control redactor'

  .form-group
    = f.label :cover_image
    = f.file_field :cover_image, class: 'form-control'

  .form-group
    = f.label :thanks_mention
    ~ f.text_area :thanks_mention, class: 'form-control redactor'
  %p.help-block
    비워두시면, 서명 이후에 '#{t('messages.signed')}'라는 문구로 표시됩니다.
    %br
    {{number}}라고 쓰시면 그자리에 서명 순번이 표시됩니다.

  .form-group
    = f.label :comment_enabled
    = f.check_box :comment_enabled, class: 'form-control'

  .form-group
    = f.label :sign_title
    = f.text_field :sign_title, class: 'form-control'

  .form-group
    = f.submit '저장', class: 'btn btn-primary'
