%section#petition-header
  .container-fluid
    %h2.petition-title.text-basic-wrap= petition.title

    - buttons = capture do
      - if can? :edit, petition
        = link_to '수정', edit_petition_path(petition)
      - if can? :edit, petition
        &middot;
        = link_to '촉구대상 관리', edit_agents_petition_path(petition)
      - if can? :destroy, petition
        &middot;
        = link_to '삭제', petition, method: :delete, data: { confirm: '삭제하시겠습니까?' }
    - if buttons.present?
      %div{ style: 'background: #f5f5f5; margin-bottom: 14px; padding: 7px; '}
        = buttons

    .petition-meta
      %span.campaigner
        .user-image-xs{style: "background-image:url(#{asset_url(petition.user.image)});"}
        = link_to petition.user.nickname, petition.user
      &middot;
      %span
        = date_f petition.created_at
      &middot;
      %span
        조회
        = petition.views_count

    - if petition.issue.present?
      .m-t.m-b
        %h4
          %small.text-muted 관련 이슈
          = link_to petition.issue do
            = petition.issue.title

    - cover_image = petition.cover_image_url(:lg)
    - if cover_image.present?
      %section.no-container-margin-xs{ style: "height: 250px; background-image: url(#{cover_image}); background-size: cover; background-repeat: no-repeat;" }

    .m-t.m-b
      = link_to petition_path(petition, anchor: 'anchor-sign') do
        - if petition.has_goal?
          .progress
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{petition.percentage}", :role => "progressbar", :style => "width: #{petition.percentage}%;"}
          .pull-right #{petition.percentage}% 달성
          %span.count
            #{number_with_delimiter(petition.signs_count)}명 참여
        - else
          .progress
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", :role => "progressbar", :style => "width: 100%;"}
          %span.count
            %i.fa.fa-user
            #{number_with_delimiter(petition.signs_count)}명 참여

