#bloc-7.bloc.bgc-white.l-bloc
  .container
    .row
      .col-sm-12
        %h3.mg-md.tc-outer-space
          = local_assigns[:title_label] || @project.try(:component_title, 'petition')
          %small
            = link_to "제안하기", new_petition_path(project_id: @project)
/ Footer - bloc-7 END
/ Footer - bloc-8
- if petitions.any?
  - petitions.each do |petition|
    = link_to petition do
      .bloc-8.bloc.bg-sanfran.bloc-bg-texture.texture-darken.tc-white.bgc-white.petition{style: "background-image: url(#{asset_url(petition.cover_image_url(:lg))});"}
        .container.bloc-md
          .row
            .col-sm-10
              %h3.mg-md.blocs-mobile-signup-text.tc-white
                = petition.title
              .petition-body
                = strip_tags petition.body
            .col-sm-2
              .text-center
                .btn.btn-lg.btn-sq.btn-han-blue.petition-btn
                  #{petition.percentage}% 달성
/ Footer - bloc-8 END
