%section#petitions-in-project.page-block
  .container
    - if @project.present?
      %h3
        = local_assigns[:title_label] || @project.try(:component_title, 'petition')
        %small.pull-right
          = link_to "서명 시작하기", new_petition_path(project_id: @project), class: 'btn btn-default btn-sm'
    - else
      %h3= Petition.model_name.human

    .media-list
      - if petitions.any?
        - 5.times do
          - petitions.each do |petition|
            .well
              .media
                .media-body
                  %h3.media-heading
                    = link_to petition do
                      = petition.title
                      - if petition.comments.count > 0
                        %small (#{petition.comments.count})
                  %p
                    %span.nickname
                      %i.fa.fa-user
                      = petition.user.nickname
                    %span.created_at
                      %i.fa.fa-calendar
                      = date_f petition.created_at
                .media-right
                  = link_to petition do
                    .pull-right
                      .btn.btn-primary.btn-lg
                        - if petition.has_goal?
                          #{petition.percentage}% 달성
                        - else
                          #{number_with_delimiter(petition.signs_count)}명 참여

