.container
  %h3.sub-title
    - if @project.present?
      = local_assigns[:title_label] || @project.try(:component_title, 'petition')
    - else
      = Petition.model_name.human
    %small.pull-right
      = link_to "서명 시작하기", new_petition_path(project_id: @project), class: 'btn btn-default btn-inverted btn-sm'


  - if petitions.any?
    .row.masonry-container
      = render petitions
      .col-md-4.col-sm-6.col-xs-12
        .bs-component
          .card
            .card-content
              = link_to new_petition_path(project_id: @project), class: 'btn btn-default btn-inverted btn-block', style: 'line-height: 1.5' do
                %i.fa.fa-plus-circle
                새로운 서명 만들기

