%section#petitions
  .container
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-6
            %h4.panel-title
              = Petition.model_name.human
          .col-xs-6.text-right
            = link_to "#{Petition.model_name.human} 추가", new_campaign_petition_path(@campaign), style: 'color:#fff;text-decoration:underline;' if @campaign.present?

      - if petitions.any?
        %table.table
          %thead
            %tr
              %th.text-center #
              %th 제목
              %th 글쓴이
              %th.text-right 서명
              %th.text-right 조회
              %th.text-center.hidden-xs 작성일
          %tbody
            - petitions.each do |petition|
              %tr[petition]
                %td.text-muted.text-center
                  = petition.id
                %td.petition__title
                  %strong= link_to petition.title, petition
                %td.petition__nickname
                  = petition.user.nickname
                %td.petition__comments_count.text-right.text-danger
                  %strong
                    = petition.signs_count
                    \/
                    = petition.signs_goal_count
                %td.petition__read_count.text-right
                  = petition.views_count
                %td.petition__created_at.text-center.hidden-xs
                  = date_f petition.created_at

      - else
        .panel-body
          %small.text-muted
            가장 먼저 서명을 제안해 보세요.
            %br
            = link_to "#{Petition.model_name.human} 제안하기", new_campaign_petition_path(@campaign)
