.col-md-6.col-sm-6.col-xs-12
  .petition-card[petition]
    = link_to petition do
      .card-image{ style: "background-image: url(#{petition.cover_image_url(:md)});"}
        .overlay
          .title
            = petition.title
      .card-extra
        - if petition.has_goal?
          .progress
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{petition.percentage}", :role => "progressbar", :style => "width: #{petition.percentage}%;"}
          .pull-right #{petition.percentage}% 달성
          #{number_with_delimiter(petition.signs_count)}명 참여
        - else
          #{number_with_delimiter(petition.signs_count)}명 참여
