.col-lg-3.col-md-4.col-sm-4.col-xs-12
  .action-card[petition]
    = link_to petition do
      .card-image{ style: "background-image: url(#{petition.cover_image_url(:md)});"}
        .overlay
          .title
            - if petition.project.present?
              .project-title
                = petition.project.title
            = petition.title
      .card-extra
        - if petition.has_goal?
          .progress
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{petition.percentage}", :role => "progressbar", :style => "width: #{petition.percentage}%;"}
          .pull-right #{petition.percentage}% 달성

          %span.count
            %i.fa.fa-user
            #{number_with_delimiter(petition.signs_count)}명 참여
        - else
          .progress
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", :role => "progressbar", :style => "width: 100%;"}

          %span.count
            %i.fa.fa-user
            #{number_with_delimiter(petition.signs_count)}명 참여

  - if local_assigns[:speaker].present?
    .speaker-opinion
      - statement = petition.statements.find_by(speaker: @speaker)
      - if statement.present? and (statement.body.present? or statement.stance.present?)
        - if statement.stance.present?
          %h4.media-heading
            = statement.stance.text
        - if statement.body.present?
          .opinion__body
            != simple_format h(statement.body)
      - else
        이 서명에 대해 아직 응답하지 않았습니다.
