%a{id: "anchor-speakers"}

- @petition.total_action_assignables.each do |action_assignable|
  - next if action_assignable.statementable_speakers(@petition).empty?

  - current_speakers = action_assignable.statementable_speakers_moderatly(@petition, 30)

  - speakers_group = current_speakers.to_a.group_by { |speaker| petition.spoken?(speaker) }
  - speakers_spoken = @petition.action_assignable_speakers_spoken(action_assignable)
  - speakers_unspoken = @petition.action_assignable_speakers_unspoken(action_assignable)

  - if speakers_spoken.any?
    %h5.text-muted 관련 인물 답변
    %div
      - speakers_spoken.each do |speaker|
        - statement = petition.statement_of(speaker)

        %button.btn.btn-success{"data-target" => "#speaker-statement-modal-#{speaker.id}", "data-toggle" => "modal", :type => "button", style: 'margin: 0 0 4px 0'}
          = image_tag speaker.image.md.url, style: "height: 24px;"
          %strong= speaker.name
          %small= statement.stance.text
          %i.fa.fa-commenting-o

        - if @petition.statements.responed_body.any?
          %div.modal.fade{id: "speaker-statement-modal-#{speaker.id}", :role => "dialog", :tabindex => "-1"}
            .modal-dialog{:role => "document"}
              .modal-content
                .modal-header
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} &#215;
                  %h4.modal-title
                    = image_tag speaker.image.md.url, style: "height: 36px;"
                    %strong= speaker.name
                    %span.text-muted= speaker.organization
                    님의 답변

                .modal-body
                  .panel-body[statement]
                    .panel-post__statements
                      .media[statement]
                        .media-body
                          - if statement.stance.present?
                            %h4.media-heading{ style: 'line-height: 24px;' }
                              %span.text-success= statement.stance.text

                          - if statement.body.present?
                            .opinion__body{ style: 'font-weight: normal;' }
                              != statement.body

                          %div
                            = link_to speaker, class: 'btn btn-success btn-block' do
                              %strong= speaker.name
                              = speaker.organization
                              님의 다른 답변 보기


  - if speakers_unspoken.any?
    - if speakers_spoken.any?
      %h5.text-muted 관련 인물에게 촉구하기
      %div
        - speakers_unspoken.each do |speaker|
          = render 'statementables/speaker', speaker: speaker, statementable: petition
