%a{id: "anchor-speakers"}
%h3.sub-title= @petition.speaker_section_title.presence || I18n.t("views.petition.speaker_section_title.default")
.panel-body{style:"padding:0px"}
  .panel-post__speakers
    .row.masonry-container
      - @petition.speakers.each do |speaker|
        .col-md-3.col-sm-4.col-xs-12
          = render 'statementables/speaker', speaker: speaker, statementable: petition

- if @petition.statements.responed_body.any?
  %h3.sub-title= @petition.speaker_section_response_title.presence || I18n.t("views.petition.speaker_section_response_title.default")
  .panel-body{style:"padding:0px"}
    .panel-post__statements
      - @petition.statements.responed_body.recent.each do |statement|
        - speaker = statement.speaker
        .panel.panel-opinion.panel-default[statement]
          .panel-body{ style: 'padding: 14px' }
            .media[statement]
              .media-left
                = link_to speaker_path(speaker) do
                  .media-object.image.user-image-sm{style: "background-image: url(#{speaker.image.xs.url}); background-size:cover; background-repeat: no-repeat; background-position: top;"}

              .media-body
                - if statement.stance.present?
                  %h4.media-heading
                    = statement.stance.text
                %p
                  = link_to speaker_path(speaker) do
                    = speaker.name
                    %span.text-muted= speaker.organization
                - if statement.body.present?
                  .opinion__body
                    != statement.body
