%a{id: "anchor-speakers"}
%h3.sub-title= t("views.petition.speaker_section_title.id_#{@petition.id}", default: I18n.t("views.petition.speaker_section_title.default"))
.panel-body{style:"padding:0px"}
  .panel-post__speakers
    .row.masonry-container
      - @petition.speakers.each do |speaker|
        .col-md-3.col-sm-4.col-xs-6
          - if @petition.speakers.count <= 8
            = render 'petitions/speaker', speaker: speaker, petition: petition
          - else
            = render 'petitions/speaker_sm', speaker: speaker, petition: petition

- if @petition.statements.responed_body.any?
  .panel-body
    .panel-post__statements
      - @petition.statements.responed_body.recent.each do |statement|
        - speaker = statement.speaker
        .panel.panel-opinion.panel-default[statement]
          .panel-body{ style: 'padding: 14px' }
            .media[statement]
              .media-left
                = link_to speaker_path(speaker) do
                  .media-object.image.speaker-image{style: "background-image: url(#{speaker.image.xs.url});"}

              .media-body
                - if statement.stance.present?
                  %h4.media-heading
                    = statement.stance.text
                %p
                  = link_to speaker_path(speaker) do
                    = speaker.name
                    %span.text-muted= speaker.organization
                - if statement.body.present?
                  .opinion__body
                    != statement.body
