- cover_image = @petition.cover_image_url(:lg)
%section.petition-widget.cover-section{ style: "padding-top: 0;" }
  %section{ style: "padding-top: 20px; padding-bottom: 56px; background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(#{cover_image}); background-size: cover; background-position: center top; background-repeat: no-repeat;" }
    .container
      - if @petition.campaign
        .cover-section__campaign
          = link_to @petition.campaign.title, @petition.campaign, target: '_blank'

      = link_to petition_url(@petition), target: '_blank', style: 'color: #fff;' do
        %h1.cover-section__title= @petition.title

        %h4.cover-section__users-count
          %span
            %i.fa.fa-user-o
            = @petition.signs_count
            명 참여
  %section{ style: 'background: #fff;' }
    .container{ style: 'position: relative; top: -56px;' }
      .cover-section__signs{ style: "color: #777; text-align: left;" }
        = render 'signs/list', petition: @petition, widget: true


- if flash[:sign_notice].present?
  = content_for :script do
    :javascript
      var message = "#{flash[:sign_notice]}";
      $(function(){
        alert(message);
      });
  - flash.delete(:sign_notice)
