%section#petitions-section.page-block
  .container
    .row
      .col-xs-6
      .col-xs-6.text-right
        = link_to "#{Petition.model_name.human} 제안하기", new_campaign_petition_path(@campaign), class: 'btn btn-default btn-sm'

    %table.table{ style: 'margin: 28px 0;'}
      %thead
        %tr
          %th.text-center 번호
          %th 제목
          %th 글쓴이
          %th.text-right 서명수
          %th.text-right 조회수
          %th.text-center 시간
      %tbody
        %tr[petition]
          %td.text-muted.text-center
            = petition.id
          %td.petition__title
            %strong= link_to petition.title, petition
          %td.petition__nickname
            = petition.user.nickname
          %td.petition__comments_count.text-right
            = petition.signs_count
            \/
            = petition.signs_goal_count
          %td.petition__read_count.text-right
            = petition.views_count
          %td.petition__created_at.text-center
            = date_f petition.created_at
