%section#petitions-section.page-block
  .container
    .row
      .col-xs-6
      .col-xs-6.text-right
        = link_to "#{Petition.model_name.human} 제안하기", new_campaign_petition_path(@campaign), class: 'btn btn-default btn-sm'

    %ul.list-group.post-group{ style: 'margin: 28px 0;' }
      - @petitions.each do |petition|
        %li.list-group-item[petition]
          = link_to petition do
            %h4.list-group-item-heading
              = petition.title
              .post__status
                %small.text-muted 현재
                #{petition.percentage}%

            .post__meta
              .row
                .col-xs-6
                  %span.nickname
                    = petition.user.nickname
                  %span.created_at
                    = date_f petition.created_at
                .col-xs-6.text-right
                  %span
                    %i.fa.fa-user-o
                    = petition.signs_count
                  %span
                    %i.fa.fa-heart-o
                    = petition.likes_count
                  %span
                    %i.fa.fa-eye
                    = petition.views_count
