- if @petition.project
  = render 'projects/header', project: @petition.project

- commentable = @petition
%section.page-block
  .container
    .page-header
      %h2
        %span.image.speaker-image.speaker-image--mini{style: "background-image: url(#{@speaker.image.xs.url}); display: inline-block; width: 1em; height: 1em;"}
        #{@speaker.name}님 의견 등록
    .comments-form
      = form_for @statement, html: { class: 'gov-action-form-validation' } do |f|
        = f.hidden_field :key
        .form-group
          = f.label :stance, '찬반여부'
          = f.select :stance, Statement.stance.options, { include_blank: true }, class: 'form-control'
        .form-group
          = f.label :stance, '내용'
          ~ f.text_area :body, placeholder: '제 생각에는...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), data: { 'rule-required': true }
        = f.submit '작성', class: 'btn btn-default btn-sm'

