- cover_image = @petition.cover_image_url(:lg)
%section.cover-section{ style: "background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .15)), url(#{cover_image}); padding-bottom: 56px; background-size: cover; background-position: center center;" }
  .container
    - if @petition.campaign
      .cover-section__campaign
        = link_to @petition.campaign.title, @petition.campaign

    %h1.cover-section__title= @petition.title

    %h4.cover-section__users-count
      %span
        %i.fa.fa-user-o
        = @petition.signs_count
        명 참여

%section#petition-block.page-block.post-block
  .container
    .post-block__info
      .row
        .col-xs-9
          %span.post-block__user
            = link_to @petition.user.nickname
          %span.post-block__date
            = date_f @petition.created_at
          - if can? :edit, @petition
            = link_to '수정', edit_petition_path(@petition)
          - if can? :destroy, @petition
            = link_to '삭제', @petition, method: :delete, data: { confirm: '삭제하시겠습니까?' }
        .col-xs-3.text-right
          조회 #{@petition.views_count}

    .post-block__body
      = raw @petition.body

    .post-block__signs
      = render 'signs/list', petition: @petition

    .post-block__share
      %h4 이 이슈를 친구들에게 알려 주세요
      .share-box

    .post-block__comments
      = render 'comments/list', commentable: @petition
