%section#petition-header.component-header
  .container
    %span.gov-label
      서명
    %br
    =@petition.title
    %div{ style: 'margin-top: 16px;font-size:16px;'}
      %span
      - if can? :edit, @petition
        = link_to '수정', edit_petition_path(@petition)
      - if can? :edit, @petition
        &middot;
        = link_to '촉구인물관리', edit_speakers_petition_path(@petition)
      - if can? :destroy, @petition
        &middot;
        = link_to '삭제', @petition, method: :delete, data: { confirm: '삭제하시겠습니까?' }
%section#petition-block
  .user-info
    .user-image{style: "background-image:url(#{asset_url(@petition.user.image)});"}
    = link_to @petition.user.nickname
  .container{style: "margin-top:-30px;"}
    - cover_image = @petition.cover_image_url(:lg)
    .petition-info-area
      = link_to petition_path(@petition, anchor: 'anchor-join'), class: 'petition-users-count-label' do
        = @petition.signs_count
        명 참여 중
      - if user_signed_in? and @petition.signed?(current_user)
        .petition-users-count-label
          서명 참여완료
      - else
        %a.petition-join-btn(href="#anchor-join")
          서명 함께하기
    %div{style:"font-weight:700;margin:40px 0px"}
      %i.fa.fa-calendar
      = date_f @petition.created_at
      &nbsp;&nbsp;&nbsp;
      %i.fa.fa-file-text-o
      조회
      = @petition.views_count
    .petition-body
      = raw @petition.body

      %a{id: "anchor-join"}
      %h3.sub-title#join-title
        서명하기
      .panel-body.component-box
        .panel-post__signs
          = render 'signs/list', petition: @petition

      %h3.sub-title 이 이슈를 친구들에게 알려 주세요
      .panel-body.component-box
        .share-box{ 'data-share-image': image_url(cover_image)}
        %div
          %input{value: "<iframe width='100%' height='800' src='#{petition_url(@petition, mode: :widget)}' frameborder='0'></iframe>", class: 'form-control'}

      - if @petition.speakers.any?
        = render 'petitions/speakers', petition: @petition

      - if @petition.comment_enabled
        %h3.sub-title
          의견을 남겨주세요
        .panel-body.post-block.component-box
          .panel-post__comments
            = render 'comments/list', commentable: @petition

- if flash[:sign_notice].present?
  #sign-success-modal.modal.fade{:role => "dialog", :tabindex => "0"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &#215;
          %h4.modal-title
            서명에 참여해주셔서 감사합니다.
        .modal-body
          != flash[:sign_notice]
          .share-box{ 'data-share-image': image_url(cover_image) }
          - if @petition.speakers.any?
            - speaker_section_title = t("views.petition.speaker_section_title.id_#{@petition.id}", default: I18n.t("views.petition.speaker_section_title.default"))
            %h4= speaker_section_title
            .row
              - @petition.speakers.to_a.sample(2).each do |speaker|
                .col-sm-4.col-xs-6
                = render 'statementables/speaker', speaker: speaker, statementable: @petition
              .col-sm-4.col-xs-6
                .panel.panel-default
                  .panel-body
                    = link_to petition_path(@petition, anchor: "anchor-speakers"), class: "text-keep-all js-close-modal" do
                      다른 #{speaker_section_title}
                      %i.fa.fa-arrow-right

  = content_for :script do
    :javascript
      $(function(){
        $('#sign-success-modal').modal('show');
      });
  - flash.delete(:sign_notice)

- if @petition.project
  = render 'projects/post_footer', project: @petition.project

