- if @petition.project
  = render 'projects/header', project: @petition.project

%section#petition-block.page-block
  .container
    .panel.panel-default.panel-post
      - cover_image = @petition.cover_image_url(:lg)
      .panel-heading
        %h2
          %small.label.label-danger
            = Petition.model_name.human
          = @petition.title

        .users-count.btn.btn-danger.btn-inverted.btn-lg{ style: 'margin-top: 16px;'}
          = @petition.signs_count
          명 참여

        %div{ style: 'margin-top: 16px;'}
          %span
            = link_to @petition.user.nickname
          &middot;
          %span.panel-post__date
            = date_f @petition.created_at
          &middot;
          %span
            조회 #{@petition.views_count}
          - if can? :edit, @petition
            &middot;
            = link_to '수정', edit_petition_path(@petition)
          - if can? :edit, @petition
            &middot;
            = link_to '관련인물관리', edit_speakers_petition_path(@petition)
          - if can? :destroy, @petition
            &middot;
            = link_to '삭제', @petition, method: :delete, data: { confirm: '삭제하시겠습니까?' }

      .panel-body
        .panel-post__body
          = raw @petition.body

      .panel-body
        .panel-post__signs
          = render 'signs/list', petition: @petition

      .panel-body
        .panel-post__share
          %h4 이 이슈를 친구들에게 알려 주세요
          .share-box{ 'data-share-image': image_url(cover_image) }
          %input{value: "<iframe width='100%' height='800' src='#{petition_url(@petition, mode: :widget)}' frameborder='0'></iframe>", class: 'form-control'}

      - if @petition.speakers.any?
        = render 'petitions/speakers', petition: @petition

      - if @petition.comment_enabled
        .panel-body
          .panel-post__comments
            = render 'comments/list', commentable: @petition

- if flash[:sign_notice].present?
  #sign-success-modal.modal.fade{:role => "dialog", :tabindex => "0"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &#215;
          %h4.modal-title
            서명에 참여해주셔서 감사합니다.
        .modal-body
          != flash[:sign_notice]
          .share-box{ 'data-share-image': image_url(cover_image) }

  = content_for :script do
    :javascript
      $(function(){
        $('#sign-success-modal').modal('show');
      });
  - flash.delete(:sign_notice)

- if @petition.project
  %section.page-block
    .container
      %h3 프로젝트
      .row
        = render @petition.project