%section.page-block
  .container
    .row
      .col-sm-3
        = link_to "#{Petition.model_name.human} 쓰기", new_campaign_petition_path(@campaign), class: 'btn btn-default btn-sm'
      .col-sm-9.text-right
        = link_to '목록', campaign_petitions_path(@campaign), class: 'btn btn-default btn-sm'

    %section{ style: 'margin: 7px 0;'}
      .panel.panel-default
        .panel-heading
          %h3{ style: 'margin-top: 7px;'}= @petition.title

          .petition__info
            %span.petition__user
              = link_to @petition.user.nickname
            %span.petition__date
              = date_f @petition.created_at
            - if can? :edit, @petition
              = link_to '수정', edit_petition_path(@petition)
            - if can? :destroy, @petition
              = link_to '삭제', @petition, method: :delete, data: { confirm: '삭제하시겠습니까?' }

        .panel-body
          = simple_format @petition.body

          .like
            = link_to '좋아요', likes_path(like: { likable_id: @petition.id, likable_type: 'Petition'}), method: :post
            = @petition.likes.count

        .panel-footer
          = render 'comments/list', commentable: @petition
