- cover_image = @petition.cover_image_url(:lg)

= render 'petitions/header', petition: @petition, show_speakers: true

%section#petition-block.page-block.page-block-white
  .container-fluid
    .petition-body
      = raw @petition.body

      %section.m-t
        %a{id: "anchor-sign"}
        %h4
          서명하기
        .panel-body.component-box
          - if !@petition.sign_hidden
            .panel-post__signs
              = render 'signs/list', petition: @petition

          - else
            .help-text
              #{@petition.signs_count}명이 서명했습니다.
              %br
              %span.text-muted 개설자가 서명 목록을 숨겼습니다.

      %section.m-t
        %h4 이 이슈를 친구들에게 알려 주세요
        .panel-body.component-box
          .share-box{ 'data-share-image': image_url(cover_image)}
          %div
            %input{value: "<iframe width='100%' height='800' src='#{petition_url(@petition, mode: :widget)}' frameborder='0'></iframe>", class: 'form-control'}

      - if @petition.comment_enabled
        %section.m-t
          %h4
            의견을 남겨주세요
          .panel-body.post-block.component-box.panel-comments
            .panel-post__comments
              = render 'comments/list', commentable: @petition

- if flash[:sign_notice].present?
  #sign-success-modal.modal.fade{:role => "dialog", :tabindex => "0"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &#215;
          %h4.modal-title
            서명에 참여해주셔서 감사합니다.
        .modal-body
          != flash[:sign_notice]
          .share-box{ 'data-share-image': image_url(cover_image) }
          - if @petition.speakers.any?
            - speaker_section_title = @petition.speaker_section_title.presence || I18n.t("views.action_assignable.speaker_section_title.default")
            %h4= speaker_section_title
            .row{ style: 'margin-left: -9px; margin-right: -9px;' }
              - @petition.speakers_random(2).each do |speaker|
                .col-sm-4.col-xs-4{ style: 'padding-left: 6px; padding-right: 6px;' }
                  = render 'statementables/speaker', speaker: speaker, statementable: @petition
              .col-sm-4.col-xs-4{ style: 'padding-left: 6px; padding-right: 6px;' }
                .panel.panel-default
                  .panel-body
                    = link_to petition_path(@petition, anchor: "anchor-speakers"), class: "text-keep-all js-close-modal" do
                      다른 #{speaker_section_title}
                      %i.fa.fa-arrow-right

  = content_for :script do
    :javascript
      $(function(){
        $('#sign-success-modal').modal('show');
      });
  - flash.delete(:sign_notice)

- if @petition.project
  = render 'projects/post_footer', project: @petition.project
