- cover_image = @petition.cover_image_url(:lg)

= render 'petitions/header', petition: @petition

- if @petition.statements.responed_only.any?
  %section.page-block
    .container-fluid
      .petition-agents
        = render 'petitions/agents', petition: @petition

%section#petition-block.page-block.page-block-white
  .container-fluid
    .petition-body
      = raw @petition.body

      %section.m-t
        %a{id: "anchor-sign"}
        %h4
          참여 상황
        .panel-body.component-box
          - if !@petition.sign_hidden
            .panel-post__signs
              = render 'signs/list', petition: @petition

          - else
            .help-text
              #{@petition.signs_count}명이 참여했습니다.
              %br
              %span.text-muted 개설자가 참여 목록을 숨겼습니다.

      %section.m-t
        %h4 이 이슈를 친구들에게 알려 주세요
        .panel-body.component-box
          .share-box{ 'data-share-image': image_url(cover_image)}
          .row
            .col-sm-12
              .input-group
                .input-group-btn
                  .btn.btn-default 위젯 복사
                %input.form-control{ value: "<iframe width='100%' height='800' src='#{petition_url(@petition, mode: :widget)}' frameborder='0'></iframe>" }

      - if @petition.comment_enabled
        %section.m-t
          %h4
            = t('views.comment.form_title.default')
          .panel-body.post-block.component-box.panel-comments
            .panel-post__comments
              = render 'comments/list', commentable: @petition

- if flash[:sign_notice].present?
  #sign-success-modal.modal.fade{:role => "dialog", :tabindex => "0"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &#215;
          %h4.modal-title
            참여해주셔서 감사합니다.
        .modal-body
          %p
            != flash[:sign_notice]

          %p.text-basic-wrap
            이 캠페인을 친구들에게 알려 주세요
            .share-box{ 'data-share-image': image_url(cover_image) }
          - if @petition.comment_enabled
            %p.text-basic-wrap
              관련된 인물에게 촉구해 주세요.
              %div
                = link_to petition_path(@petition, anchor: "anchor-agents"), class: " js-close-modal btn btn-xs btn-primary" do
                  의견 남기기
                  %i.fa.fa-arrow-right

  = content_for :script do
    :javascript
      $(function(){
        $('#sign-success-modal').modal('show');
      });
  - flash.delete(:sign_notice)

- if @petition.project
  = render 'projects/post_footer', project: @petition.project
