%section.page-block
  .container
    .row
      .col-xs-6
        = link_to '목록', campaign_petitions_path(@campaign), class: 'btn btn-default btn-sm'
      .col-xs-6.text-right
        = link_to "#{Petition.model_name.human} 제안하기", new_campaign_petition_path(@campaign), class: 'btn btn-default btn-sm'

%section#petition-block.page-block.post-block
  .container
    .post-block__title
      %h3= @petition.title

    .post-block__info
      .row
        .col-xs-6
          %span.post-block__user
            = link_to @petition.user.nickname
          %span.post-block__date
            = date_f @petition.created_at
          - if can? :edit, @petition
            = link_to '수정', edit_petition_path(@petition)
          - if can? :destroy, @petition
            = link_to '삭제', @petition, method: :delete, data: { confirm: '삭제하시겠습니까?' }
        .col-xs-6.text-right
          조회 #{@petition.views_count}

    .post-block__body
      = raw @petition.body

    .post-block__share.text-center
      .share-box

    .post-block__like.hidden
      = render 'likes/button', likable: @petition

    .post-block__signs
      = render 'signs/list', petition: @petition
