%legend.m-t 촉구

.form-group
  = f.label :agent_section_title
  = f.text_field :agent_section_title, class: 'form-control'
  %p.help-block
    촉구하기 영역의 제목을 정합니다. 비워두면 촉구 대상에 따라 적절히 표시됩니다.

.form-group
  = f.label :agent_section_response_title
  = f.text_field :agent_section_response_title, class: 'form-control'
  %p.help-block
    촉구하기에 대해 응답온 것을 표시하는 영역의 대한 설명을 정합니다. 비워두면 촉구 대상에 따라 적절히 표시됩니다.

.form-group
  = f.label :message_to_agent
  ~ f.text_area :message_to_agent, class: 'form-control redactor'
  %p.help-block
    촉구하기에 대해 응답온 것을 표시하는 영역의 대한 설명을 정합니다. 비워두면 촉구 대상에 따라 적절히 표시됩니다.
