.col-lg-2.col-md-3.col-sm-4.col-xs-6
  .issue-card.panel-floating.component-card[issue]
    = link_to issue do
      - if issue.agendas.any?
        .card-image{ style: "height: 140px; background-image: url(#{issue.agendas.first.image.md.url}); background-size: cover; background-position: center center;" }
    .card-content
      = link_to issue do
        %h4= issue.title

      .card-description
        #{Petition.model_name.human} #{issue.petitions.count}개
        &middot;
        의견 #{issue.opinions.count}개

      .card-sub
        = link_to '관심이슈등록', '#', class: 'btn btn-default btn-inverted btn-block'
