.panel.panel-floating[issue]
  .panel-body
    %h4.text-center{ style: 'margin-top: 0; border-bottom: 1px solid #dedede; padding-bottom: 7px; margin-bottom: 14px;' }
      = link_to "##{issue.title}", issue
      - if issue.comments.count > 0
        %small.text-muted{ style: 'line-height: 20px'}
          (#{issue.comments.count})

    %div
      - issue.followers.each do |user|
        = link_to user do
          = render 'users/thumbnail', user: user
