.panel.panel-floating[issue]
  .panel-body
    %h4.text-center{ style: 'margin-top: 0; border-bottom: 1px solid #dedede; padding-bottom: 7px; margin-bottom: 14px;' }
      = link_to "##{issue.title}", issue

    %div{ style: 'padding-bottom: 7px; margin-bottom: 14px; text-align: center;' }
      - issue.followers.each do |user|
        = link_to user do
          = render 'users/thumbnail', user: user
    %div
      .row
        .col-xs-6.text-right
          %i.fa.fa-user-o
          = issue.followers.count
        .col-xs-6.text-left
          %i.fa.fa-comment-o
          #{issue.comments.count}