- all_count = speakers.count
- speakers = speakers.shuffle[0...max_count] if local_assigns[:max_count]
- button_label = quote.nil? ? "#{Opinion.model_name.human} <span class='text-nowrap'>요청하기</span>" : "<span class='text-nowrap'>촉구하기</span>"
- hide_request ||= false
- agenda_id = @agenda.try(:id)

.answer-speakers
  .row
    - speakers.each do |speaker|
      .col-xs-12{ style: 'padding: 6px 0;' }
        .speaker
          .media
            .media-left
              = link_to speaker_path(speaker) do
                .media-object.image.speaker-image.speaker-image--mini{style: "background-image: url(#{speaker.image.xs.url});"}
            .media-body
              - if local_assigns[:link_to_opinon]
                - speaker_link = opinion_path(speaker.opinions.find_by(issue: issue), theme_slug: issue.agenda_theme.try(:slug))
              - else
                - speaker_link = speaker_path(speaker, agenda_id: agenda_id)
              = link_to speaker.name, speaker_link, target: ('_wyp' if local_assigns[:widget]), class: 'header'
              %span.description.text-keep-all{ style: 'font-size: 10px' }= speaker.organization
            .media-right.hidden-sm
              - if !hide_request and @agenda.present?
                = link_to new_email_agenda_path(@agenda, speaker_id: speaker.id), target: ('_wyp' if local_assigns[:widget]), class: "btn btn-xs #{speaker.requested_by?(current_user) ? 'btn-default' : 'btn-primary'}", style: 'width: 110px' do
                  != button_label
                  - if speaker.sent_requests_count > 0
                    %span.badge= speaker.sent_requests_count
    - if local_assigns[:max_count].present? and all_count > local_assigns[:max_count]
      .col-xs-12
        .speaker
          = link_to "#{all_count}명 모두 보기", issue, target: ('_wyp' if local_assigns[:widget]), class: 'ui button'
