- max_count = quote == nil ? 15 : 30
.answer-speakers
  .ui.list.grid
    - speakers.shuffle[0..max_count].each do |speaker|
      .eight.wide.column{ style: 'padding: 6px 12px 0'}
        = link_to speaker_path(speaker, agenda_id: @agenda.id), class: 'item' do
          %img.ui.avatar.image{ src: speaker.image }
            = speaker.name
            %small.text-muted= speaker.organization

      - if quote == nil
        .eight.wide.column{ style: 'padding: .5rem 1rem;'}
          = link_to '답변 요청하기', new_email_agenda_path(@agenda, speaker_id: speaker.id),  class: 'ui mini button'
    - if speakers.count > max_count
      .sixteen.wide.column
        = link_to "#{speakers.count}명 모두 보기", issue, class: 'ui button'
