- if user_signed_in?
  %section#issues.page-block
    .container
      %h4
        나의 관심 토픽
        %small
          #{current_user.following_issues.count}개

      .following-issues{ style: 'margin-bottom: 14px;' }
        - current_user.following_issues.each do |following_issues|
          = render following_issues
      = render 'following_issues/form'

%section.page-block
  .container
    %h4
      전체 토픽
      %small #{@issues.count}개
    .row.masonry-container
      - @issues.each do |issue|
        .col-sm-3
          = render issue