%section.cover-section{ style: 'background-color: #345; padding: 20px 10px;' }
  .container-fluid
    %h2
      %small.label.label-info 이슈
      %br
      = @issue.title
    - if @issue.body.present?
      %p
        .issue-body
          != simple_format(h(@issue.body.strip))

%section.page-block
  .container-fluid
    %h3
      = Petition.model_name.human

    - if @issue.petitions.any?
      .row.masonry-container
        = render @issue.petitions
    - else
      .text-center
        %i.fa.fa-info-circle
        가장 먼저 캠페인을 시작해 보세요.

    %div{ style: 'padding:14px; background: #fff; border-radius: 14px; text-align: center;'}
      %h3
        %strong= @issue.title
        %br
        캠페인을 시작할까요?
      %p.lead{ style: 'margin-top: 28px' }
        - if user_signed_in?
          %button.btn.btn-lg.btn-info{"data-target" => "#petition-form-modal", "data-toggle" => "modal", :type => "button"}
            캠페인 시작하기
        - else
          = link_to new_user_session_path, class: 'btn btn-lg btn-info' do
            캠페인 시작하기
        = link_to 'https://m.me/PartiUnion', class: 'btn btn-lg' do
          %i.fa.fa-comment-o
          빠띠에 문의하기

  #petition-form-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &#215;
          %h4.modal-title 캠페인을 시작합니다.
        .modal-body
          .panel.panel-default
            .panel-body
              = form_for @form_petition do |f|
                - if @form_petition.errors.any?
                  .alert.alert-danger
                    %ul.list-unstyled
                      - @form_petition.errors.full_messages.each do |msg|
                        %li= msg

                %fieldset
                  %legend 기본정보

                  = f.hidden_field :special_slug

                  .form-group
                    = f.label :title
                    = f.text_field :title, class: 'form-control'

                  .form-group
                    = f.label :body
                    ~ f.text_area :body, class: 'form-control redactor'

                  .form-group
                    = f.label :area_id, '특정 지역에 관련된 서명인가요? 지역과 연결해 보세요. (선택)'
                    = f.select :area_id, Area.all_divisions.map { |area| [area.description, area.id] }, { include_blank: true }, class: 'js-select2 form-control'

                  = f.hidden_field :issue_id, value: @issue.id

                  .form-group
                    = f.submit '저장', class: 'btn btn-primary btn-lg'

%section.page-block.page-opinions
  .container-fluid
    %h3 주요 인물 의견
    - if @issue.has_any_stances?
      = render 'opinions/stances', agents: @issue.agents, issue: @issue
    .media-list
      - if @issue.opinions.where(agent: Agent.of_position_names('19대_대선후보')).any?
        - Agent.of_position_names('19대_대선후보').shuffle.each do |agent|
          - @issue.opinions.of_agent(agent).each do |opinion|
            - next unless opinion.has_content?
            = render 'opinions/line_item', opinion: opinion
