%li.list-group-item[article]
  .row
    .col-sm-1.col-xs-2
      .article__reactions.text-left
        = render 'likes/button', likable: article
    .col-sm-11.col-xs-10
      .media
        - if article.image_present?
          .media-left.article__image.gov-action-link{ 'data-url': article.url }
            = image_tag article.image.xs.url
        .media-body
          %h4.media-heading.gov-action-link{ 'data-url': article.url }
            .article__title
              = article.title
          .article__body.gov-action-link{ 'data-url': article.url }
            = excerpt(article.desc, length: 110)
            %br
            %span.artcle__site-name
              %i.fa.fa-globe
              출처: #{article.site_name}
            %span.artcle__tags
              %i.fa.fa-tag
              - article.tags.each do |tag|
                = link_to articles_path(tag: tag.name) do
                  %span ##{tag.name}
                &nbsp;
          .article__meta
            .pull-left
              - if article.user.present?
                = link_to article.user do
                  %span.article__user
                    = image_tag article.user.image.sm, class: 'user-thumb-sm'
                    = article.user.nickname
              %span.article__date
                = date_f article.created_at
              %span.article__manage
                - if can? :update, article
                  = link_to [:edit, article] do
                    %i.fa.fa-edit
                - if can? :destroy, article
                  = link_to article, method: :delete, data: { confirm: '삭제하시겠습니까?' } do
                    %i.fa.fa-trash
            .pull-right
              - if article.latest_comment_users.any?
                %span.article__comment_users
                  - article.latest_comment_users.each do |user|
                    = link_to user do
                      = image_tag user.image.sm, class: 'user-thumb-sm'
              = link_to article do
                %span.article__comments
                  %i.fa.fa-comment-o
                  #{article.comments.count}
