- petition = @comment.commentable
- message.subject = "\"#{petition.title}\"에 대해 #{@comment.user_nickname}님이 의견을 보냅니다."
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    = stylesheet_link_tag 'emails/summary', media: 'all'
  %body
    %p #{@speaker.name}님! 안녕하세요.
    %p 아래와 같은 서명이 진행 중입니다.
    .container
      %h4= link_to petition.title, polymorphic_url(petition), target: "_blank"
      %p= raw petition.body
    %p
      = link_to polymorphic_url(petition), target: "_blank" do
        "#{petition.title}" 서명으로 이동하기
    %p
      위 서명에 대해 #{@comment.user_nickname}님이 보낸 의견입니다.
    .container
      != @comment.body

    %p{ style: 'text-align: center' }
      아래 찬성이나 반대 버튼을 눌러 #{@speaker.name}님의 의견을 등록하세요.

    %p{ style: 'text-align: center' }
      %a{:href => update_statement_speaker_petition_url(petition, key: @statement_key.key, stance: :agree), :style => "font-size: 14px; display: inline-block; color: #22be34; background: none; border-radius: 3px; padding: 16px 20px; text-decoration: none; outline: 0px; font-family: AppleSDGothic, \"apple sd gothic neo\", \"noto sans korean\", \"noto sans korean regular\", \"noto sans cjk kr\", \"noto sans cjk\", \"nanum gothic\", \"malgun gothic\", dotum, sans-serif; border-width: 2px; border-style: solid; border-color: #22be34;_display:inline", :target => "_blank"} 찬성
      %a{:href => update_statement_speaker_petition_url(petition, key: @statement_key.key, stance: :disagree), :style => "font-size: 14px; display: inline-block; color: #d01919; background: none; border-radius: 3px; padding: 16px 20px; text-decoration: none; outline: 0px; font-family: AppleSDGothic, \"apple sd gothic neo\", \"noto sans korean\", \"noto sans korean regular\", \"noto sans cjk kr\", \"noto sans cjk\", \"nanum gothic\", \"malgun gothic\", dotum, sans-serif; border-width: 2px; border-style: solid; border-color: #d01919;_display:inline", :target => "_blank"} 반대


    %div(style="margin-top: 60px;")
      %table
        %tr
          %td
            %a(href='http://govcraft.org/')
              %img(src="#{Rails.application.config.action_mailer.asset_host}/email_logo.png" width="40" height="40")
          %td(style="padding-left: 12px;")
            %a(href='http://govcraft.org/' target="_blank" style='color: #777; text-decoration: none;')
              시민 정치 놀이터
              %br
              %strong '가브크래프트'
              http://govcraft.org/
