.page-block
  .well
    %ul.nav.nav-sidebar.m-b
      %li
        %h4 정책DB
      %li= link_to Agenda.model_name.human, admin_agendas_path, class: 'item'
      %li= link_to Issue.model_name.human, admin_issues_path, class: 'item'
      %li= link_to Agency.model_name.human, admin_agencies_path, class: 'item'
      %li= link_to Agent.model_name.human, admin_agents_path, class: 'item'
      %li= link_to Opinion.model_name.human, admin_opinions_path, class: 'item'
      %li= link_to AgendaDocument.model_name.human, admin_agenda_documents_path, class: 'item'
      %li= link_to AgendaTheme.model_name.human, admin_agenda_themes_path, class: 'item'

    %ul.nav.nav-sidebar
      %li
        %h4 회원
      %li= link_to '일꾼', admin_roles_path, class: 'item'
      %li= link_to '댓글', admin_comments_path, class: 'item'
      %li= link_to '회원 이메일 다운로드', admin_download_emails_path(format: :xlsx), method: :post, class: 'item'
      %li= link_to '발언자 "20대_국회의원"의 정보 갱신', admin_refresh_assembly_members_path, class: 'item'
