= form_for @race do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :body
    ~ f.text_area :body, class: 'form-control redactor'

  .form-group
    = f.submit '저장', class: 'btn btn-primary'
