%li.list-group-item[race]
  = link_to race do
    %h4.list-group-item-heading
      = race.title

    .post__meta
      .row
        .col-xs-6
          %span.nickname
            = race.user.nickname
          %span.created_at
            = date_f race.created_at
        .col-xs-6.text-right
          %span
            투표 #{race.thumbs_updown_count}
