%p
  #{@sign.signer_name}님 안녕하세요? 세상을 바꾸는 시민들의 일상 정치 플랫폼, 가브크래프트입니다. #{@sign.signer_name}님이 서명하신
  %b "#{@sign.campaign.title}"
  에서 진행 소식을 알려드립니다.
%p
  .container
    != @body
%p{ style: 'text-align: center' }
  =link_to "서명 진행상황 확인하기", campaign_url(@sign.campaign), style: "font-size: 14px; display: inline-block; color: #1779f3; background: none; border-radius: 3px; padding: 16px 20px; text-decoration: none; outline: 0px; font-family: AppleSDGothic, \"apple sd gothic neo\", \"noto sans korean\", \"noto sans korean regular\", \"noto sans cjk kr\", \"noto sans cjk\", \"nanum gothic\", \"malgun gothic\", dotum, sans-serif; border-width: 2px; border-style: solid; border-color: #1779f3;_display:inline", target: "_blank"

%div(style="margin-top: 60px;")
  %table
    %tr
      %td
        %a(href='http://govcraft.org/')
          %img(src="#{Rails.application.config.action_mailer.asset_host}/email_logo.png" width="40" height="40")
      %td(style="padding-left: 12px;")
        %a(href='http://govcraft.org/' target="_blank" style='color: #777; text-decoration: none;')
          세상을 바꾸는 시민들의 일상 정치 플랫폼
          %br
          %strong '빠띠 가브크래프트'
          http://govcraft.org/
  %p{ style: 'text-align: center; color: #777; font-size: 12px' }
    수신거부를 원하시면 본 메일을 회신해 주십시오
