%tr[discussion]
  %td.text-muted.text-center
    = discussion.id
  %td.discussion__title
    %strong= link_to discussion.title, discussion
  %td.discussion__nickname
    = discussion.user.nickname
  %td.discussion__cnt.text-right
    = rand(100)
  %td.discussion__created_at.text-center
    = date_f discussion.created_at