= form_for @archive_document do |f|
  = f.hidden_field :archive_id

  .well
    %ul
      %li 날짜는 반드시 넣어주시고, 시간은 넣지 않아도 됩니다
      %li 자료 하단에 출처를 넣어주세요

  .row
    .col-sm-6
      .form-group
        = f.label :date
        = f.date_field :date, class: 'form-control'

    .col-sm-6
      .form-group
        = f.label :time
        = f.text_field :time, placeholder: 'hh:mm:ss', class: 'form-control'

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control redactor'

  .form-group
    = f.submit '저장', class: 'btn btn-primary'
    = link_to '취소', :back, class: 'btn btn-default'