%section.page-block
  .container
    .row
      .hidden-xs.col-sm-3
        .ui.vertical.menu
          - @archive.categories.each do |category|
            .item{ class: ('active' if category == @category.try(:parent)) }
              .header= category.name
              .menu
                - category.children.each do |subcategory|
                  .item{ class: ('active' if subcategory == @category) }
                    = link_to subcategory.name, category_archive_path(@archive, category_slug: subcategory.slug)

      .col-sm-9.col-xs-12
        %h2.ui.header
          - if @category.present?
            #{@category.name} (#{@documents.total_count})
          - else
            전체 자료 (#{@documents.total_count})
          - if @category.try(:desc).present?
            .sub.header= @category.desc
        - if @documents.empty?
          .ui.message
            %p 해당 자료가 없습니다.
        - else
          .ui.divided.items
            - @documents.each do |document|
              .item
                - if document.image?
                  .image
                    = image_tag document.content.sm.url
                .content
                  .header
                    = file_type_icon(document.content_type)
                    = link_to document.title, archive_document_path(document)
                  .meta
                    - if document.content_created_date.present?
                      %span
                        생성일:
                        = document.content_created_date
                        = document.content_created_time
                  .description
                    %p= strip_tags document.body
                  - if document.tags.any?
                    .extra
                      - document.tags.each do |tag|
                        .ui.label= tag

        .text-center
          = paginate @documents, theme: 'twitter-bootstrap-3'

        - if can? :manage, @archive
          = link_to '자료입력', new_archive_document_path(archive_id: @archive.id, category_slug: params[:category_slug]), class: 'ui primary button'
