= render 'archives/header', archive: @archive

%section#archive_document-block.page-block.post-block
  .container
    .post-block__title
      %h4
        = @archive_document.date
        = @archive_document.time
        = @archive_document.title

    .post-block__info
      %span.post-block__user
        = link_to @archive_document.user.nickname
      %span.post-block__date
        = date_f @archive_document.created_at
      - if can? :edit, @archive_document
        = link_to '수정', edit_archive_document_path(@archive_document)
      - if can? :destroy, @archive_document
        = link_to '삭제', @archive_document, method: :delete, data: { confirm: '삭제하시겠습니까?' }

    - if @archive_document.image.file.present?
      .post-block__image
        = image_tag @archive_document.image_url(:lg)

    .post-block__body
      = raw @archive_document.body

    .well.well-mute
      - if @archive_document.source_url.present?
        %div
          출처:
          = link_to @archive_document.source_url, @archive_document.source_url, target: '_blank'
      - if @archive_document.media_url.present?
        %div
          미디어:
          = link_to @archive_document.media_url, @archive_document.media_url, target: '_blank'
          = @archive_document.media_credit

    .post-block__like
      = render 'likes/button', likable: @archive_document

    .post-block__comments
      = render 'comments/list', commentable: @archive_document

= render 'archive_documents/list', archive: @archive