- campaign = comment.commentable

= render 'campaigns/photo/header', local_assigns.merge(campaign: campaign)

%section{ style: 'margin: 28px 0 0;' }
  .container
    = render 'campaigns/photo/comment_box', local_assigns.merge(campaign: campaign, comment: comment, no_link: true)

%section.page-block.page-block-normal
  .container
    %h3.sub-title
      의견을 남겨주세요
    .panel-body.post-block.component-box
      .panel-post__comments
        = render 'comments/list', commentable: comment

    .nav{ style: 'margin: 28px 0;' }
      = link_to campaign, class: 'btn btn-sm btn-default' do
        %i.fa.fa-arrow-left
        목록으로
:css
  = #{campaign.css}
