- cover_image = campaign.cover_image_url(:lg)
%section.cover-section{ style: "background-image: url(#{cover_image})" }
  .container.container-fluid
    %h2.cover-section__title
      = campaign.title

    - if can?(:edit, campaign) || can?(:destroy, campaign)
      .cover-section__buttons
        - if can? :edit, campaign
          = link_to '수정', edit_campaign_path(campaign)
        - if can? :destroy, campaign
          = link_to '삭제', campaign, method: :delete, data: { confirm: '삭제하시겠습니까?' }

    .cover-section__body= raw campaign.body

    %h4.cover-section__users-count
      %span
        %i.fa.fa-comment-o
        = campaign.comments.count

    .share-box{ 'data-share-image': image_url('seo.png') }

