%section.page-block
  .container
    .page-header
      %h2
        = render 'thumbnail', user: @user
        = @user.nickname

    %section
      %dl
        %dt 가입일
        %dd= date_f @user.created_at

    %section.page-block
      %h3.sub-title
        참여 중인 #{Project.model_name.human}
      .row
        - own_project_ids = Project.where(user: @user).map &:id
        - admin_project_ids = ProjectAdmin.where(user: @user, adminable_type: "Project").map &:adminable_id
        - projects = Project.where(id: own_project_ids + admin_project_ids)
        = render projects

    %section.page-block
      %h3.sub-title
        참여 중인 #{Petition.model_name.human}
      .row
        - petitions = Petition.where(id: Sign.where(user: @user).map(&:petition_id))
        = render petitions

    %section.page-block
      %h3.sub-title
        참여 중인 #{Event.model_name.human}
      .row
        - event_ids = Comment.where(user: @user, commentable_type: 'event').map(&:commentable_id).uniq
        - events = Event.where(id: event_ids)
        = render events

