%section.page-block
  .container
    .page-header
      .container-fluid
        .profile-thumbnail
          = render 'thumbnail', user: @user
        %h3.text-center
          = @user.nickname
        %p
          = @user.description
        - if @user.site_info.present?
          %a(href='#{@user.site_info.to_s}')
            %i.fa.fa-home
            사이트
        - if @user.facebook_info.present?
          %a(href='#{@user.facebook_info.to_s}')
            %i.fa.fa-facebook
            페이스북
        - if @user.twitter_info.present?
          %a(href='#{@user.twitter_info.to_s}')
            %i.fa.fa-twitter
            트위터

    %section
      %dl
        %dt 가입일
        %dd= date_f @user.created_at

    %section.page-block
      %h3.sub-title
        #{Petition.model_name.human}
      .row
        = render @user.petitions

    %section.page-block
      %h3.sub-title
        참여한 #{Petition.model_name.human}
      .row
        - petitions = Petition.where(id: Sign.where(user: @user).map(&:petition_id))
        = render petitions

    %section.page-block
      %h3.sub-title
        참여한 #{Event.model_name.human}
      .row
        - event_ids = Comment.where(user: @user, commentable_type: 'event').map(&:commentable_id).uniq
        - events = Event.where(id: event_ids)
        = render events
