.options-panel{ id: options_panel_dom_id(survey) }
  .header
    %h4
      - if survey.project
        %small.project
          = link_to survey.project.title, survey.project
          %br
      = link_to survey.title, survey
  - feedback = survey.fetch_feedback_of(current_user)
  .body
    .ui.list
      - survey.options.each do |option|
        - attrs = {}
        - if survey.open?
          - if user_signed_in? or survey.anonymous_feedbackable?
            - attrs = { 'data-url': feedbacks_path(option_id: option.id), 'data-remote': true, 'data-method': :post}
          - else
            - attrs = { 'data-url': new_user_session_path, 'data-method': :get }
        .item.gov-action-rails-link{ attrs.merge(style: 'margin-bottom: 12px') }
          - if survey.open?
            %i.check.circle.outline.icon{ style: "font-size: 2em; line-height: 1.5em; color: #{option_selected?(option, current_user) ? '#4a5dd0' : '#bbb'};"}
          .content{ style: 'width: 100%' }
            .header
              .option-body= option.body
              - if option.desc.present?
                .option-desc{ style: 'font-weight: normal;' }= option.desc
            .description{ style: 'margin-top: 3px;' }
              .chart{ class: ('active' if option_selected?(option, current_user)) }
                %span.chart__label #{option.feedbacks_count + option.anonymous_feedbacks_count}표
                .chart__bar{ style: "width: #{survey.percentage(option)}%"}
  .footer
    - if survey.open?
      마감까지 #{survey_remain_time(survey)}
    - else
      마감
    - if survey.feedbacks_count > 0
      &middot;
      총투표 #{survey.feedback_users_count}명
      - if survey.has_anonymous_feedbacks?
        이상
