%section#about-section.wouldyouparty
  .container
    %h2
      더 많은 우주인들과<br/>
      %span
        새로운 정치
      를 쏘아올리는
      %br
      %strong
        우리가주인이당<br/>
      %small
        = link_to 'https://medium.com/%EC%9A%B0%EB%A6%AC%EA%B0%80-%EC%A3%BC%EC%9D%B8%EC%9D%B4%EB%8B%B9/%EC%A7%81%EC%A0%91-%EB%AF%BC%EC%A3%BC%EC%A3%BC%EC%9D%98-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8-%EC%A0%95%EB%8B%B9-%EC%9A%B0%EB%A6%AC%EA%B0%80-%EC%A3%BC%EC%9D%B8%EC%9D%B4%EB%8B%B9-66e951b4f45b' do
          소개
        &middot;
        = link_to 'http://slack.wouldyouparty.org/' do
          슬랙
        &middot;
        = link_to 'https://www.facebook.com/groups/1820856674866416/' do
          페이스북


%section#projects.page-block
  .container
    %h3.sub-title= Project.model_name.human
    .row
      = render @current_organization.projects.recent.limit(3)
    %hr{style:"color:rgba(230, 230, 230, 1);height:2px;margin-top:0px;"}


%section#petitions.page-block
  .container
    %h3.sub-title= Petition.model_name.human
    .row
      = render Petition.recent.where(project: @current_organization.projects).limit(3)


- discussions = Discussion.recent.where(project: @current_organization.projects).limit(10)
%section#discussions.page-block
  .container
    %h3.sub-title= Discussion.model_name.human

    .panel.panel-default.hidden-xs
      %table.table
        = render discussions

    .list-group.visible-xs
      - discussions.each do |discussion|
        = link_to discussion, class: 'list-group-item' do
          %span.badge
            %i.fa.fa-heart
            = discussion.merged_likes_count
          %h5.list-group-item-heading= discussion.title
          %p
            %i.fa.fa-user
            = discussion.user.nickname
