- cover_image = event.image_url(:lg)
%section.cover-section{ style: "background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(#{cover_image})" }
  .container.container-fluid
    = render 'application/current_user_state_badge'
    - if @project
      .cover-section__project
        = link_to @project.title, @project

    %h2.cover-section__title
      = event.title

    - if can?(:edit, event) || can?(:destroy, event)
      .cover-section__buttons
        - if can? :edit, event
          = link_to '수정', edit_event_path(event)
        - if can? :edit, event
          = link_to '해시태그운영', new_or_edit_sns_events_path(event_id: event.id)
        - if can? :destroy, event
          = link_to '삭제', event, method: :delete, data: { confirm: '삭제하시겠습니까?' }

    .cover-section__body= raw event.body

    %h4.cover-section__users-count
      %span
        %i.fa.fa-comment-o
        = event.comments.count

    .share-box{ 'data-share-image': image_url('seo.png') }


%section{ style: 'margin: 28px 0;' }
  .container
    .text-center
      %ul.list-inline
        %li
          %button#to-facebook.btn.btn-danger.btn-lg
            %i.fa.fa-facebook
            페이스북에 게시하기
          #facebook-posts
            = link_to "https://www.facebook.com/hashtag/#{@event.sns_event.try(:facebook_hashtags).gsub(/^#/, "").to_param}", target: '_blank' do
              페이스북 글보기
              %i.fa.fa-external-link

        %li
          = link_to "https://twitter.com/intent/tweet?#{{text: @event.sns_event.try(:tweet)}.to_param}", target:'_blank', id: 'to-twitter', class: 'btn btn-primary btn-lg' do
            %i.fa.fa-twitter
            트위터에 게시하기
          #twitter-posts
            = link_to "https://twitter.com/hashtag/#{@event.sns_event.try(:facebook_hashtags).gsub(/^#/, "").to_param}", target: '_blank' do
              트위터 글보기
              %i.fa.fa-external-link

- content_for :script do
  :javascript
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '#{ENV["FACEBOOK_APP_ID"]}',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v2.11'
      });
      FB.AppEvents.logPageView();
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);

      console.log()
      $('#to-facebook').on('click', function(e) {
        FB.ui({
          appId: '#{ENV["FACEBOOK_APP_ID"]}',
          display: 'popup',
          method: 'feed',
          hashtag: #{@event.sns_event.try(:facebook_hashtags).present? ? "'#{@event.sns_event.facebook_hashtags}'" : "null"},
          link: "#{(@event.sns_event.try(:facebook_href).present? ? @event.sns_event.facebook_href : request.url)}"
        }, function(response){
        });
      });
    }(document, 'script', 'facebook-jssdk'));
