= form_for [:admin, @speaker], html: { class: 'ui form' } do |f|
  .field
    = f.label :image
    = f.file_field :image

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :organization
    = f.text_field :organization

  .field
    = f.label :category
    = f.text_field :category

  = f.submit '저장', class: 'ui button'
