.panel.panel-default
  .panel-body
    = form_for [:admin, @speaker] do |f|
      .form-group
        = f.label :image
        = f.file_field :image, class: 'form-control'
        = f.hidden_field :image_cache, value: f.object.image_cache
        %p
        - if f.object.read_attribute(:image).present? and f.object.image?
          = image_tag f.object.image.xs.url

      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :organization
        = f.text_field :organization, class: 'form-control'

      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control'

      .form-group
        = f.label :twitter
        = f.text_field :twitter, placeholder: '아이디만 적어주세요 (ex. @nick_name이라면 nick_name만 쓰기 )', class: 'form-control'

      .form-group
        = f.label :public_site
        = f.text_field :public_site, class: 'form-control'

      .form-group
        = f.label :election_region
        = f.text_field :election_region, placeholder: 'ex) 은평갑', class: 'form-control'

      .form-group
        = f.label :category
        = f.text_field :category, class: 'form-control'


      .form-group
        = f.label '테마에 쓰이는 분류'
        = f.text_field :position_list, value: @speaker.position_list.try(:to_s), placeholder: 'ex)19대_대선후보, 20대_국회의원', class: 'form-control'

      .form-group
        = f.submit '저장', class: 'btn btn-primary'
