= form_for [:admin, @speaker], html: { class: 'ui form' } do |f|
  .field
    = f.label :image
    = f.file_field :image
    = f.hidden_field :image_cache, value: f.object.image_cache
    %p
    - if f.object.read_attribute(:image).present? and f.object.image?
      = image_tag f.object.image.xs.url

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :organization
    = f.text_field :organization

  .field
    = f.label :email
    = f.email_field :email

  .field
    = f.label :twitter
    = f.text_field :twitter

  .field
    = f.label :category
    = f.text_field :category

  .field
    = f.label :position_list
    = f.text_field :position_list, value: @speaker.position_list.try(:to_s), placeholder: 'ex)대선주자, 국회의원', class: 'form-control'

  = f.submit '저장', class: 'ui button'
