%section
  .container
    .jumbotron{ style: 'background-color: #4a5dd0; color: #f5f5f5;'}
      %h2= @event.title
      = raw @event.body

    %section{ style: 'margin-bottom: 28px;' }
      - ActsAsTaggableOn::Tag.most_used(100).each do |tag|
        - if params[:tag] == tag.name
          %span{ style: 'display: inline-block; background-color: #4a5dd0; padding: 7px 14px; border: 1px solid #4a5dd0; border-radius: 28px; color: #fff; margin-bottom: 7px;' }
            = link_to tag.name, event_path(@event, {tag: tag.name}), style: 'color: #fff'
            %small
              = tag.taggings_count
        - else
          %span{ style: 'display: inline-block; padding: 7px 14px; border: 1px solid #4a5dd0; border-radius: 28px; margin-bottom: 7px;' }
            = link_to tag.name, event_path(@event, {tag: tag.name})
            %small.text-muted
              = tag.taggings_count

    %section
      .row.masonry-container
        .col-sm-6
          .panel.panel-floating
            .panel-body
              = form_for Comment.new do |f|
                = f.hidden_field :commentable_type, value: 'Event'
                = f.hidden_field :commentable_id, value: @event.id
                - unless user_signed_in?
                  .form-group
                    = f.label :commenter_name
                    = f.text_field :commenter_name, class: 'form-control'
                  .form-group
                    = f.label :commenter_email
                    = f.text_field :commenter_email, class: 'form-control'
                .form-group
                  ~ f.text_area :body, placeholder: '새롭게 쓰는 대한민국, 당신이 가장 바라는 변화 한가지는 무엇인가요?', rows: 8, class: 'form-control input-lg'
                .form-group
                  = f.text_field :tag_list, placeholder: '태그1, 태그2', class: 'form-control'
                = f.submit '작성', class: 'btn btn-primary btn-sm btn-block'

        - comments = params[:tag].present? ? @event.comments.tagged_with(params[:tag]) : @event.comments
        - comments.order('id DESC').each do |comment|
          .col-sm-6
            .panel.panel-floating
              .panel-body
                .comment__body
                  %h4{ style: 'font-size: 16px; letter-spacing: -0.02em; line-height: 1.4;'}= smart_format comment.body
                .comment__tags
                  - comment.tag_list.each do |tag|
                    = link_to "##{tag}", event_path(@event, {tag: tag})
                .comment__meta{ style: 'color: #5f5f5f;font-size: 12px' }
                  = comment.user_nickname
                  = date_f comment.created_at
                  - if can? :destroy, comment
                    = link_to '삭제', comment, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
                  - if current_user != comment.user
                    = render 'reports/button', reportable: comment
                .comment__like{ style: 'margin-top: 14px;' }
                  = render 'likes/button', likable: comment

%section.page-block
  .container
    %h4 지금 진행중인 다른 캠페인
    %ul
      %li= link_to '임시총리 누가 좋을까요? 인물을 추천하고 평가하는데 참여해 보세요', 'http://wouldyouparty.org/campaigns/10'
      %li= link_to '박근혜, 최순실, 새누리당. 모두 책임져야 합니다.', 'http://wouldyouparty.org/campaigns/5'
