= form_for @event do |f|
  - if params[:project_id].present?
    = f.hidden_field :project_id, value: params[:project_id]
  - else
    .form-group
      = f.label :project_id
      = f.collection_select :project_id, Project.all, :id, :title, {include_blank: '프로젝트 없음'}, { class: 'js-select2 form-control' }

  .form-group
    = f.label :image
    = f.file_field :image, class: 'form-control'
    = f.hidden_field :image_cache, value: f.object.image_cache
    .help-block
    - if f.object.read_attribute(:image).present?
      = image_tag f.object.image.xs.url, class: 'img-thumbnail', style: 'max-width: 40px'
      %label{ style: 'font-weight: normal;' }
        = f.check_box :remove_image
        삭제하기

  .form-group
    = f.label :social_image
    = f.file_field :social_image, class: 'form-control'
    = f.hidden_field :social_image_cache, value: f.object.social_image_cache
    .help-block
    - if f.object.read_attribute(:social_image).present?
      = image_tag f.object.social_image.xs.url, class: 'img-thumbnail', style: 'max-width: 40px'
      %label{ style: 'font-weight: normal;' }
        = f.check_box :remove_social_image
        삭제하기

  .form-group
    = f.label :image
    = f.file_field :image, class: 'form-control'

  .form-group
    - @event.template = :default if @event.template.blank?
    = f.label :template
    - template_selections = Hash[Event::TEMPLATES.map { |n| [t("activerecord.attributes.event.template_names.#{n}"), n] }]
    = f.select :template, template_selections.sort{|a, b| a[0] <=> b[0]}, {}, class: 'form-control'
    .help-block
      템플릿 예시 :
      %ul
        - Event::TEMPLATES.each do |template|
          %li
            = t("activerecord.attributes.event.template_names.#{template}")
            \:
            - sample_event = Event.where.not(id: @event.try(:id)).where(template: template).first
            - if sample_event.present?
              = link_to sample_event.title, sample_event, target: '_blank'
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :body
    ~ f.text_area :body, class: 'form-control redactor'

  .form-group
    = f.label :slug
    = f.text_field :slug, class: 'form-control'
    .help-block
      입력하지 않아도 됩니다.
  .form-group
    = f.label :css
    ~ f.text_area :css, rows: 10, class: 'form-control'
    .help-block
      입력하지 않아도 됩니다.
  .form-group
    = f.submit '저장', class: 'btn btn-primary'
