= form_for Comment.new, html: { class: 'gov-action-form-validation', onsubmit: "$(this).find('#comment_tag_list').val( $(this).find('#comment_full_street_address option:selected').text() );" } do |f|
  = f.hidden_field :commentable_type, value: 'Event'
  = f.hidden_field :commentable_id, value: event.id
  = f.hidden_field :tag_list
  = invisible_captcha
  - unless user_signed_in?
    .form-group
      = f.label :commenter_name
      = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
    .form-group.hidden
      = f.label :commenter_email
      = f.text_field :commenter_email, class: 'form-control'
  .form-group
    = f.label :full_street_address, '주소(필수)'
    = f.select :full_street_address, options_for_select( Event::CONGRESSMEN.collect{|c| [ "#{c[0]} (#{c[1]} #{c[2]})", c[3]]} ), {}, class: 'form-control'
  .form-group
    = f.label :image
    = f.file_field :image, class: 'form-control'
  .form-group
    ~ f.text_area :body, placeholder: '지금 나는...', required: true, rows: 3, class: 'form-control', data: { 'rule-required': true }
  = f.submit '작성', class: 'btn btn-primary btn-block'
