= form_for @event do |f|
  .form-group
    = f.label :image
    = f.file_field :image, class: 'form-control'

  .form-group
    = f.label :template
    = f.select :template, Event::TEMPLATES, {}, class: 'form-control'

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control redactor'

  .form-group
    = f.label :slug
    = f.text_field :slug, class: 'form-control'

  .form-group
    = f.submit '저장', class: 'btn btn-primary'
