- if events.any?
  %section.page-block
    .container
      %h4= local_assigns[:title_label] || Event.model_name.human

      .row.masonry-container
        - events.each do |event|
          .col-sm-4
            .panel.panel-default.panel-floating[event]{ style: 'margin-bottom: 28px;' }
              .panel-body
                = link_to event do
                  .img{ style: "background-image: url(#{event.image_url(:lg)})" }
                  %h4= event.title
                  %div= strip_tags event.body
