- comments = params[:tag] ? event.comments.tagged_with(params[:tag]) : event.comments
- google_map_apikey = 'AIzaSyBmxQGhxC-UzPzxIMlE9Sy09Dv9zUtiiW4'

%section.page-block
  #map{ style: 'height: 300px; margin-top: -30px;' }
  %script{:src => "https://maps.googleapis.com/maps/api/js?key=#{google_map_apikey}"}

%section.page-block
  .container-fluid
    .well.well-mute
      = raw @event.body

      .share-box

%section.page-block
  .container-fluid
    - event.comments.tag_counts_on(:tags).each do |tag|
      - if params[:tag] == tag.name
        %span{ style: 'display: inline-block; background-color: #4a5dd0; padding: 7px 14px; border: 1px solid #4a5dd0; border-radius: 28px; color: #fff; margin-bottom: 7px;' }
          = link_to tag.name, event_path(event), style: 'color: #fff'
          %small
            = tag.taggings_count
      - else
        %span{ style: 'display: inline-block; padding: 7px 14px; border: 1px solid #4a5dd0; border-radius: 28px; margin-bottom: 7px;' }
          = link_to tag.name, event_path(event, {tag: tag.name})
          %small.text-muted
            = tag.taggings_count

%section.page-block
  .container-fluid
    .row.masonry-container
      .col-md-3.col-sm-4.hidden-xs
        .panel.panel-default.panel-floating
          .panel-body
            = render 'form_with_assembly', event: event
      - comments.order('id DESC').each do |comment|
        .col-md-3.col-sm-4
          .panel.panel-default.panel-floating[comment]{ style: 'padding:0' }
            .panel-body
              %h4= comment.tag_list
              - if comment.image.present?
                .comment__image
                  - if comment.latitude && comment.longitude
                    %a{ "data-target" => "#comment-modal", "data-toggle" => "modal", "data-comment-id" => comment.id, :type => "button", style: 'cursor:pointer' }
                      = image_tag comment.image_url(:lg), style: 'width: 100%;'
                  - else
                    = image_tag comment.image_url(:lg), style: 'width: 100%;'
              .comment__body
                %h4{ style: 'font-size: 16px; letter-spacing: -0.02em; line-height: 1.4;'}= smart_format comment.body
              .comment__meta{ style: 'color: #5f5f5f;font-size: 12px' }
                - if comment.latitude && comment.longitude
                  %i.fa.fa-map-marker.text-danger
                = comment.user_nickname
                = date_f comment.created_at
                - if can? :destroy, comment
                  = link_to '삭제', comment, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
                - if current_user != comment.user
                  = render 'reports/button', reportable: comment
              .comment__map.hidden
                - if comment.latitude && comment.longitude
                  = image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{comment.latitude},#{comment.longitude}&size=400x300&zoom=18&markers=color:red%7C#{comment.latitude},#{comment.longitude}&key=#{google_map_apikey}", style: 'max-width: 100%;'
              .comment__like{ style: 'margin-top: 14px;' }
                = render 'likes/button', likable: comment

#comment-modal.modal.fade{:role => "dialog", :tabindex => "0"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %h4.modal-title
      .modal-body
        .comment__map.text-center

= content_for :script do
  :javascript
    $('#comment-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var id = button.data('comment-id');
      var $comment = $('#comment_'+id);
      var map = $comment.find('.comment__map');
      var body = $comment.find('.comment__body');

      var modal = $(this);
      modal.find('.modal-title').text(body.text());
      modal.find('.modal-body .comment__map').html(map.html());
    })


    var locations = #{comments.select{|c| c.latitude.present? }.pluck(:body, :latitude, :longitude)}

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(-33.92, 151.25),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var bounds = new google.maps.LatLngBounds();
    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      bounds.extend(marker.position);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

    map.fitBounds(bounds);

%section.visible-xs
  .container-fluid
    %nav.navbar.navbar-default.navbar-fixed-bottom{ style: 'min-height: auto;'}
      %button.btn.btn-primary.btn-lg.btn-block{"data-target" => "#comment-form-modal", "data-toggle" => "modal", :type => "button"}
        %i.fa.fa-file-image-o
        사진 올리기

#comment-form-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %h4.modal-title 사진과 설명을 남겨주세요
      .modal-body
        = render 'form_with_assembly', event: event
