- cover_image = event.image_url(:lg)
%section.cover-section{ style: "background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(#{cover_image})" }
  .container.container-fluid
    = render 'header'
    - if @campaign
      .cover-section__campaign
        = link_to @campaign.title, @campaign

    %h2.cover-section__title
      = event.title

    - if can?(:edit, event) || can?(:destroy, event)
      .cover-section__buttons
        - if can? :edit, event
          = link_to '수정', edit_event_path(event)
        - if can? :destroy, event
          = link_to '삭제', event, method: :delete, data: { confirm: '삭제하시겠습니까?' }

    .cover-section__body= raw event.body

    %h4.cover-section__users-count
      %span
        %i.fa.fa-comment-o
        = event.comments.count

    .share-box{ 'data-share-image': image_url('seo.png') }

%section{ style: 'margin: 28px 0;' }
  .container-fluid
    - event.comments.tag_counts_on(:tags).each do |tag|
      - if params[:tag] == tag.name
        %span{ style: 'display: inline-block; background-color: #4a5dd0; padding: 7px 14px; border: 1px solid #4a5dd0; border-radius: 28px; color: #fff; margin-bottom: 7px;' }
          = link_to tag.name, event_path(event, {tag: tag.name}), style: 'color: #fff'
          %small
            = tag.count
      - else
        %span{ style: 'display: inline-block; padding: 7px 14px; border: 1px solid #4a5dd0; border-radius: 28px; margin-bottom: 7px;' }
          = link_to tag.name, event_path(event, {tag: tag.name})
          %small.text-muted
            = tag.taggings_count

%section
  .container-fluid
    .row.masonry-container
      .col-sm-6.col-md-4.col-lg-3
        .panel.panel-default.panel-floating
          .panel-body
            = form_for Comment.new, html: { class: 'gov-action-form-validation' } do |f|
              = f.hidden_field :commentable_type, value: 'Event'
              = f.hidden_field :commentable_id, value: event.id
              - unless user_signed_in?
                .form-group
                  = f.label :commenter_name
                  = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
                .form-group
                  = f.label :commenter_email
                  = f.text_field :commenter_email, class: 'form-control'
              .form-group
                ~ f.text_area :body, placeholder: '나의 의견은 ...', rows: 8, class: 'form-control input-lg', data: { 'rule-required': true }
              .form-group
                = f.text_field :tag_list, placeholder: '태그1, 태그2', class: 'form-control'
              - unless user_signed_in?
                .form-group.recaptcha
                  .help-block 스팸 방지를 위해 사람인지 확인합니다. 아래 체크 박스를 클릭해 주세요.
                  = hidden_field_tag :hiddenRecaptcha, nil, class: 'validate'
                  .gov-action-recaptcha
              = f.submit '작성', class: 'btn btn-primary btn-sm btn-block'

      - comments = params[:tag].present? ? event.comments.tagged_with(params[:tag]) : event.comments
      - comments.order('id DESC').each do |comment|
        .col-sm-6.col-md-4.col-lg-3
          .panel.panel-default.panel-floating[comment]
            .panel-body
              .comment__body
                %h4{ style: 'font-size: 16px; letter-spacing: -0.02em; line-height: 1.4;'}= smart_format comment.body
              .comment__tags
                - comment.tag_list.each do |tag|
                  = link_to "##{tag}", event_path(event, {tag: tag})
              .comment__meta{ style: 'color: #5f5f5f;font-size: 12px' }
                = comment.user_nickname
                = date_f comment.created_at
                - if can? :destroy, comment
                  = link_to '삭제', comment, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
                - if current_user != comment.user
                  = render 'reports/button', reportable: comment
              .comment__like{ style: 'margin-top: 14px;' }
                = render 'likes/button', likable: comment
