%section.page-block
  .container
    %h2
      = link_to @agency do
        = @agency.title

%section#events.page-block
  .container.text-center
    .row
      - @agency.positions.each do |position|
        - btn_class = params[:position_name] == position.name ? 'btn-primary' : 'btn-default'
        = link_to agents_agency_path(@agency, position_name: position.name), class: 'btn btn-lg ' + btn_class do
          = position.name
          (#{position.agents.count})

%section.page-block
  .container
    %h3.sub-title
      관련 인물
      - if params[:position_name].blank?
        (#{@all_agents.count})

    - if params[:position_name].present?
      %h4.sub-title
        = params[:position_name]
        (#{@agents.count})

    .row
      - @agents.each do |agent|
        .col-xs-6.col-sm-3
          = render agent
    .text-center
      = paginate @agents, theme: 'twitter-bootstrap-3'

