.card.card-agent{ style: "background-image: url(#{agent.image.md.url});" }
  .caption
    %h4.card-title
      = link_to agent do
        = agent.name
        %small= agent.organization

    .meta
      = link_to agent do
        캠페인 #{agent.petitions.count}개
      &middot;
      = link_to agent do
        의견 #{agent.opinions.count}개
