= render 'agents/header', agent: @agent

- if @agent.petitions.any?
  %section.page-block#agends-list
    .container-fluid
      %h3
        관련
        = Petition.model_name.human
      .row
        = render @agent.petitions

- if @agent.opinions.any?
  %section.page-block
    .container-fluid
      %h3
        의견
      - @agent.opinions.recent.limit(2).each do |opinion|
        %section.m-b
          %h4= opinion.issue.title
          - if opinion.issue.body.present?
            .issue-body
              %p!= simple_format(h(opinion.issue.body))
          = render opinion

- if @agent.agencies.any?
  %section.page-block
    .container-fluid
      %h3.sub-title
        관련 기관
      .row
        = render @agent.agencies
