= form_for @election do |f|
  - if @project.present?
    = f.hidden_field :project_id, value: @project.id

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :body
    ~ f.text_area :body, rows: 10, class: 'form-control redactor'

  .form-group
    = f.label :image
    = f.file_field :image, class: 'form-control'

  .form-group
    = f.label :registered_from
    = f.datetime_field :registered_from, class: 'form-control'

  .form-group
    = f.label :registered_to
    = f.datetime_field :registered_to, class: 'form-control'

  .form-group
    = f.label :voted_from
    = f.datetime_field :voted_from, class: 'form-control'

  .form-group
    = f.label :voted_to
    = f.datetime_field :voted_to, class: 'form-control'

  .form-group
    = f.submit '저장', class: 'btn btn-primary'
