- first_sign_users_count = 300
- if local_assigns[:widget]
  - local_assigns[:hide_users] = params[:hide_users].present? ? (params[:hide_users] == 'true') : true

.sign-panel
  - if petition.signs_goal_count > 0
    .sign-panel__status.text-right
      .sign-panel__status__count
        현재
        %span
          = petition.signs_count
        \/
        목표
        = petition.signs_goal_count

      .progress
        .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{petition.percentage}", :role => "progressbar", :style => "width: #{petition.percentage}%;"}
          #{petition.percentage}%

  - if user_signed_in? and petition.signed?(current_user)
    .sign-panel__form
      .alert.alert-warning
        .text-center
          참여하였습니다
  - else
    .sign-panel__form
      .alert.alert-danger
        - if user_signed_in? and petition.signed?(current_user)
        - else
          = form_for Sign.new(petition: petition), html: { class: 'gov-action-form-validation' } do |f|
            = f.hidden_field :petition_id
            - if petition.use_signer_real_name?
              .form-group
                = f.label :signer_real_name, petition.signer_real_name_title.presence || t('activerecord.attributes.sign.signer_real_name')
                = f.text_field :signer_real_name, placeholder: '실명..', class: 'form-control', data: { 'rule-required': true }
            - else
              - unless user_signed_in?
                .form-group
                  = f.label :signer_name
                  = f.text_field :signer_name, placeholder: '이름 혹은 별명..', class: 'form-control', data: { 'rule-required': true }
            - if petition.use_signer_email?
              - f.object.signer_email = current_user.try(:email)
              .form-group
                = f.label :signer_email, petition.signer_email_title.presence || t('activerecord.attributes.sign.signer_email')
                = f.text_field :signer_email, placeholder: '이메일', class: 'form-control', data: { 'rule-required': true }
            - if petition.use_signer_address?
              .form-group
                = f.label :signer_address, petition.signer_address_title.presence || t('activerecord.attributes.sign.signer_address')
                = f.text_field :signer_address, placeholder: '주소', class: 'form-control', data: { 'rule-required': true }

            - if petition.id == 29
              = f.hidden_field :extra_29_confirm_join, value: 1

            .form-group
              = f.label :body, petition.sign_title || Sign.human_attribute_name(:body)
              = f.text_field :body, placeholder: '나는...', class: 'form-control'

            - if petition.confirm_privacy.present?
              %hr
              .form-group
                .panel
                  .panel-body.text-muted
                    != petition.confirm_privacy
                    %p
                      %strong 설문에 참가하면 위의 사항에 동의하게 됩니다.
            .form-group
              = f.submit "#{petition.signs_count+1}번째로 참가하기", class: 'btn btn-danger btn-lg btn-block', data: { disable_with: "진행 중..." }

  - if petition.signs_count > 0
    - if !local_assigns[:hide_users]
      .sign-panel__users
        - petition.signs.recent.limit(first_sign_users_count).each do |sign|
          %i.fa.fa-user
          = sign.user_name
        - if petition.signs.count > first_sign_users_count
          - if local_assigns[:widget]
            = link_to "... #{petition.signs.count - first_sign_users_count}명 더보기", petition_url(@petition), target: '_blank'
          - else
            = link_to "... #{petition.signs.count - first_sign_users_count}명 더보기", petition_signs_path(petition)
    %hr
    %table.user-opinion-line
      - @signs.each do |sign|
        %tr
          %td{style:"width:80px;"}
            %strong
              %i.fa.fa-user
              = sign.user_name
          %td
            = raw(screened(sign, :body))
            - if !local_assigns[:widget]
              %small
                - if current_user != sign.user
                  = render 'reports/button', reportable: sign
                - if can? :update, sign
                  = link_to '수정', [:edit, sign]
                - if can? :destroy, sign
                  = link_to '삭제', sign, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
    - if !local_assigns[:widget]
      .sign-panel__pagination.text-center
        = paginate @signs, params: { controller: :petitions, activeon: :show }, theme: 'twitter-bootstrap-3'
    - else
      .text-center{ style: 'margin-top: 12px' }
        = link_to '더보기 >', petition_url(@petition), target: '_blank'

