.sign-panel
  .sign-panel__status
    .sign-panel__status__count
      현재
      = petition.signs_count
      \/
      목표
      = petition.signs_goal_count

    .progress
      .progress-bar.progress-bar-warning.progress-bar-striped.active{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{petition.percentage}", :role => "progressbar", :style => "width: #{petition.percentage}%;"}
        #{petition.percentage}%

  .sign-panel__form
    - if user_signed_in? and petition.signed?(current_user)
      .text-center
        서명하였습니다
    - else
      = form_for Sign.new(petition: petition) do |f|
        = f.hidden_field :petition_id
        .form-group
          = f.text_field :body, placeholder: '서명 한마디..', class: 'form-control'
        - unless user_signed_in?
          .row
            .col-xs-12.col-md-6
              .form-group
                = f.label :signer_name
                = f.text_field :signer_name, class: 'form-control'
            .col-xs-12.col-md-6
              .form-group
                = f.label :signer_email
                = f.text_field :signer_email, class: 'form-control'
        .form-group
          = f.submit "#{petition.signs_count+1}번째 서명자 되기", class: 'btn btn-primary btn-sm', data: { disable_with: "진행 중..." }

  .sign-panel__list
    - petition.signs.recent.each do |sign|
      %div[sign]
        .media
          .media-left
            .img-user{style: "background-image: url(#{sign.user_image_url});"}
          .media-body
            .text-muted
              = sign.user_name
              - if current_user != sign.user
                = render 'reports/button', reportable: sign
            = raw screened(sign, :body)
            %small
              - if can? :update, sign
                = link_to '수정', [:edit, sign]
              - if can? :destroy, sign
                = link_to '취소', sign, method: :delete, data: { confirm: '정말 취소하시겠습니까?' }
