%section#about-section{style:"height:600px;background-position:center; background-size:cover;background-image: url(#{asset_url('gov_bg3.png')});"}
  .container
    %h2
      게임하듯
      %span.visible-xs-block
      정치하는<br/>
      %span.visible-xs-block
      시민들의 놀이터
      %br
      %strong{style:"font-size:61px;line-height:80px;"}
        가브크래프트<br/>
      %small
        = link_to 'https://docs.parti.xyz/platform-govcraft.html', target: '_blank' do
          플랫폼 소개
        &middot;
        = link_to 'https://docs.parti.xyz/', target: '_blank' do
          빠띠 소개

%section#petitions.page-block
  .container-fluid
    = link_to petitions_url(subdomain: root_subdomain) do
      %h3.sub-title
        새로운 액션
        %small.pull-right 전체 보기
    .row
      = render Petition.recent.where("signs_count > 100").limit(6)

%section#stories.page-block
  .container-fluid
    = link_to stories_url(subdomain: root_subdomain) do
      %h3.sub-title
        새로운 #{Story.model_name.human}
        %small.pull-right 전체 보기
    .row.masonry-container
      = render Story.recent.limit(6)
