%section#site-hero-block
  .container
    .jumbotron
      %h2 우리가 주인이당! Would You Party?
      %p
        시민이 만드는 정치개혁 프로젝트 정당. 지금 정당 하나 하실래요?

%section.page-block
  .container
    %h4 진행중인 캠페인
    .row
      - @campaigns.each do |campaign|
        .col-sm-4
          = render campaign

%section.page-block
  .container
    %h4 새로 올라온 글

    .row
      .col-sm-6
        .panel.panel-default
          .panel-body
            %h5.panel-title 토론
            %ul.list-unstyled
              - Discussion.recent.limit(5).each do |discussion|
                %li
                  %h5
                    = link_to discussion.title, discussion
                    %small.text-muted
                      (#{discussion.comments.count})

      .col-sm-6
        .panel.panel-default
          .panel-body
            %h5.panel-title 투표
            %ul.list-unstyled
              - Poll.recent.limit(5).each do |poll|
                %li
                  %h5
                    = link_to poll.title, poll
                    %small.text-muted
                      %i.fa.fa-check-square-o
                      = poll.votes_count
    .row
      .col-sm-6
        .panel.panel-default
          .panel-body
            %h5.panel-title 서명
            %ul.list-unstyled
              - Petition.recent.limit(5).each do |petition|
                %li
                  %h5
                    = link_to petition.title, petition
                    %small.text-muted
                      %i.fa.fa-user-o
                      = petition.signs_count

      .col-sm-6
        .panel.panel-default
          .panel-body
            %h5.panel-title 아카이브
            %ul.list-unstyled
              - ArchiveDocument.recent.limit(5).each do |document|
                %li
                  %h5
                    #{link_to document.archive.title, document.archive}
                    \-
                    = link_to document.title, document

%section.page-block{ style: 'background-color: #f5f5f5; padding-top: 28px;' }
  .container
    .row
      .col-sm-4
        .panel.panel-floating
          .panel-body
            .text-center
              %h4{ style: 'margin-top:14px;'}= link_to '시민아카이브', archives_path
      .col-sm-4
        .panel.panel-floating
          .panel-body
            .text-center
              %h4{ style: 'margin-top:14px;'}= link_to '시민추모관', memorials_path
      .col-sm-4
        .panel.panel-floating
          .panel-body
            .text-center
              %h4{ style: 'margin-top:14px;'}= link_to '시민씽크탱크', agendas_path
