%section#about-section{style:"height:600px;background-position:center; background-size:cover;background-image: url(#{asset_url('gov_bg3.png')});"}
  .container
    %h2
      게임하듯
      %span.visible-xs-block
      정치하는<br/>
      %span.visible-xs-block
      시민들의 놀이터
      %br
      %strong{style:"font-size:61px;line-height:80px;"}
        가브크래프트<br/>
      %small
        = link_to 'https://docs.parti.xyz/platform-govcraft.html', target: '_blank' do
          플랫폼 소개
        &middot;
        = link_to 'https://docs.parti.xyz/', target: '_blank' do
          빠띠 소개


%section#projects.page-block
  .container
    = link_to projects_url(subdomain: root_subdomain) do
      %h3.sub-title= Project.model_name.human
    .row
      = render Project.recent.limit(12)
    %hr{style:"color:rgba(230, 230, 230, 1);height:2px;margin-top:0px;"}


%section#petitions.page-block
  .container
    = link_to petitions_url(subdomain: root_subdomain) do
      %h3.sub-title= Petition.model_name.human
    .row
      = render Petition.recent.limit(4)


- discussions = Discussion.recent.limit(10)
%section#discussions.page-block
  .container
    = link_to discussions_url(subdomain: root_subdomain) do
      %h3.sub-title= Discussion.model_name.human
    %table.table
      = render discussions

    .list-group.visible-xs
      - discussions.each do |discussion|
        = link_to discussion, class: 'list-group-item' do
          %span.badge
            %i.fa.fa-heart
            = discussion.merged_likes_count
          %h5.list-group-item-heading= discussion.title
          %p
            %i.fa.fa-user
            = discussion.user.nickname
