%section#petitions.page-block
  .container-fluid
    %h3.sub-title
      진행 중인 시민 액션
      %small.pull-right
        = link_to petitions_url(subdomain: root_subdomain), class: 'btn btn-default' do
          전체 보기
        = link_to new_petition_path, class: 'btn btn-info' do
          액션 시작하기
    .row
      = render Petition.recent.where("signs_count > 100").limit(6)

%section#stories.page-block
  .container-fluid
    %h3.sub-title
      = Agenda.model_name.human
      %small.pull-right
        = link_to agendas_path, class: 'btn btn-default' do
          전체 보기
    .row.masonry-container
      = render Agenda.limit(6)

%section#about-section{style:"background-position:center; background-size:cover;background-image: url(#{asset_url('gov_bg3.png')});"}
  .container
    %h2
      %p
        세상을 바꾸는
        %br
        시민들의 정치 놀이터
        %br
        %strong{style:"font-size:61px;line-height:80px;"}
          가브크래프트
      %small
        = link_to 'https://docs.parti.xyz/platform-govcraft.html', class: 'btn btn-lg btn-danger', target: '_blank' do
          가브크래프트 소개
        = link_to 'https://docs.parti.xyz/', class: 'btn btn-lg btn-info', target: '_blank' do
          빠띠 소개
