- event = Event.last
- if event.present?
  %section#site-hero-block{ style: "background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(#{event.image});" }
    .container
      .jumbotron
        = link_to event do
          %h2= event.title
          = raw event.body
        %p= link_to '지금 참여하기', event, class: 'btn btn-primary btn-lg'

%section.page-block
  .container
    %h4 진행중인 캠페인
    .row.masonry-container
      - @campaigns.each do |campaign|
        .col-sm-4
          = render campaign

= render 'discussions/list', discussions: Discussion.recent
= render 'polls/list', polls: Poll.recent
= render 'petitions/list', petitions: Petition.recent
= render 'wikis/list', wikis: Wiki.recent

%section
  .container
    .row
      .col-sm-6
        .panel.panel-default
          .panel-heading
            %h4.panel-title #{Archive.model_name.human}
          .panel-body
            %ul.list-unstyled
              - ArchiveDocument.recent.limit(5).each do |document|
                %li
                  %h5
                    #{link_to document.archive.title, document.archive}
                    \-
                    = link_to document.title, document

      .col-sm-6
        .panel.panel-default
          .panel-heading
            %h4.panel-title #{Memorial.model_name.human}
          .panel-body
            %ul.list-unstyled
              - Memorial.recent.limit(5).each do |memorial|
                - url = memorial.url.present? ? memorial.url : memorial_path(memorial)
                %li
                  %h5
                    = link_to memorial.title, url

%section.page-block{ style: 'background-color: #f5f5f5; padding: 28px 0;' }
  .container
    %h4
      당원
      %small
        %i.fa.fa-user-o
        = User.count
    - User.all.each do |user|
      = link_to user do
        .img-user{style: "background-image: url(#{user.image.sm.url});"}