%section#site-hero-block
  .container
    %p.lead{ style: 'text-align: center; color: white;' }
      우주당은 시민의 힘으로 만들고 운영하는
      %strong
        시민 정치 플랫폼
      입니다.

%section
  .container
    .alert.alert-info
      = link_to 'https://wouldyou.parti.xyz/', target: '_blank', class: 'alert-link' do
        %i.fa.fa-comments
        우주당 빠띠로 가기
      우주당 당원들이 빠띠 모여 프로젝트를 진행하고 있습니다. 같이 참여해보세요!

%section
  .container
    .alert.alert-success
      = link_to 'http://slack.wouldyouparty.org', target: '_blank', class: 'alert-link' do
        %i.fa.fa-slack
        슬랙 초대장 받기
      우주당 당원들이 지금 슬랙에서 이야기를 나누는 중입니다. 함께 하시겠습니까?


%section.page-block
  .ui.container.grid
    .column
      %h3= Project.model_name.human
      .ui.four.column.grid.doubling.stackable
        = render @projects

%section.page-block
  .ui.container.grid
    .column
      %h3= Timeline.model_name.human
      .ui.four.column.grid.doubling.stackable
        = render @timelines

%section.page-block
  .ui.container.grid
    .column
      %h3= Memorial.model_name.human
      .ui.four.column.grid.doubling.stackable
        = render @memorials

%section.page-block
  .ui.container.grid
    .column
      %h3
        = Article.model_name.human
        %small.text-right= link_to '더보기 >', articles_path

      .ui.divided.items
        = render @articles

%section.page-block{ style: 'background-color: #f5f5f5; padding: 28px 0;' }
  .container
    %h3
      당원
      %small
        %i.fa.fa-user-o
        = User.count
    - User.all.each do |user|
      = link_to user do
        .img-user{style: "background-image: url(#{user.image.sm.url});"}
