#site-hero-carousel.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#site-hero-carousel"}
    %li{"data-slide-to" => "1", "data-target" => "#site-hero-carousel"}

  .carousel-inner{:role => "listbox"}
    .item.embed-responsive.embed-responsive-16by9.active{ style: "background-image: url(#{image_url('wouldyou_main.png')})" }
      .carousel-caption
        %p.lead
          우주당은 시민의 힘으로 만드는
          %br.visible-xs
          %strong
            "직접 민주주의 프로젝트 정당"
          입니다.
    .item.embed-responsive.embed-responsive-16by9{ style: "background-image: url(#{image_url('zine.png')})" }
      = link_to 'http://zine.wouldyouparty.org/201703.html', target: '_blank' do
        .carousel-caption
          %p.lead
            해결하고 싶었던 이슈를 좀 더 재미있게
            %br.visible-xs
            %strong
              <월간 우주당>
            이 시작됩니다.
    .item.embed-responsive.embed-responsive-16by9{ style: "background-image: url(#{image_url('events/sewolarchive.jpg')})" }
      = link_to 'http://sewolarchive.org', target: '_blank' do
        .carousel-caption
          %p.lead
            %strong
              <세월호 아카이브>
            를 구축합니다

  %a.left.carousel-control{"data-slide" => "prev", :href => "#site-hero-carousel", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#site-hero-carousel", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    %span.sr-only Next

%section.page-block
  .container
    .alert.alert-danger
      = link_to 'http://slack.wouldyouparty.org', target: '_blank', class: 'alert-link' do
        %i.fa.fa-slack
        우주당 슬랙 초대장 받기
      우주당 당원들이 지금 슬랙에서 이야기를 나누는 중입니다. 함께 수다 떨어요!

    .alert.alert-info
      = link_to 'https://wouldyou.parti.xyz/', target: '_blank', class: 'alert-link' do
        %i.fa.fa-comments
        우주당 빠띠로 가기
      우주당 당원들이 빠띠에 모여 프로젝트를 진행하고 있습니다. 구경해 보실까요?


%section.page-block
  .container
    %h3= Project.model_name.human
    .row.masonry-container
      = render @projects

%section.page-block
  .container
    %h3= Memorial.model_name.human
    .row.masonry-container
      = render @memorials
