%section#site-hero-block
  .container
    .jumbotron
      %h2 국민이 갑입니다.
      %p 시민 주도의 시민 참여 플랫폼, 가브크래프트

%section.page-block
  .container
    %h4 진행중인 캠페인
    .row
      - @campaigns.each do |campaign|
        .col-sm-4
          = render campaign

- if user_signed_in?
  %section#issues.page-block
    .container
      %h4 나의 관심 토픽

      .following-issues{ style: 'margin-bottom: 14px;' }
        - current_user.following_issues.each do |following_issues|
          = render following_issues
      = render 'following_issues/form'

%section.page-block{ style: 'background-color: #f5f5f5; padding-top: 28px;' }
  .container
    .row
      .col-sm-4
        .panel.panel-floating
          .panel-body
            .text-center
              %h4{ style: 'margin-top:14px;'}= link_to '시민아카이브', archives_path
      .col-sm-4
        .panel.panel-floating
          .panel-body
            .text-center
              %h4{ style: 'margin-top:14px;'}= link_to '시민추모관', memorials_path
      .col-sm-4
        .panel.panel-floating
          .panel-body
            .text-center
              %h4{ style: 'margin-top:14px;'}= link_to '시민씽크탱크', agendas_path
