%section#site-hero-block
  .container
    .jumbotron
      %h2 우리가 주인이당! Would You Party?

- if @new_projects.any?
  %section.page-block
    .container
      - if @new_projects.any?
        %h4 새 #{Project.model_name.human}
        .row
          - @new_projects.each do |project|
            .col-sm-6
              = render project


= render 'events/list', events: @new_events, title_label: "새 #{Event.model_name.human}" if @new_events.any?
= render 'polls/list', polls: @new_polls, title_label: "새 #{Poll.model_name.human}" if @new_polls.any?
= render 'surveys/list', surveys: @new_surveys, title_label: "새 #{Survey.model_name.human}" if @new_polls.any?
= render 'petitions/list', petitions: @new_petitions, title_label: "새 #{Petition.model_name.human}" if @new_petitions.any?
= render 'wikis/list', wikis: @new_wikis, title_label: "새 #{Wiki.model_name.human}" if @new_wikis.any?
= render 'discussions/list', discussions: @new_discussions, title_label: "새 #{Discussion.model_name.human}" if @new_discussions.any?

- if @new_timelines.any? or @new_memorials.any?
  %section.page-block
    .container
      - if @new_timelines.any?
        %h4 새 #{Timeline.model_name.human}
        .row
          - @new_timelines.each do |timeline|
            .col-sm-6
              = render timeline
      - if @new_memorials.any?
        %h4 새 #{Memorial.model_name.human}
        .row
          - @new_memorials.each do |memorial|
            .col-sm-6
              = render memorial



- if @new_articles.any?
  %section.page-block
    .container
      %h4
        새 #{Article.model_name.human}
        %small.text-right= link_to '더보기 >', articles_path
      .panel.panel-default.panel-floating
        %ul.list-group.post-group
          = render @new_articles
