#bloc-6.bloc.bgc-white.l-bloc
  .container.bloc-md
    .row
      .col-sm-12
        %h2.text-left.mg-clear.tc-outer-space
          = local_assigns[:title_label] || @project.try(:component_title, 'poll')
          %small
            = link_to "제안하기", new_poll_path(project_id: @project)

    - if polls.any?
      .row.masonry-container
        = render polls

    - else
      - if @project.present?
        .panel-body
          %small.text-muted
            가장 먼저 투표를 제안해 보세요.
            %br
            = link_to "#{Poll.model_name.human} 제안하기", new_poll_path(project_id: @project)
