%section#polls.page-block
  .container
    %h4
      = @campaign.poll_title
      %small
        = link_to "제안하기", new_poll_path(campaign_id: @campaign)

    .section
      - if polls.any?
        .row.masonry-container
          = render polls

      - else
        - if @campaign.present?
          .panel-body
            %small.text-muted
              가장 먼저 투표를 제안해 보세요.
              %br
              = link_to "#{Poll.model_name.human} 제안하기", new_poll_path(campaign_id: @campaign)
