%section#polls.page-block
  .container
    %h4
      = Poll.model_name.human
      %small
        = link_to "제안하기", new_poll_path(campaign_id: @campaign)

    .panel.panel-default.panel-floating
      - if polls.any?
        %ul.list-group.post-group
          - polls.each do |poll|
            %li.list-group-item[poll]
              = link_to poll do
                .post__status
                  %span.text-primary
                    %i.fa.fa-thumbs-up
                    = poll.agrees_count
                  %span.text-danger
                    %i.fa.fa-thumbs-down
                    = poll.disagrees_count

                - if poll.campaign
                  .post__campaign= poll.campaign.title

                %h4.list-group-item-heading
                  = poll.title
                  - if poll.comments.count > 0
                    %small
                      (#{poll.comments.count})

                .post__meta
                  .row
                    .col-xs-6
                      %span.nickname
                        = poll.user.nickname
                      %span.created_at
                        = date_f poll.created_at
                    .col-xs-6.text-right
                      %span
                        %i.fa.fa-eye
                        = poll.views_count

      - else
        - if @campaign.present?
          .panel-body
            %small.text-muted
              가장 먼저 투표를 제안해 보세요.
              %br
              = link_to "#{Poll.model_name.human} 제안하기", new_poll_path(campaign_id: @campaign)
