- hide_project_title ||= false
- background = poll.cover_image.present? ? "url(#{asset_url(poll.cover_image)})" : "#5f5f5f"
.col-sm-6
  %div[poll]
    .panel.panel-default.panel-floating.poll-card{style: "background: #{background};"}
      .panel-body
        - if poll.project && !hide_project_title
          .post__project
            = link_to poll.project.title, poll.project

        %h4.poll__title
          = link_to poll.title, poll
        .poll__body
          = strip_tags poll.body if poll.body.present?


        = render 'votes/panel', poll: poll, show_voters: false, show_comment_counts: true


