%section#polls-section.page-block
  .container
    .row
      .col-xs-6
      .col-xs-6.text-right
        = link_to "#{Poll.model_name.human} 제안하기", new_campaign_poll_path(@campaign), class: 'btn btn-default btn-sm'

    %ul.list-group.post-group{ style: 'margin: 28px 0;' }
      - @polls.each do |poll|
        %li.list-group-item[poll]
          = link_to poll do
            %h4.list-group-item-heading
              = poll.title
            .post__meta
              .row
                .col-xs-6
                  %span.nickname
                    = poll.user.nickname
                  %span.created_at
                    = date_f poll.created_at
                .col-xs-6.text-right
                  %span
                    %i.fa.fa-check-square-o
                    = poll.votes_count
                  %span
                    %i.fa.fa-heart-o
                    = poll.likes_count
                  %span
                    %i.fa.fa-eye
                    = poll.views_count
