- if params[:mode] == 'widget'
  = render 'widget'
- else
  - if @poll.project
    = render 'projects/header', project: @poll.project
  %section#poll-block.component-header
    .container
      %span.gov-label
        찬반투표
      %h1.cover-section__title= @poll.title
      %h4.users-count
        %span
          %i.fa.fa-user-o
          = @poll.votes_count
          명 참여
          - if can? :edit, @poll
            = link_to '수정', edit_poll_path(@poll)
          - if can? :destroy, @poll
            = link_to '삭제', @poll, method: :delete, data: { confirm: '삭제하시겠습니까?' }

  %section.post-block
    .user-info
      .user-image{style: "background-image:url(#{asset_url(@poll.user.image)});"}
      = link_to @poll.user.nickname
  .container
    .post-block__info
      %div{style:"font-weight:700;margin:40px 0px"}
        %i.fa.fa-calendar
        = date_f @poll.created_at
        &nbsp;&nbsp;&nbsp;
        %i.fa.fa-file-text-o
        조회
        = @poll.views_count
    .post-block__body
      = raw @poll.body
    %hr
    .panel-body
      .panel-post__votes
        = render 'votes/panel', votable: @poll, show_voters: true

    .panel-body
      .panel-post__share
        %h3.sub-title 이 이슈를 친구들에게 알려 주세요
        .panel-body.component-box
          - cover_image = @poll.cover_image_url(:lg)
          .share-box{ 'data-share-image': image_url(cover_image) }
          %input{value: "<iframe width='100%' height='495' src='#{poll_url(@poll, mode: :widget)}' frameborder='0'></iframe>", style: 'width: 100%;'}

    .panel-body
      .panel-post__comments
        %h3.sub-title 의견 작성하기
        .panel-body.component-box
          = render 'comments/list', commentable: @poll
  - if @project
    = render 'projects/post_footer', project: @project
