%section.page-block
  .container
    .row
      .col-xs-6
        = link_to '목록', campaign_polls_path(@campaign), class: 'btn btn-default btn-sm'
      .col-xs-6.text-right
        = link_to "#{Poll.model_name.human} 제안하기", new_campaign_poll_path(@campaign), class: 'btn btn-default btn-sm'

%section#poll-block.page-block.post-block
  .container
    .post-block__title
      %h3= @poll.title

    .post-block__info
      .row
        .col-xs-6
          %span.post-block__user
            = link_to @poll.user.nickname
          %span.post-block__date
            = date_f @poll.created_at
          - if can? :edit, @poll
            = link_to '수정', edit_poll_path(@poll)
          - if can? :destroy, @poll
            = link_to '삭제', @poll, method: :delete, data: { confirm: '삭제하시겠습니까?' }
        .col-xs-6.text-right
          조회 #{@poll.views_count}

    .post-block__body
      = simple_format @poll.body

    .post-block__share.text-center
      .share-box

    .post-block__like.hidden
      = render 'likes/button', likable: @poll

    .post-block__vote
      = render 'votes/panel', poll: @poll

    .post-block__comments
      = render 'comments/list', commentable: @poll
