.panel.panel-default
  = form_for @project do |f|
    .panel-body

      %h3 기본 정보

      .form-group.form-group-lg
        = f.label :title
        = f.text_field :title, class: 'form-control'

      .form-group
        = f.label :subtitle
        = f.text_field :subtitle, class: 'form-control'

      .form-group
        = f.label :body
        ~ f.text_area :body, rows: 8, class: 'form-control'

      .form-group
        = f.label :slug
        .input-group
          .input-group-addon
            #{request.base_url}/p/
          = f.text_field :slug, class: 'form-control'
        %p.help-block 영문자와 숫자, -만 넣어주세요. 이미 등록된 주소는 사용할 수 없습니다.

      .form-group
        = f.label :organization_id
        - org_hash = Hash[Organization.all.map { |o| [o.title, o.id] }]
        = f.select :organization_id, org_hash, { include_blank: true }, class: 'form-control'

      .form-group
        = f.label :image
        = f.file_field :image, class: 'form-control'
        = f.hidden_field :image_cache
        %p.help-block 패턴 이미지를 사용하는게 좋습니다.
        - if f.object.read_attribute(:image).present?
          = image_tag f.object.image.url, class: 'img-thumbnail', style: 'max-height: 100px'
          %label{ style: 'font-weight: normal; margin-top: 6px' }
            = f.check_box :remove_image
            삭제하기

      .form-group
        = f.label :social_image
        = f.file_field :social_image, class: 'form-control'
        = f.hidden_field :social_image_cache
        %p.help-block 큰 크기로 미리 보기를 표시하려면 최소한 600x315픽셀인 이미지를 사용해야 합니다. 최소 이미지 크기는 200x200픽셀입니다.
        - if f.object.read_attribute(:social_image).present?
          = image_tag f.object.social_image.url, class: 'img-thumbnail', style: 'max-height: 100px'
          %label{ style: 'font-weight: normal; margin-top: 6px' }
            = f.check_box :remove_social_image
            삭제하기
      %hr

      %h3 프로젝트 기능

      .row
        .col-sm-3
          .checkbox
            %label
              = f.check_box :story_enabled
              = Project.human_attribute_name("story_enabled")

        .col-sm-6
          .form-group
            = f.text_field :story_title, placeholder: Project.human_attribute_name("story_title"), class: 'form-control'

        .col-sm-3
          .form-group.form-inline
            순서:
            = f.text_field :story_sequence, class: 'form-control'

      .row
        .col-sm-3
          .checkbox
            %label
              = f.check_box :discussion_enabled
              = Project.human_attribute_name("discussion_enabled")

        .col-sm-6
          .form-group
            = f.text_field :discussion_title, placeholder: Project.human_attribute_name("discussion_title"), class: 'form-control'

        .col-sm-3
          .form-group.form-inline
            순서:
            = f.text_field :discussion_sequence, class: 'form-control'

      .row
        .col-sm-3
          .checkbox
            %label
              = f.check_box :poll_enabled
              = Project.human_attribute_name("poll_enabled")

        .col-sm-6
          .form-group
            = f.text_field :poll_title, placeholder: Project.human_attribute_name("poll_title"), class: 'form-control'

        .col-sm-3
          .form-group.form-inline
            순서:
            = f.text_field :poll_sequence, class: 'form-control'

      .row
        .col-sm-3
          .checkbox
            %label
              = f.check_box :petition_enabled
              = Project.human_attribute_name("petition_enabled")

        .col-sm-6
          .form-group
            = f.text_field :petition_title, placeholder: Project.human_attribute_name("petition_title"), class: 'form-control'

        .col-sm-3
          .form-group.form-inline
            순서:
            = f.text_field :petition_sequence, class: 'form-control'

      .row
        .col-sm-3
          .checkbox
            %label
              = f.check_box :wiki_enabled
              = Project.human_attribute_name("wiki_enabled")

        .col-sm-6
          .form-group
            = f.text_field :wiki_title, placeholder: Project.human_attribute_name("wiki_title"), class: 'form-control'

        .col-sm-3
          .form-group.form-inline
            순서:
            = f.text_field :wiki_sequence, class: 'form-control'

      .row
        .col-sm-6
          .form-group.form-inline
            이벤트 순서:
            = f.text_field :event_sequence, class: 'form-control'

      %hr

      .form-group
        = f.submit '저장', class: 'btn btn-primary btn-lg'
        = link_to '취소', :back, class: 'btn'
