%section#project-header-block{style: "background-image: url(#{asset_url(project.image_url(:lg))});"}
  .container
    .container.visible-xs
      = render 'projects/header_navbar', project: project
    .hidden-xs
      = render 'application/current_user_state_badge'
    %h2
      .project__title
        = link_to project.title, project
        %br.visible-xs
        %small
          - if can? :edit, project
            = link_to '수정', edit_project_path(project), class: 'btn btn-xs btn-default'
          - if can? :destroy, project
            = link_to '삭제', project, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: 'btn btn-xs btn-default'
          - if user_signed_in?
            - if project.participated? current_user
              %span.btn.btn-xs.btn-default.gov-action-popover{ data: { placement: 'bottom', url: "##{dom_id(project)}--cancel-participation" } }
                참여 중
                %i.fa.fa-caret-down
              .hidden
                .cancel-participation{id: "#{dom_id(project)}--cancel-participation", style: 'white-space: nowrap;'}
                  = link_to cancel_participations_path(project_id: project.id), method: :delete, data: { confirm: '정말 나가시겠습니까?' } do
                    프로젝트 나가기
            - else
              = link_to '참여', participations_path(project_id: project.id), method: :post, class: 'btn btn-xs btn-default'
          - else
            = link_to new_user_session_path, class: 'btn btn-xs btn-default' do
              참여

    .project__meta
      %span
        제안자 :
        = project.user.nickname
      - if project.participations.any?
        %span
          참여자 :
          - preview_count = 3
          - remain_count = project.participations.count - preview_count
          - remain_count = 0 if remain_count < 0

          - project.participations.recent.limit(preview_count).each do |participation|
            = participation.user.nickname
          - if remain_count > 0
            + #{remain_count}
      %br.hidden-sm.visible-xs-block
      %span
        시작일 :
        = date_f project.created_at
      %span
        활동지수 :
        = rand(1000)
        점
    - if params[:controller] == 'projects'
      .project_share{ style: 'margin-top: 14px;' }
        .share-box{ 'data-share-image': image_url(project.image) }

  %section.header_navbar.hidden-xs
    .container
      = render 'projects/header_navbar', project: project

.container
  .project-intro
    - if project.subtitle.present?
      %h3.project-subtitle= project.subtitle
    - if project.id == 7
      .project-video.row
        .col-sm-12
          .embed-responsive.embed-responsive-16by9
            %iframe.embed-responsive-item{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://www.youtube.com/embed/AgvL7fnPsCs", :webkitallowfullscreen => ""}
        .col-sm-12.help-block
          Kevin MacLeod의 Griphop은(는) Creative Commons Attribution 라이선스(https://creativecommons.org/licenses/by/4.0/)에 따라 라이선스가 부여됩니다.
          %br
          출처: http://incompetech.com/music/royalty-free/index.html?isrc=USUAN1100413
          %br
          아티스트: http://incompetech.com/
    .project-desc= smart_format project.body

