/ bloc-0
#bloc-0.bloc.hidden-lg.hidden-md.project-header-mobile.bgc-blue-green.d-bloc
  .container
    %nav.navbar.nav-invert.row
      .navbar-header
        %button#nav-toggle.ui-navbar-toggle.navbar-toggle{"data-target" => ".navbar-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .navbar-collapse.navbar-1.collapse.special-dropdown-nav
        %ul.site-navigation.nav.navbar-nav
          - if project.events.any?
            %li
              = link_to '#anchor-project-envent' do
                = local_assigns[:title_label] || Event.model_name.human
          - if project.polls.any?
            %li
              = link_to '#anchor-project-poll' do
                = local_assigns[:title_label] || project.try(:component_title, 'poll')
          - if project.surveys.any?
            %li
              = link_to '#anchor-project-survey' do
                = local_assigns[:title_label] || project.try(:component_title, 'survey')
          - if project.petitions.any?
            %li
              = link_to '#anchor-project-petition' do
                = local_assigns[:title_label] || project.try(:component_title, 'petition')
          %li
            = link_to '#anchor-project-wiki' do
              위키
          - if project.discussions.any?
            %li
              = link_to '#anchor-project-discussion' do
                = local_assigns[:title_label] || project.try(:component_title, 'discussion')
/ bloc-0 END
/ bloc-1
#bloc-1.bloc.project-header.bgc-blue-green.d-bloc
  .container.bloc-sm
    .current-user-status.badge.pull-right
      - if user_signed_in?
        .dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            = render 'users/thumbnail'
            = current_user.nickname
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to edit_user_registration_path do
                프로필 수정
            %li
              = link_to sign_out_path, method: :delete do
                로그아웃
      - else
        = link_to new_user_session_path do
          %i.fa.fa-sign-in
          로그인 &middot; 가입
    .row.voffset-clear-xs
      .col-sm-12
        %h1.mg-sm.project-title.mg-clear-xs
          = link_to project.title, project
/ bloc-1 END
/ bloc-2
#bloc-2.bloc.hidden-xs.hidden-sm.bgc-blue-green.d-bloc
  .container
    %nav.navbar.nav-invert.row
      .navbar-header
        %button#nav-toggle.ui-navbar-toggle.navbar-toggle{"data-target" => ".navbar-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .navbar-collapse.navbar-1.collapse
        %ul.site-navigation.nav.navbar-nav
          - if project.events.any?
            %li
              = link_to '#anchor-project-envent' do
                = local_assigns[:title_label] || Event.model_name.human
          - if project.polls.any?
            %li
              = link_to '#anchor-project-poll' do
                = local_assigns[:title_label] || project.try(:component_title, 'poll')
          - if project.surveys.any?
            %li
              = link_to '#anchor-project-survey' do
                = local_assigns[:title_label] || project.try(:component_title, 'survey')
          - if project.petitions.any?
            %li
              = link_to '#anchor-project-petition' do
                = local_assigns[:title_label] || project.try(:component_title, 'petition')
          %li
            = link_to '#anchor-project-wiki' do
              위키
          - if project.discussions.any?
            %li
              = link_to '#anchor-project-discussion' do
                = local_assigns[:title_label] || project.try(:component_title, 'discussion')
/ bloc-2 END
/ Footer - bloc-3
#bloc-3.bloc.bgc-white.l-bloc
  .container.bloc-sm
    .row
      .col-sm-12
        %h3.mg-md
          = project.title
        %p
          %strong= project.user.nickname
          = date_f project.created_at
          활동지수
          = rand(1000)
/ Footer - bloc-3 END
/ Footer - bloc-5
- if params[:controller] == 'projects'
  #bloc-5.bloc.bgc-white.l-bloc
    .container.bloc-sm
      - if project.id == 7
        .row
          .col-sm-12
            .embed-responsive.embed-responsive-16by9
              %iframe.embed-responsive-item{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://www.youtube.com/embed/AgvL7fnPsCs", :webkitallowfullscreen => ""}
      .row
        .col-sm-12
          = smart_format project.body
/ Footer - bloc-5 END
