.share-box.text-center{ 'data-share-image': image_url(project.image) }

- admin_menu = capture do
  - if can? :edit, project
    = link_to '수정', edit_project_path(project), class: 'btn btn-link'
  - if can? :destroy, project
    = link_to '삭제', project, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: 'btn btn-link'
  - if can? :edit, project
    = link_to '최신소식추가', new_story_path('story[project_id]': project.id), class: 'btn btn-link'
  - if can? :create_campaign, project
    = link_to '캠페인 추가', new_campaign_path(project_id: project.id), class: 'btn btn-link'
  - if can? :update_organizers, project
    = link_to '운영자관리', organizers_path(project_id: project.id), class: 'btn btn-link'

- if admin_menu.try(:strip).present?
  .admin-menu
    .cover-section__buttons.text-center
      = admin_menu
