%section#project-header-block{ style: "background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(#{project.image});" }
  .container
    .current-user-status.badge.pull-right
      - if user_signed_in?
        .dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            = render 'users/thumbnail'
            = current_user.nickname
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to edit_user_registration_path do
                프로필 수정
            %li
              = link_to sign_out_path, method: :delete do
                로그아웃
      - else
        = link_to new_user_session_path do
          %i.fa.fa-sign-in
          로그인 &middot; 가입
    %h2
      %small.badge 프로젝트
      .project__title
        = link_to project.title, project
        %small
          - if can? :edit, project
            = link_to '수정', edit_project_path(project)
          - if can? :destroy, project
            = link_to '삭제', project, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
    - if params[:controller] == 'projects'
      .project__body= smart_format project.body
    .project__meta
      %span
        제안자 :
        = project.user.nickname
      %span
        시작일 :
        = date_f project.created_at
      %span
        활동지수 :
        = rand(1000)
        점
    - if params[:controller] == 'projects'
      .project_share{ style: 'margin-top: 14px;' }
        .share-box{ 'data-share-image': image_url(project.image) }
