%nav.navbar.nav-invert.row
  .navbar-header
    %button.pull-left#nav-toggle.ui-navbar-toggle.navbar-toggle{"data-target" => "#project-navbar", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .visible-xs
    = render 'application/current_user_state_badge'
  .navbar-collapse.collapse#project-navbar
    %ul.site-navigation.nav.navbar-nav
      - if project.events.any? && project.discussion_enabled
        %li
          = link_to '#anchor-project-envent' do
            = Event.model_name.human
      - if project.polls.any? && project.poll_enabled
        %li
          = link_to '#anchor-project-poll-and-survey' do
            = project.try(:component_title, 'poll_and_survey')
      - if project.petitions.any? && project.petition_enabled
        %li
          = link_to '#anchor-project-petition' do
            = project.try(:component_title, 'petition')
      - if project.wiki_enabled
        %li
          = link_to '#anchor-project-wiki' do
            위키
      - if project.discussions.any? && project.discussion_enabled
        %li
          = link_to '#anchor-project-discussion' do
            = project.try(:component_title, 'discussion')
