.col-sm-6.col-xs-12
  = link_to project, html_options = {class:'project-link'} do
    .project-card
      .card-image{ style: "height: 150px; background-image: url(#{project.image.md.url});" }
        .overlay
          .project-card__title
            = project.title
          .project-card__meta
            %i.fa.fa-flash
            = project.action_count
            %i.fa.fa-users
            = number_with_delimiter project.metoo_count
