= render 'header', project: @project

- @project.component_names_sorted.each do |component_name|
  - case component_name
  - when :story
    - if @project.story_enabled? and @project.stories.any?
      %section.page-block
        %a{id: "anchor-project-story"}
        .container
          %h3= @project.component_title('story')
          .row
            = render @project.stories.first(3)
  - when :wiki
    - if @project.wiki_enabled?
      %section.page-block
        %a{id: "anchor-project-wiki"}
        = render 'wikis/list_in_project', wikis: @project.wikis.recent
  - when :event
    - if @project.events.any?
      %section.page-block
        %a{id: "anchor-project-event"}
        = render 'events/list', project: @project, events: @project.events.recent
  - when :discussion
    - if @project.discussion_enabled?
      %section.page-block
        %a{id: "anchor-project-discussion"}
        = render 'discussions/list_in_project', discussions: @project.discussions.recent.page(1).per(10)
  - when :poll
    - if @project.poll_enabled?
      %section.page-block
        %a{id: "anchor-project-poll-and-survey"}
        = render 'polls_and_surveys/list', polls: @project.polls.recent, surveys: @project.surveys.recent
  - when :petition
    - if @project.petition_enabled?
      %section.page-block
        %a{id: "anchor-project-petition"}
        = render 'petitions/list_in_project', petitions: @project.petitions.recent
