- if lookup_context.exists?("projects/#{@project.slug}/_header")
  = render "projects/#{@project.slug}/header", project: @project
- else
  = render 'projects/header', project: @project

- @project.component_names_sorted.each do |component_name|
  - case component_name
  - when :story
    - if @project.story_enabled? and @project.stories.any?
      %section.page-block
        %a{id: "anchor-project-story"}
        .container-fluid
          = link_to stories_path(project_id: @project), project: @project do
            %h3.sub-title= @project.component_title('story')
          .row.masonry-container
            = render @project.stories.recent.limit(6)
  - when :townhall
    - if @project.townhall_enabled? and @current_organization.try(:slug) == 'rebootkorea'
      %section.page-block
        %a{id: "anchor-project-townhall"}
        = render "townhalls/list", project: @project, battles: @battles
  - when :wiki
    - if @project.wiki_enabled?
      %section.page-block
        %a{id: "anchor-project-wiki"}
        = render 'wikis/list', wikis: @project.wikis.recent
  - when :discussion
    - if @project.discussion_enabled?
      %section.page-block
        %a{id: "anchor-project-discussion"}
        = render 'discussions/list', discussions: @project.discussions.recent.page(1).per(10)
  - when :poll
    - if @project.poll_enabled?
      %section.page-block
        %a{id: "anchor-project-poll-and-survey"}
        = render 'polls_and_surveys/list', polls: @project.polls.recent, surveys: @project.surveys.recent
  - when :petition
    - if @project.petition_enabled?
      %section.page-block
        %a{id: "anchor-project-petition"}
        = render 'petitions/list', petitions: @project.petitions.recent
