/ Main container
.page-container

  = render 'header', project: @project
  / Footer - bloc-6

  %a{id: "anchor-project-event"}
  = render 'events/list', project: @project, events: @project.events.recent

  %a{id: "anchor-project-poll"}
  = render 'polls/list', polls: @project.polls.recent if @project.poll_enabled?

  %a{id: "anchor-project-survey"}
  = render 'surveys/list', surveys: @project.surveys.recent if @project.survey_enabled?

  %a{id: "anchor-project-petition"}
  = render 'petitions/list', petitions: @project.petitions.recent if @project.petition_enabled?

  / Footer - bloc-10
  %a{id: "anchor-project-wiki"}
  = render 'wikis/list', wikis: @project.wikis.recent if @project.wiki_enabled?

  / Footer - bloc-11
  %a{id: "anchor-project-discussion"}
  = render 'discussions/list', discussions: @project.discussions.recent if @project.discussion_enabled?
/ Main container END
