/ Main container
/ Main container
.page-container.page-container--event-speeches
  / bloc-0
  #bloc-0.bloc.bloc-fill-screen.bgc-white.l-bloc.cover
    .container.fill-bloc-top-edge
      %nav
        .text-center
          = link_to @petition do
            = image_tag 'events/speeches/logo.png', alt: "logo", class: 'candle-logo'

    .container.cover-body
      .row.row-no-gutters
        .col-sm-12.col-md-10.col-md-offset-1
          .speech
            %h3.mg-lg.text-center.tc-outer-space.cover-text
              != strip_tags(@petition.body)

  / bloc-0 END
  / bloc-1
  #bloc-1.bloc.bgc-outer-space.d-bloc
    .container.bloc-md
      %a{id: "speech-list"}
      .row.row-no-gutters
        .col-sm-12
          %h3.text-center.mg-md.tc-deep-carrot-orange
            %strong 촛불발언 동영상
      .voffset.speech-list
        - @speeches.each_slice(4) do |speech_slice|
          .row{ style: 'margin-right: 0; margin-left: 0' }
            - speech_slice.each do |speech|
              - video = VideoInfo.new(speech.video_url)
              .col-sm-3
                .speech
                  = link_to speech.video_url, class: 'popup-youtube' do
                    .embed-responsive.embed-responsive-16by9.video-image
                      = image_tag video.thumbnail_medium
                      %i.fa.fa-play-circle.play-circle.play-circle--medium
                  .title.mg-md= speech.title
                  .text-left
                    = render 'likes/button', likable: speech
                    .view-count
                      %i.fa.fa-eye
                      = number_with_delimiter speech.view_count_cacheable
      .text-center
        = paginate @speeches, theme: 'twitter-bootstrap-3'

