/ Main container
.page-container.page-container--event-speeches
  / bloc-0
  #bloc-0.bloc.bloc-fill-screen.bgc-white.l-bloc{style: "height: 150px; background-image: url(#{image_url('events/speeches/cover.png')});"}
    .container.fill-bloc-top-edge
      %nav.navbar.row
        .navbar-header
          = link_to @event, class: 'navbar-brand' do
            = image_tag 'events/speeches/logo.png', alt: "logo", width: "300"
  / bloc-0 END
  / bloc-1
  #bloc-1.bloc.bgc-outer-space.d-bloc
    .container.bloc-md
      %a{id: "speech-list"}
      .row
        .col-sm-12
          %h3.text-center.mg-md.tc-deep-carrot-orange
            %strong 자유발언 영상
      .row.voffset.speech-list
        - @speeches.each do |speech|
          - video = VideoInfo.new(speech.video_url)
          .col-sm-3
            .speech
              = link_to speech.video_url, class: 'popup-youtube' do
                .embed-responsive.embed-responsive-4by3.video-image
                  = image_tag video.thumbnail_medium
                  %i.fa.fa-play-circle.play-circle.play-circle--medium
              %h4.mg-md= excerpt(speech.title, length: 25)
              .text-center
                = render 'likes/button', likable: speech
      .text-center
        = paginate @speeches, theme: 'twitter-bootstrap-3'
  / bloc-1 END
  / bloc-2
  #bloc-2.bloc.bgc-outer-space.d-bloc
    .container.bloc-sm
      .row
        .col-sm-12.text-center
          = link_to '영상발언 올리기', new_speech_path(event_id: @event.id), class: 'btn btn-sq btn-dark-jungle-green btn-lg'
