.col-md-3.col-sm-4.col-xs-12
  .ui.card.fluid{ style: 'margin-bottom: 2em' }
    = link_to agenda do
      .image{ style: "height: 140px; background-image: url(#{agenda.image.md.url}); background-size: cover; background-position: center center;" }
    .content
      = link_to agenda.name, agenda, class: 'header', style: 'font-size: 1.2em'
      .meta
        %span
          #{Issue.model_name.human} #{agenda.issues.count}개
      .description
      .extra