= form_for @agenda do |f|
  .form-group
    = f.label :problem
    = f.text_area :problem, class: 'form-control'

  .form-group
    = f.label :solution
    = f.text_area :solution, class: 'form-control'

  .form-group
    = f.label :memo
    = f.text_area :memo, class: 'form-control'

  .form-group
    = f.submit '저장', class: 'btn btn-primary'