%section
  .container-fluid
    %h3.sub-title 특집

    %section{ style:"background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(#{image_url('events/2017-president.jpg')});background-size:cover; background-position: center center; border: 1px solid #ccc; padding: 3em 2em;" }
      = link_to theme_agendas_path(theme_slug: '2017-president'), style: 'color: white;' do
        %h2 2017대선오디션
        %p
          2017 대통령 선거. 우리는 변화와 희망에 투표합니다.
        %p
          촛불대선, 새로운 대한민국을 만들기 위해 바꾸어야 할 과제들이 많지요. 대선 후보자들이 과거와 현재 어떤 입장을 갖고 있는지 제대로 뜯어보고 살펴보고, 찬/반을 선택해주세요. (* 이슈와 후보자별 검증 내용은 계속 업데이트 됩니다)
        %p
          * 대선 후보자별 정책검증은
          %u 2017대선주권자행동
          과
          %u 직접민주주의 프로젝트정당 <우주당>
          이 함께 합니다
        %p.m-t
          = link_to '바로 보기', theme_agendas_path(theme_slug: '2017-president'), class: 'btn btn-danger'

    %section{ style:"background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(#{image_url('events/votefuture.png')});background-size:cover; background-position: center center; border: 1px solid #ccc; padding: 3em 2em;" }
      = link_to theme_agendas_path(theme_slug: 'votefuture'), style: 'color: white;' do
        %h2 미래에서 온 투표
        %p
          대한민국 아동이 제안하는 19대 대선 아동공약
        %p
          총 8,600여 명의 아동이 참여한 11,303개의 의견을 모아 대통령 후보자에게 정책을 소개하고 의견를 받았습니다.
        %p
          * 대선 후보자별 정책검증은
          %u 초록우산 어린이재단
          과
          %u 직접민주주의 프로젝트정당 <우주당>
          이 함께 합니다
        %p.m-t
          = link_to '바로 보기', theme_agendas_path(theme_slug: 'votefuture'), class: 'btn btn-danger'

%section.page-block
  .container-fluid
    %h3.sub-title
      모든 #{Agenda.model_name.human}
      %small.pull-right
        = link_to agendas_path, class: 'btn btn-default' do
          전체 보기

    .row.masonry-container
      = render @agendas
