%section.page-block
  .container
    %section
      .row.masonry
        - @agendas.each do |agenda|
          .col-sm-4
            .panel.panel-default.panel-floating
              .panel-body.text-center
                %h4{ style: 'font-weight: normal; word-break: keep-all; line-height: 1.3' }= link_to agenda.outline, agenda
                .card__user{ style: 'margin: 14px 0' }
                  %small.text-muted
                    제안자:
                    = link_to agenda.user.nickname, agenda.user
                .card__like
                  = render 'likes/button', likable: agenda

    %section{ style: 'margin-top: 28px; padding-top: 14px; border-top: 1px solid #dedede' }
      = link_to "#{Agenda.model_name.human} 쓰기", new_agenda_path, class: 'btn btn-default'
