%section.page-block
  .container
    %section
      .row.masonry
        - @agendas.each do |agenda|
          .col-sm-4
            .panel.panel-default.panel-floating
              .panel-body.text-center
                %h4= link_to agenda.outline, agenda
                %small.text-muted
                  %i.fa.fa-heart-o
                  = agenda.likes_count
                %small.text-muted
                  %i.fa.fa-comment-o
                  = agenda.comments.count

    %section{ style: 'margin-top: 28px; padding-top: 14px; border-top: 1px solid #dedede' }
      = link_to "#{Agenda.model_name.human} 쓰기", new_agenda_path, class: 'btn btn-default'
