.agenda-container
  = render 'agendas/header', agenda: @agenda

%section#speaker-block.page-block
  .container
    %h3.ui.header
      #{@speaker.name}님에게
    - if @speaker.email.blank?
      %p 이메일을 알 수 없는 국회의원입니다.
    - else
      = form_tag send_email_agenda_path(@agenda) do
        = hidden_field_tag :speaker_id, @speaker["id"]
        .form-group
          = label_tag :sender, '보내는 사람'
          = text_field_tag :sender, current_user.nickname, class: 'form-control'
        .form-group
          = label_tag :title, '제목'
          = text_field_tag :title, "[우주당] #{@agenda.name} #{Agenda.model_name.human}에 대해 의견을 듣고자 합니다", class: 'form-control'
        .form-group
          %textarea{ name: :body, rows: 40, class: 'form-control redactor' }
            #{@agenda.name} #{Agenda.model_name.human}의 아래 제안에 대한 의견을 듣고자 합니다
            %br
            - @agenda.issues.each_with_index do |issue, index|
              #{index+1}. #{issue.title}
              %br
        = submit_tag '발송', class: 'ui button', data: { confirm: '정말 메일을 발송하시겠습니까?', disable_with: "발송 중..."}

