.agenda-container
  = render 'agendas/header', agenda: @agenda

- %w(대선주자 국회의원).each do |position|
  %section.page-block.page-opinions
    .container
      %h2.ui.dividing.header
        #{position} #{Opinion.model_name.human}
        .sub.header #{position}에게 #{Opinion.model_name.human}을 #{@agenda.speakers.of_position(position).count}개 받았습니다.
      - @agenda.issues.each do |issue|
        %h4= issue.title
        %table.ui.celled.padded.table.fixed
          %thead
            %tr
              %th.single.line 찬성
              %th 반대
              %th 답변없음
          %tbody
            %tr
              - ["찬성", "반대", nil].each do |quote|
                %td{ style: 'width: 33.3%'}
                  - speakers = issue.categorized_speakers(position, quote)
                  .ui.list.grid
                    - speakers.each do |speaker|
                      = render 'speakers/line', speaker: speaker, agenda: @agenda

%section#agenda-block.page-block
  .container
    .post-block__comments
      = render 'comments/list', commentable: @agenda
