- speaker_positions = speaker_positions_of_theme(params[:theme_tag])
- speakers = Speaker.of_position(speaker_positions)
- @agendas.each_with_index do |agenda, i|
  %base(target="_blank")
  %section.page-block.page-opinions[agenda]{ class: "page-block-#{i%2}"}
    .container{ style: 'width: initial; padding: 24px;'}
      %h2{ style: 'border-bottom: 1px solid #c0c0c2;' }
        = link_to agenda.name, agenda, style: 'color: #333333'
      - agenda.issues.with_theme(params[:theme_tag]).each do |issue|
        %h3[issue]
          = issue.title

        - if issue.body.present?
          .issue-body
            %p!= simple_format(h(issue.body))

        - if issue.has_stance?
          - speaker_positions.each do |position|
            = render 'opinions/stances', position: position, speakers: speakers, speaker_positions: speaker_positions, issue: issue, theme_tag: params[:theme_tag]

        - if issue.opinions.where(speaker: speakers).any?(&:has_content?)
          .media-list
            - speakers.shuffle.each do |speaker|
              - issue.opinions.of_speaker(speaker).each do |opinion|
                = render 'opinions/line_item', opinion: opinion, theme_tag: params[:theme_tag]

= content_for :script do
  %script(src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.11/iframeResizer.contentWindow.min.js" defer)
