.agenda-container
  .agenda-container
  %section.cover-section{style: "background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(#{asset_url('default-image.png')});"}
    .container
      %h1
        = link_to theme_agendas_path(tag: params[:tag]), style: 'color: white' do
          = human_theme_name(params[:tag])


- @agendas.each_with_index do |agenda, i|
  %section.page-block.page-opinions{ class: "page-block-#{i%2}"}
    .container
      %h2= agenda.name
      - agenda.issues.each do |issue|
        %h3{ style: 'line-height: 2em'}
          = issue.title
          - if user_signed_in? and current_user.is_admin?
            .pull-right
              = form_tag new_or_edit_admin_opinions_path, method: :get, class: 'form-inline', target: '_blank' do
                .inline.field
                  = hidden_field_tag :issue_id, issue.id
                  %select{name: :speaker_id, class: 'form-control'}
                    - Speaker.of_position('대선주자').each do |speaker|
                      %option{ value: speaker.id }
                        = speaker.name
                  %button.btn.btn-default{ type: "submit" } 입력

        .media-list
          - if issue.opinions.where(speaker: Speaker.of_position('대선주자')).any?
            - Speaker.of_position('대선주자').shuffle.each do |speaker|
              - issue.opinions.of_speaker(speaker).each do |opinion|
                = render 'opinions/line_item', opinion: opinion