= render 'agendas/theme_header', agenda_theme: @agenda_theme

%section.page-block{ style: 'background-color: #eee' }
  .container
    %h3.title 주요 의제에 대한 시민반응(실시간 반영)
    - speakers_and_votes_count = @speakers.map{|s| { speaker: s, votes_count: s.opinions.of_theme(@agenda_theme).sum(:votes_count) }}.sort_by{|h| h[:votes_count]}.reverse
    - max_votes = speakers_and_votes_count[0][:votes_count]
    - speakers_and_votes_count.each do |s|
      - speaker = s[:speaker]
      - votes_count = s[:votes_count]
      - opinions = speaker.opinions.of_theme(@agenda_theme)
      - agrees_count = opinions.sum(:agrees_count)
      - disagrees_count = opinions.sum(:disagrees_count)
      %div
        %h4
          = link_to speaker.name, speaker
          .text-muted.pull-right
            총 #{votes_count}건
        .progress
          .progress-bar.progress-bar-striped.progress-bar-success{ style: "width:#{agrees_count/max_votes.to_f*100}%" }
            #{agrees_count}건
          .progress-bar.progress-bar-striped.progress-bar-danger{ style: "width:#{disagrees_count/max_votes.to_f*100}%" }
            #{disagrees_count}건

= render 'agendas/tabs', agendas: @agendas, speakers: @speakers, agenda_theme: @agenda_theme
