- wiki = @wiki_revision.wiki
%section.page-block
  .container
    .row
      .col-xs-6
        = link_to '페이지로 돌아가기', @wiki_revision.wiki, class: 'btn btn-default btn-sm'
      .col-xs-6.text-right

%section#wiki-block.page-block.post-block
  .container
    .post-block__title
      %h3
        %strong= wiki.title
        이력

    .post-block__info
      %span.post-block__user
        = link_to @wiki_revision.user.nickname
      %span.post-block__date
        = date_f @wiki_revision.created_at
      - if can? :edit, wiki
        = link_to '되돌리기', revert_wiki_revision_path(@wiki_revision), method: :put

    .post-block__body
      = raw @wiki_revision.body

    .post-block__note
      %h4 메모
      = simple_format @wiki_revision.note
