- cover_image = event.image_url(:lg)
%section.cover-section{ style: "background-image: url(#{cover_image})" }
  .container.container-fluid
    = render 'application/current_user_state_badge'
    %h2.cover-section__title
      = event.title

    - if can?(:edit, event) || can?(:destroy, event)
      .cover-section__buttons
        - if can? :edit, event
          = link_to '수정', edit_event_path(event)
        - if can? :destroy, event
          = link_to '삭제', event, method: :delete, data: { confirm: '삭제하시겠습니까?' }

    .cover-section__body= raw event.body

    %h4.cover-section__users-count
      %span
        %i.fa.fa-comment-o
        = event.comments.count

    .share-box{ 'data-share-image': image_url('seo.png') }

