= render 'events/template_default_with_photo/header', local_assigns

%section{ style: 'margin: 28px 0;' }
  .container-fluid
    - tag_max_count = 80
    - event.comments.tag_counts_on(:tags).sort_by(&:count).reverse.each_with_index do |tag, i|
      - break if i >= tag_max_count
      - if params[:tag] == tag.name
        %span{ style: 'display: inline-block; background-color: #4a5dd0; padding: 7px 14px; border: 1px solid #4a5dd0; border-radius: 28px; color: #fff; margin-bottom: 7px;' }
          = link_to tag.name, event_path(event, {tag: tag.name}), style: 'color: #fff'
          %small
            = tag.count
      - else
        %span{ style: 'display: inline-block; padding: 7px 14px; border: 1px solid #4a5dd0; border-radius: 28px; margin-bottom: 7px;' }
          = link_to tag.name, event_path(event, {tag: tag.name})
          %small.text-muted
            = tag.count

%section
  .container-fluid
    .row.masonry-container
      .col-sm-6.col-md-4.col-lg-3
        .panel.panel-default.panel-floating
          .panel-body
            = form_for Comment.new, html: { class: 'gov-action-form-validation' } do |f|
              - if params[:i_am] == 'your_father'
                = hidden_field_tag :i_am, 'your_father'
              = f.hidden_field :commentable_type, value: 'Event'
              = f.hidden_field :commentable_id, value: event.id
              - unless user_signed_in?
                .form-group
                  = f.label :commenter_name
                  = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
                .form-group
                  = f.label :commenter_email
                  = f.text_field :commenter_email, class: 'form-control'
              .form-group
                = f.label :image, '인증샷'
                = f.file_field :image, class: 'form-control'
              .form-group
                = f.label :body
                ~ f.text_area :body, placeholder: '나의 의견은 ...', rows: 8, class: 'form-control input-lg', data: { 'rule-required': true }
              .form-group
                = f.label :tag_list
                = f.text_field :tag_list, class: 'form-control'
              - if !user_signed_in? and params[:i_am] != 'your_father'
                .form-group.recaptcha
                  .help-block 스팸 방지를 위해 사람인지 확인합니다. 아래 체크 박스를 클릭해 주세요.
                  = hidden_field_tag :hiddenRecaptcha, nil, class: 'validate'
                  .gov-action-recaptcha
              = f.submit '작성', class: 'btn btn-primary btn-sm btn-block'

      - @comments.each do |comment|
        .col-sm-6.col-md-4.col-lg-3
          = render 'events/template_default_with_photo/comment_box', local_assigns.merge(comment: comment)
    .text-center
      = paginate @comments, theme: 'twitter-bootstrap-3'

%section.visible-xs
  %nav.navbar.navbar-default.navbar-fixed-bottom{ style: 'min-height: auto;'}
    %button.btn.btn-primary.btn-lg.btn-block{"data-target" => "#comment-form-modal", "data-toggle" => "modal", :type => "button"}
      %i.fa.fa-file-image-o
      한마디 남기기

#comment-form-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %h4.modal-title 인증샷과 함께 한마디 남겨주세요
      .modal-body
        = form_for Comment.new, html: { class: 'gov-action-form-validation' } do |f|
          = f.hidden_field :commentable_type, value: 'Event'
          = f.hidden_field :commentable_id, value: event.id
          - unless user_signed_in?
            .form-group
              = f.label :commenter_name
              = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
            .form-group
              = f.label :commenter_email
              = f.text_field :commenter_email, class: 'form-control'
          .form-group
            = f.label :image, '인증샷'
            = f.file_field :image, class: 'form-control'
          .form-group
            = f.label :body
            ~ f.text_area :body, placeholder: '나의 의견은 ...', rows: 8, class: 'form-control input-lg', data: { 'rule-required': true }
          .form-group
            = f.label :tag_list
            = f.text_field :tag_list, class: 'form-control'
          - unless user_signed_in?
            .form-group.recaptcha
              .help-block 스팸 방지를 위해 사람인지 확인합니다. 아래 체크 박스를 클릭해 주세요.
              = hidden_field_tag :hiddenRecaptcha, nil, class: 'validate'
              .gov-action-recaptcha
          = f.submit '작성', class: 'btn btn-primary btn-sm btn-block'
