.panel.panel-default
  .panel-body
    = form_for @story do |f|
      - if @project.present?
        = f.hidden_field :project_id, value: @project.id

      .form-group
        = f.label :cover
        = f.file_field :cover, class: 'form-control'

      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'

      .form-group
        = f.label :body
        ~ f.text_area :body, rows: 10, class: 'form-control redactor'

      .form-group.date-form
        = f.label :published_at
        .input-group.date#js-published_at
          = f.text_field :published_at, class: 'form-control', placeholder: 'ex) 2017-09-10'
          .input-group-addon
            %span.glyphicon.glyphicon-calendar

      %legend.m-t 추가 기능

      .form-group
        .checkbox
          %label
            = f.check_box :comment_enabled
            = Petition.human_attribute_name("comment_enabled")

      .form-group
        = f.submit '저장', class: 'btn btn-primary'
