.col-md-4.col-sm-6.col-xs-12
  .component-card
    = link_to story do
      .card-image{ style: "height: 200px; background-image: url(#{story.cover.md}); background-size: cover; background-position: top center;"}
    .card-content
      = link_to story.title, story, class: 'header'
      .card-description
        = excerpt story.body, length: 100 if story.body.present?

    .card-content.card-extra{style:"border-top:1px solid #e6e6e6"}
      .pull-right
        %span
          %i.fa.fa-comments
          #{story.comments.count}
        %span
          %i.fa.fa-heart
          = story.merged_likes_count

      %span.nickname
        %i.fa.fa-user
        = link_to story.user.nickname, story.user, class: 'text-muted'
