- if @project
  = render 'projects/header', project: @project

%section#story-block.page-block
  .container
    .panel.panel-default.panel-post
      .panel-heading
        %h2= @story.title
        %p
          %span.panel-post__user
            = link_to @story.user.nickname
          %span.panel-post__date
            = date_f @story.published_at
          - if can? :edit, @story
            = link_to '수정', edit_story_path(@story)
          - if can? :destroy, @story
            = link_to '삭제', @story, method: :delete, data: { confirm: '삭제하시겠습니까?' }
          %span 조회 #{@story.views_count}

        .text-center
          .share-box{ 'data-share-image': image_url('seo.png') }

      .panel-body
        .panel-post__body
          = raw @story.body

        .panel-post__like.text-center
          = render 'likes/button', likable: @story

      .panel-body
        .panel-post__comments
          = render 'comments/list', commentable: @story

- if @project
  = render 'projects/post_footer', project: @project
