%section#townhalls-in-project
  .container
    - if user_signed_in? and (@project.blank? or can?(:manage, @project)) and battles.length < 1
      .alert.alert-warning
        타운홀 정책 배틀 데이터가 없습니다. 미팅 번호를 정확하게 넣었는지 확인해주세요.(이 메세지는 프로젝트 관리자에게만 보입니다)
    -else
      %h3.sub-title
        타운홀
      .row
        - battles.each do |battle|
          .col-sm-6
            %div
              .townhall-card
                .options-panel
                  .header
                    %h4
                      = battle["title"]
                  .body
                    .panel.panel-default
                      .panel-body
                        = smart_format battle["description"]
                    .ui.list{ style: "opacity: 0.4;" }
                    .item
                      .content.option
                        .header
                          .option-body
                            = battle["campion"]["title"]
                        .description
                          .chart
                            %span.chart__label #{battle["campion"]["favors_count"]}표
                            .chart__bar{ style: "width: #{battle["campion"]["percentage"]}%"}
                    .item
                      .content.option
                        .header
                          .option-body
                            = battle["challenger"]["title"]
                        .description
                          .chart
                            %span.chart__label #{battle["challenger"]["favors_count"]}표
                            .chart__bar{ style: "width: #{battle["challenger"]["percentage"]}%"}
                  .footer
                    - if battle["open_status"] == 'closed'
                      행사가 종료되었습니다&middot;총투표
                      #{battle["campion"]["favors_count"] + battle["challenger"]["favors_count"]}명
                    - elsif battle["open_status"] == 'opened'
                      행사가 진행 중입니다.
                    - elsif battle["open_statue"] == 'ready'
                      행사가 아직 시작하지 않았습니다.
