= form_for @archive_document do |f|
  = f.hidden_field :archive_id

  .form-group
    = f.label :title
    = f.text_field :title, required: true, class: 'form-control'

  .form-group
    = f.label :body
    ~ f.text_area :body, class: 'form-control redactor'

  - if params[:category_slug].present?
    = f.hidden_field :category_slug, value: params[:category_slug]
  - else
    .form-group
      = f.label :category_slug
      = f.select :category_slug, [], {}, class: 'form-control' do
        - @archive_document.archive.categories.each do |category|
          %optgroup{ label: category.name }
          - category.children.each do |subcategory|
            %option{ value: subcategory.slug, selected: subcategory.slug == f.object.category_slug }
              = subcategory.slug
              \-
              = subcategory.name

  .form-group
    = f.label :tag_list
    = f.text_field :tag_list, value: @archive_document.tag_list.try(:to_s), placeholder: '태그1, 태그2, 태그3', class: 'form-control'
    %p.help-block
      콤마로 태그를 구분해서 넣으세요.

  %hr

  = f.fields_for :additional, @archive_document.additional || @archive_document.build_additional do |ff|
    .form-group
      = ff.hidden_field :archive_document_id
    .form-group
      = ff.label '도시'
      = ff.text_field :sub_region, class: 'form-control'
    .form-group
      = ff.label '주소'
      = ff.text_field :address, class: 'form-control'
    .form-group
      = ff.label '영역'
      = ff.text_field :npo_type, class: 'form-control'
    .form-group
      = ff.label '우편번호'
      = ff.text_field :zipcode, class: 'form-control'
    .form-group
      = ff.label '홈페이지'
      = ff.text_field :homepage, class: 'form-control'
    .form-group
      = ff.label '전화'
      = ff.text_field :tel, class: 'form-control'
    .form-group
      = ff.label '팩스'
      = ff.text_field :fax, class: 'form-control'
    .form-group
      = ff.label '대표자'
      = ff.text_field :leader, class: 'form-control'
    .form-group
      = ff.label '대표자 연락처'
      = ff.text_field :leader_tel, class: 'form-control'
    .form-group
      = ff.label '이메일'
      = ff.text_field :email, class: 'form-control'
    .form-group
      = ff.label '주요사업'
      ~ ff.text_area :business_area, class: 'form-control'
    .form-group
      = ff.label '설립년도'
      = ff.text_field :open_year, class: 'form-control'
    .form-group
      = ff.label '참여회원수'
      = ff.text_field :members_count, class: 'form-control'
    .form-group
      = ff.label '상근활동가수'
      = ff.text_field :workers_count, class: 'form-control'
    .form-group
      = ff.label '예산'
      = ff.text_field :finance, class: 'form-control'
  .form-group
    = f.submit '저장', class: 'btn btn-primary'
    = link_to '취소', :back, class: 'btn btn-default'
