= render 'archives/header', archive: @archive

%section#archive_document-block.page-block.post-block
  .container
    .post-block__title
      %h4
        = @archive_document.title
    .post-block__info
      %span.post-block__user
        = link_to @archive_document.user.nickname
      %span.post-block__date
        = date_f @archive_document.created_at
      - if can? :edit, @archive_document
        = link_to '수정', edit_archive_document_path(@archive_document)
      - if can? :destroy, @archive_document
        = link_to '삭제', @archive_document, method: :delete, data: { confirm: '삭제하시겠습니까?' }
    .post-block__content
      %table.table.table-bordered
        %colgroup
          %col{width:"150px"}
          %col{width:"*"}
        %tr
          %th
            단체 이름
          %td= @archive_document.title
        %tr
          %th
            대표자
          %td= @archive_document.additional.try(:leader)
        %tr
          %th
            영역
          %td= @archive_document.additional.try(:npo_type)
        %tr
          %th
            홈페이지
          %td= @archive_document.additional.try(:homepage)
        %tr
          %th
            주소
          %td
            [#{@archive_document.additional.try(:zipcode)}]
            = @archive_document.additional.try(:address)
        %tr
          %th
            전화번호
          %td= @archive_document.additional.try(:tel)
        %tr
          %th
            팩스
          %td= @archive_document.additional.try(:fax)
        %tr
          %th
            이메일
          %td= @archive_document.additional.try(:email)
        %tr
          %th
            주요 사업
          %td= @archive_document.additional.try(:business_area)
        %tr
          %th
            설립 연도
          %td= @archive_document.additional.try(:open_year)

    .panel.panel-default
      .panel-heading
        %div
          등록일: #{l @archive_document.created_at}

    .post-block__comments
      = render 'comments/list', commentable: @archive_document

