= render 'archives/header', archive: @archive

%section#archive_document-block.page-block.post-block
  .container
    .post-block__title
      %h4
        = @archive_document.title
        xxxxx
    .post-block__info
      %span.post-block__user
        = link_to @archive_document.user.nickname
      %span.post-block__date
        = date_f @archive_document.created_at
      - if can? :edit, @archive_document
        = link_to '수정', edit_archive_document_path(@archive_document)
      - if can? :destroy, @archive_document
        = link_to '삭제', @archive_document, method: :delete, data: { confirm: '삭제하시겠습니까?' }

    %div= @archive_document.inspect

    .post-block__content
      - if @archive_document.has_content?
        .panel.panel-default
          .panel-heading
            .download
              = link_to [:download, @archive_document] do
                = file_type_icon(@archive_document.content_type)
                #{@archive_document.content_name}
                %i.fa.fa-download
            - if @archive_document.clypit.present?
              .clypit
                %iframe{ frameborder: "0", height: "160", src: "https://clyp.it/#{@archive_document.clypit.audio_file_id}/widget", width: "100%"}

          - if @archive_document.image?
            .panel-body
              .image
                = image_tag @archive_document.content.md.url

    .post-block__body
      = raw @archive_document.body
      - if @archive_document.sewol_inv_document.present?
        %p
          %i.fa.fa-info-circle
          %a(href='http://www.archives.go.kr/' target='_blank')> 국가기록원
          에 보관 중인 자료입니다.

    .panel.panel-default
      .panel-heading
        - if @archive_document.sewol_inv_document.present?
          - sewol_inv_document = @archive_document.sewol_inv_document
          - %i(code reporter reviewer open_type open_level_desc open_retype).each do |attribute|
            - if sewol_inv_document.send(attribute).present?
              %div
                #{Archive::SewolInvDocument.human_attribute_name(attribute)}: #{sewol_inv_document.send(attribute)}
        - else
          - %i(content_source content_creator human_formatted_content_created_datetime content_recipients human_formatted_donor).each do |attribute|
            - if @archive_document.send(attribute).present?
              %div
                #{ArchiveDocument.human_attribute_name(attribute)}: #{@archive_document.send(attribute)}
        %div
          등록일: #{l @archive_document.created_at}

    .post-block__comments
      = render 'comments/list', commentable: @archive_document

