%section#wikis-in-project
  .container
    %h3
      = local_assigns[:title_label] || @project.try(:component_title, 'wiki')
      %small.pull-right
        = link_to "페이지 추가", new_wiki_path(project_id: @project), class: 'btn btn-default btn-inverted btn-sm'

    - if wikis.any?
      .panel.panel-default
        .list-group
          = render wikis

    - else
      - if @project.present?
        .alert.alert-info
          %i.inbox.icon
          첫 위키 페이지를 작성해 보세요.
          = link_to "#{Wiki.model_name.human} 추가하기", new_wiki_path(project_id: @project), class: 'alert-link'