.list-group-item
  .media
    .media-body
      %h4.media-heading
        = link_to wiki do
          = wiki.title
          - if wiki.comments.count > 0
            %small
              (#{wiki.comments.count})
      .media-meta
        %span.nickname
          최종 수정자
          = render 'users/line', user: wiki.wiki_revisions.last.user
    .media-right
      .pull-right
        .btn.btn-default
          #{wiki.wiki_revisions.count}차례 수정함