%section#wikis-section.page-block
  .container
    .row
      .col-xs-6
      .col-xs-6.text-right

    %ul.list-group.post-group{ style: 'margin: 28px 0;' }
      - @wikis.each do |wiki|
        %li.list-group-item[wiki]
          = link_to wiki do
            %h4.list-group-item-heading
              = wiki.title
            .post__meta
              .row
                .col-xs-6
                  %span.nickname
                    = wiki.user.nickname
                  %span.created_at
                    = date_f wiki.created_at
                .col-xs-6.text-right
                  %span
                    %i.fa.fa-edit
                    = wiki.wiki_revisions.count
                  %span
                    %i.fa.fa-eye
                    = wiki.views_count
