%section#wikis-section.page-block
  .container
    .row
      .col-xs-6
      .col-xs-6.text-right
        = link_to "#{Wiki.model_name.human} 추가", new_campaign_wiki_path(@campaign), class: 'btn btn-default btn-sm'

    %table.table{ style: 'margin: 28px 0;'}
      %thead
        %tr
          %th.text-center 번호
          %th 제목
          %th 글쓴이
          %th.text-right 편집
          %th.text-right 조회
          %th.text-center 작성일
      %tbody
        - @wikis.each do |wiki|
          %tr[wiki]
            %td.text-muted.text-center
              = wiki.id
            %td.wiki__title
              %strong= link_to wiki.title, wiki
            %td.wiki__nickname
              = wiki.user.nickname
            %td.wiki__cnt.text-right
              = wiki.wiki_revisions.count
            %td.wiki__cnt.text-right
              = wiki.views_count
            %td.wiki__created_at.text-center
              = date_f wiki.created_at

