- if @project
  = render 'projects/header', project: @project
%section#wiki-header.component-header
  .container
    %span.gov-label
      위키
    %br
    =@wiki.title
    %div{ style: 'margin-top: 16px;font-size:16px;'}
      %span.panel-post__date
      - if can? :edit, @wiki
        = link_to '수정', edit_wiki_path(@wiki)
      - if can? :destroy, @wiki
        = link_to '삭제', @wiki, method: :delete, data: { confirm: '삭제하시겠습니까?' }
%section#wiki-block
  .user-info
    .user-image{style: "background-image:url(#{asset_url(@wiki.user.image)});"}
    = link_to @wiki.user.nickname
  .container
    %div{style:"font-weight:700;margin:40px 0px"}
      %i.fa.fa-calendar
      = date_f @wiki.created_at
      &nbsp;&nbsp;&nbsp;
      %i.fa.fa-file-text-o
      조회
      = @wiki.views_count
    .panel.panel-default.panel-post

      .panel-body
        .panel-post__body
          = raw @wiki.body

      .panel-body
        .panel-post__comments
          = render 'comments/list', commentable: @wiki

%section
  .container
    %h3.sub-title 편집이력
    .panel.panel-default
      .list-group
        - @wiki.wiki_revisions.recent.each do |wiki_revision|
          .list-group-item
            = link_to wiki_revision do
              = date_f wiki_revision.created_at
              .pull-right
                = render 'users/line', user: wiki_revision.user

- if @project
  = render 'projects/post_footer', project: @project
