- if @project
  = render 'projects/header', project: @project

%section#wiki-block.page-block
  .container
    .panel.panel-default.panel-post
      .panel-heading
        %h2
          %small.label.label-default
            = Wiki.model_name.human
          %br
          = @wiki.title

        %p
          = date_f @wiki.created_at
          %span
            #{@wiki.wiki_revisions.count}차례 수정함
          &middot;
          - if can? :edit, @wiki
            = link_to '페이지 수정하기', edit_wiki_path(@wiki)
            &middot;
          - if can? :destroy, @wiki
            = link_to '삭제', @wiki, method: :delete, data: { confirm: '삭제하시겠습니까?' }
            &middot;
          조회 #{@wiki.views_count}

      .panel-body
        .panel-post__body
          = raw @wiki.body

      .panel-body
        .panel-post__comments
          = render 'comments/list', commentable: @wiki

%section
  .container
    %h4 편집이력
    .panel.panel-default
      .list-group
        - @wiki.wiki_revisions.recent.each do |wiki_revision|
          .list-group-item
            = link_to wiki_revision do
              = date_f wiki_revision.created_at
              .pull-right
                = render 'users/line', user: wiki_revision.user
