.panel.panel-default
  .panel-body
    = form_for [:admin, @agency] do |f|
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'

      .form-group
        = f.label :slug
        = f.text_field :slug, class: 'form-control'

      .form-group
        = f.label :image
        = f.file_field :image, class: 'form-control'

      .form-group
        = f.label '포지션'
        = f.text_field :position_list, value: @agency.position_list.try(:to_s), placeholder: 'ex)19대_대선후보, 20대_국회의원', class: 'form-control'
        .help-text
          %p
            아래 포지션 중에 선택해서 입력해 주세요.
            = link_to admin_positions_path do
              포지션관리하기
              %i.fa.fa-arrow-right
          %p= Position.all.map(&:title).join(' / ')


      .form-group
        = f.submit '저장', class: 'btn btn-primary'
