%section.page-block
  %h3
    = link_to '우주운영', admin_home_path
    &gt; 일꾼
  %section
    .well
      .role-form
        = form_tag add_admin_roles_path, method: :post do |f|
          .form-group
            = text_field_tag :user_nickname, '', class: 'form-control'
          = submit_tag '새로운 일꾼 추가하기', class: 'btn btn-default'

    .row.m-t
      - User.with_role(:admin).each do |user|
        .col-sm-3
          .well.well-sm
            = image_tag user.image.sm, class: 'user-thumb-sm'
            = user.nickname
            .pull-right
              = link_to remove_admin_roles_path(user_nickname: user.nickname), method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: 'btn btn-xs btn-default' do
                %i.fa.fa-trash
