- if params[:mode] == 'widget'
  = render 'widget'
- else
  - cover_image = @survey.cover_image_url(:lg)
  %section#survey-section.componant-header
    .container
      %span.gov-label
        설문
      = render 'application/current_user_state_badge'
      %h1.cover-section__title= @survey.title

      %h4.cover-section__users-count
        %span
          %i.fa.fa-user-o
          #{@survey.feedback_users_count}명
          - if @survey.has_anonymous_feedbacks?
            이상
          응답
          - if can? :edit, @survey
            = link_to '수정', edit_survey_path(@survey)
          - if can? :destroy, @survey
            = link_to '삭제', @survey, method: :delete, data: { confirm: '삭제하시겠습니까?' }
  %section#survey-block.page-block.post-block
    .user-info
      .user-image{style: "background-image:url(#{asset_url(@survey.user.image)});"}
      = link_to @survey.user.nickname
    .container
      .post-block__info
        %div{style:"font-weight:700;margin:40px 0px"}
          %i.fa.fa-calendar
          = date_f @survey.created_at
          &nbsp;&nbsp;&nbsp;
          %i.fa.fa-file-text-o
          조회
          = @survey.views_count
      .post-block__body
        = raw @survey.body

      .cover-section__options
        = render 'options/panel', survey: @survey

      .post-block__share
        %h3.sub-title 이 이슈를 친구들에게 알려 주세요
        .share-box

      .post-block__widget
        %h4 이 이슈를 퍼가주세요.
        %input{value: "<iframe width='100%' height='495' src='#{survey_url(@survey, mode: :widget)}' frameborder='0'></iframe>", style: 'width: 100%;'}

      .post-block__comments
        = render 'comments/list', commentable: @survey

  - if @project
    = render 'projects/post_footer', project: @project
