- if params[:controller] == 'projects'
  %section.cover-section#rebootkorea-project{style: "background-color: #383838; background-image: none !important"}
    .container
      %h3.cover-section__title= project.title
      .cover-section__body{ style: 'text-align:center; padding: 20px; margin: 0 auto; font-size: 15px; word-break: keep-all;'}
        - if project.subtitle.present?
          %h3= project.subtitle

        = raw project.body
        %hr
        %h2{ style: 'font-weight: bold; margin-bottom: 12px;' } 네트워크

        .row
          .col-sm-6.col-xs-12
            .platform-card{ style: "background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.2), transparent), url('https://raw.githubusercontent.com/parti-xyz/people_constitution/master/app/assets/images/urimanna.jpg');"}
              = link_to 'http://urimanna.govcraft.org/p/demo', target: '_blank' do
                %h2.platform-card__title
                  %span{ style: 'font-weight: 300' }
                    우리가만드는대한민국
                  우리만나
                .platform-card__description
                  전국적인 온라인 만민공동회 구축을 통해 깨어있는 시민들의 자발적 네트워크를 구축해 나가는 것을 지향합니다


          .col-sm-6.col-xs-12
            .platform-card{ style: "background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.2), transparent), url('https://raw.githubusercontent.com/parti-xyz/people_constitution/master/app/assets/images/ssial.jpg');"}
              = link_to 'http://www.changecorea.co.kr/', target: '_blank' do
                %h2.platform-card__title 씨알재단
                .platform-card__description

      = render 'projects/header_admin_menu', project: project
