= render 'meta_tags'

%section#about-section
  .container
    %h2{ style: "font-weight: bold;"}
      국민개헌네트워크
    .header-desc
      국민이 스스로 만드는 새로운 헌법을 위해
      %span.visible-xs-block
      전국 120개 단체들이 모였습니다.
      %br
      %span.visible-xs-block
        %br
      국민주도 헌법개정 전국 네트워크는
      %span.visible-xs-block
      새로운 한국사회에 대한 국민의 목소리가
      %span.visible-xs-block
      개헌안에 담길 수 있기를 요구합니다.

%section#highlight-section
  .container
    = link_to 'http://rebootkorea.govcraft.org/p/rebootkorea#anchor-project-poll-and-survey' do
      .main-banner
        정책배틀 바로가기
        %i.fa.fa-hand-pointer-o


- stories = Story.recent.by_organization(@current_organization).limit(6)
- if stories.any?
  %section#stories.page-block
    .container
      %h3
        = link_to stories_path, class: 'sub-title' do
          = Story.model_name.human
        .pull-right
          %small= link_to '소식 올리기', new_story_path(story: { project_id: 38 }), class: 'text-muted'
      .row.masonry-container
        = render stories

- events = Event.recent.by_organization(@current_organization).limit(6)
- if events.any?
  .container
    %h3.sub-title
      = local_assigns[:title_label] || @project.try(:component_title, 'event') || Event.model_name.human
      - if user_signed_in? and (@project.blank? or can?(:create_event, @project))
        %small.pull-right
          = link_to "이벤트 시작하기", new_event_path(project_id: @project), class: 'text-muted'

    .row.masonry-container
      = render events


%section.page-block
  .container
    %h3.sub-title
      함께 하는 단체
    = link_to 'https://urimanna.govcraft.org/', target: "blank" do
      .organization-area
        .desc
          %h4
            우리가만드는대한민국
          전국적인 온라인 만민공동회 구축을 통해 깨어있는 시민들의 자발적 네트워크를 구축해 나가는 것을 지향합니다

    = link_to 'http://change2020.org/', target: "blank" do
      .organization-area
        .desc
          %h4
            바꿈
          세상을 바꾸는 우리 사회 공론장을 만드는 시민사회단체 바꿈 세상을 바꾸는 꿈입니다.

    = link_to 'http://parti.xyz', target: "blank" do
      .organization-area
        .desc
          %h4
            빠띠
          빠띠는 우리 사회 각 영역에 민주주의 문화를 확산시키기 위해 IT플랫폼, 컨텐츠, 커뮤니티를 만드는 민주주의 활동가 그룹입니다.

    = link_to 'http://www.changecorea.co.kr/', target: "blank" do
      .organization-area
        .desc
          %h4
            씨알재단
