%p #{@recipient_name}님! 안녕하세요.
%p
  가브크래프트
  %a(href="#{agenda_url(@agenda)}" target="_blank") #{Agenda.model_name.human}: #{@agenda.name}
  에서 #{@sender}님이 #{@recipient_name}님께 발신한 메일입니다.
.container
  != simple_format h(@note.body)

%div(style="margin-top: 60px;")
  %table
    %tr
      %td
        %a(href='http://govcraft.org/')
          %img(src="#{Rails.application.config.action_mailer.asset_host}/email_logo.png" width="40" height="40")
      %td(style="padding-left: 12px;")
        %a(href='http://govcraft.org/' target="_blank" style='color: #777; text-decoration: none;')
          세상을 바꾸는 시민들의 일상 정치 플랫폼
          %br
          %strong '가브크래프트'
          http://govcraft.org/
