!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    = stylesheet_link_tag 'emails/summary', media: 'all'
  %body
    %div
      우주당
      %a(href="#{agenda_url(@agenda)}") #{Agenda.model_name.human} #{@agenda.name}
      에서 #{@sender}님이 #{@recipient_name}님께 발신한 메일입니다.
    %hr

    %div
      != @body
