%div[archive]
  .panel.panel-default.panel-floating.archive-card
    .panel-body{ style: "background-image: url(#{archive.image_url(:md)})" }
      = link_to archive do
        %h4.archive__title= archive.title
        .archive__meta
          = date_f archive.created_at
          부터
          %strong= archive.documents.count
          개의 자료가 모였습니다.
