.jumbotron#archive-header-block.component-header
  .container
    %span.gov-label
      아카이브
    .archive__title
      = archive.title
    %p{style:"font-size:14px;"}
      - if can? :edit, archive
        = link_to '수정', edit_archive_path(archive)
      - if can? :edit, archive
        = link_to '분류관리', categories_edit_archive_path(archive)
      - if can?(:edit, archive)
        = link_to '대량데이터처리', archive_bulk_tasks_path(archive)
      - if can? :destroy, archive
        = link_to '삭제', archive, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
    .archive__body= simple_format archive.body
    .archive__share
      .share-box{ 'data-share-image': image_url('seo.png') }

%section
  .container
    %span.label.label-default
      %i.fa.fa-check-circle
      자료 이용하실 때는 반드시 가브크래프트 운영진에게 먼저 연락해 주세요. 메일:
      %a(href="mailto:help@parti.xyz") help@parti.xyz
    %h3.sub-title{style:"margin:10px 0px;"}
      - if !@category.nil?
        전체 > #{@category.name} (#{@documents.total_count})
      - elsif !@documents.nil?
        전체 (#{@documents.total_count})
