.jumbotron#archive-header-block{ style: "background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(#{archive.cover_image});" }
  .container
    %h2
      %%small.badge 아카이브
      .archive__title
        = link_to archive.title, archive
        %small
          - if can? :edit, archive
            = link_to '수정', edit_archive_path(archive)
          - if can? :edit, archive
            = link_to '분류관리', categories_edit_archive_path(archive)
          - if can? :destroy, archive
            = link_to '삭제', archive, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
    .archive__body= simple_format archive.body

    .archive__share{ style: 'margin-top: 14px;' }
      .share-box{ 'data-share-image': image_url('seo.png') }

    .archive__users
      아카이브을 만드는 사람들 :
      - archive.contributors.each do |user|
        = render 'users/thumbnail', user: user
