%section.page-block
  .container
    %h4
      = Archive.model_name.human
      %small= link_to "#{Archive.model_name.human} 시작하기", new_archive_path

    %section
      .row
        - @archives.each do |archive|
          .col-sm-12
            .panel.panel-default.panel-floating
              .panel-body
                %h4= link_to archive.title, archive
                .archive-meta.text-muted
                  = date_f archive.created_at
                  부터
                  %strong= archive.documents.count
                  개의 자료가 모였습니다.
