- initial_zoom = (@archive.timeline_initial_zoom.present? ? @archive.timeline_initial_zoom : "null")
- if params[:mode] == 'timeline'
  %section
    #timeline-embed

  %link{href:"https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css", title:"timeline-styles", rel:"stylesheet"}
  = javascript_include_tag 'application'
  %script{:src => "https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"}
  %script{:src => "//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js", :type => "text/javascript"}
  :javascript
    $.getJSON("#{archive_path(@archive, format: :json)}", function(data) {
      window.timeline = new TL.Timeline('timeline-embed', data, { start_at_end: true, language: 'ko', initial_zoom: #{initial_zoom} });
    });
    $(window).click(function(e) {
      if(e.target.tagName != 'A') {
        return true;
      }

      e.preventDefault();
      var url = $(e.target).attr("href");
      if($(e.target).hasClass('tl-makelink')) {
        window.open(url, '_blank');
      } else {
        top.window.location.href = url;
      }
      return false;
    });
  :css
    body { padding: 0; margin: 0; }

- elsif params[:mode] == 'list'
  = stylesheet_link_tag 'application', media: 'all'
  :css
    body { padding: 0; margin: 0; }

  = render 'archive_documents/list', archive: @archive

  %script{:src => "https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"}
  = javascript_include_tag 'application'
  :javascript
    $(window).click(function(e) {
      var $a_tag = $(e.target).closest('a');
      if(!$a_tag.length || $a_tag.closest('#data-tag-cloud').length) {
        console.log($a_tag);
        return true;
      }

      e.preventDefault();
      var url = $a_tag.attr("href");
      window.open(url, '_blank');
      return false;
    });
- else
  = render 'header', archive: @archive

  - if @archive.banner_image.file.present?
    %section.page-block
      .container
        = link_to @archive.banner_url, target: '_blank' do
          = image_tag @archive.banner_image, width: '100%'

  %section.page-block
    .container
      %ul.nav.nav-tabs{:role => "tablist"}
        %li{ class: (params[:tab].nil? ? 'active' : '') }
          = link_to '타임라인', archive_path(@archive), role: "tab"
        %li{ class: (params[:tab] == 'list' ? 'active' : '') }
          = link_to '자료목록', archive_path(@archive, tab: 'list'), role: "tab"
        %li
          = link_to '자료추가', new_archive_document_path(archive_id: @archive.id), role: "tab"
        %li
          = link_to download_archive_path(archive_id: @archive.id, format: :xlsx), role: "tab" do
            %i.fa.fa-download
            다운로드

  - if params[:tab] == 'list'
    = render 'archive_documents/list', archive: @archive
  - else
    %section
      #timeline-embed{ style: 'width:100%; height: 500px' }

    = content_for :script do
      :javascript
        $.getJSON("#{archive_path(@archive, format: :json)}", function(data) {
          window.timeline = new TL.Timeline('timeline-embed', data, { start_at_end: true, language: 'ko', initial_zoom: #{initial_zoom} });
        });
        $(window).click(function(e) {
          if(e.target.tagName != 'A') {
            return true;
          }

          e.preventDefault();
          var url = $(e.target).attr("href");
          if($(e.target).hasClass('tl-makelink')) {
            window.open(url, '_blank');
          } else {
            window.location.href = url;
          }
          return false;
        });
