%section#archive-header-block
  .container
    .jumbotron{ style: "background-image: url(#{@archive.image_url(:lg)})" }
      %h2
        %small.badge 아카이브
        %br
        = @archive.title
        %small
          - if can? :edit, @archive
            = link_to '수정', edit_archive_path(@archive)
          - if can? :destroy, @archive
            = link_to '삭제', @archive, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
      %p= simple_format @archive.body

      .archive__share{ style: 'margin-top: 14px;' }
        .share-box

%section.page-block
  .container
    %h4
      = link_to '자료 추가하기', new_archive_document_path(archive_id: @archive.id)

    %ul.list-group.post-group
      - @archive.documents.each do |document|
        %li.list-group-item[document]
          .media
            .media-body
              %h5.text-muted
                = document.date
                = document.time
              %h4.list-group-item-heading
                = link_to document do
                  = document.title
                  - if document.comments.count > 0
                    %small
                      (#{document.comments.count})

              .text-muted
                = document.body.html_safe
            .media-right{ style: 'vertical-align: middle;'}
              = render 'likes/button', likable: document
