.container
  .page-header
    %h2
      = local_assigns[:title_label] || @project.try(:component_title, 'poll_and_survey')
      %small.pull-right
        = link_to "찬반투표 시작하기", new_poll_path(project_id: @project), class: 'btn btn-default btn-sm'
        = link_to "설문 시작하기", new_survey_path(project_id: @project), class: 'btn btn-default btn-sm'

  .section
    - models = [polls + surveys].flatten.sort_by(&:created_at).reverse
    - if models.any?
      .row.masonry-container
        - models .each do |model|
          = render model, hide_project_title: true

    - else
      - if @project.present?
        .alert.alert-info
          %i.inbox.icon
          가장 먼저 투표를 제안해 보세요.
          = link_to "찬반투표 시작하기", new_poll_path(project_id: @project), class: 'alert-link'
          \|
          = link_to "설문 시작하기", new_survey_path(project_id: @project), class: 'alert-link'
