.col-md-6.col-sm-6.col-xs-12
  .sympathy-card[sympathy]
    = link_to sympathy do
      .card-image{ style: "background-image: url(#{sympathy.cover_image_url(:md)});"}
        .overlay
          .title
            = sympathy.title
      .card-extra
        = excerpt(sympathy.body, length: 90)
        %br
        - if sympathy.comments.count > 0
          %span.label.label-default
            #{number_with_delimiter(sympathy.comments.count)}개의 추모글


