- statement = statementable.statement_of(speaker)
- responded = (statement.try(:is_responed?) && statement.stance.present?)
- speaker_link = responded ? speaker : polymorphic_url([:new_comment_speaker, statementable], speaker_id: speaker.id)
- btn_class = responded ? 'btn-success' : 'btn-default'

= link_to speaker_link, class: 'btn ' + btn_class, style: 'margin: 0 0 4px 0' do
  = image_tag speaker.image.md.url, style: "height: 24px;"
  %strong= speaker.name
  - if statement.try(:is_responed?) and statement.stance.present?
    %small= statement.stance.text
  - else
    %small.text-danger
      - count = statementable.comments.with_target_speaker(speaker).count
      촉구하기 #{count > 999 ? "(999+)" : (count > 0 ? "(#{count})" : nil)}
