- commentable = @statementable

- if commentable.class == Petition
  = render 'petitions/header', petition: commentable
- else
  %section#petition-block.page-block.component-header.component-header-auto-height
    .container
      %span.gov-label= @statementable.class.model_name.human
      %br
      = link_to @statementable, style: 'color: #fff' do
        = @statementable.title

%section
  .container-fluid
    .page-header.page-header-narrow
      %h3.sub-title
        %span.image.agent-image.agent-image--mini{style: "background-image: url(#{@agent.image.xs.url}); display: inline-block; width: 1.2em; height: 1.2em;"}
        = @statementable.formatted_title_to_agent
    .panel-body.component-box
      .comments-form
        = form_for @comment, html: { class: 'gov-action-form-validation' } do |f|
          = hidden_field_tag :back_commentable, '1'
          = f.hidden_field :commentable_type, value: commentable.class.name
          = f.hidden_field :commentable_id, value: commentable.id
          = f.hidden_field :target_agent_id, value: @agent.id
          = invisible_captcha
          - unless user_signed_in?
            .row
              .col-xs-12.col-md-6
                .form-group
                  = f.label :commenter_name
                  = f.text_field :commenter_name, class: 'form-control', data: { 'rule-required': true }
              .col-xs-12.col-md-6
                .form-group
                  = f.label :commenter_email, @agent.email.present? ? "이메일(#{@agent.name}님에게 메일을 발송하려면 반드시 넣어주세요)" : nil
                  = f.text_field :commenter_email, class: 'form-control'
          .form-group
            ~ f.text_area :body, placeholder: '제 생각에는...', class: 'form-control validate ' + ( is_redactorable? ? 'redactor' : ''), data: { 'rule-required': true }
          - if @agent.email.present?
            .form-group
              .checkbox
                %label
                  = f.check_box :mailing, { checked: true }, 'ready', 'disable'
                  #{@agent.name}님에게 메일로도 발송합니다.
          = f.submit '작성', class: 'btn btn-default btn-sm btn-inverted'

      - if !@statementable.respond_to?(:comment_enabled, true) or @statementable.comment_enabled
        .panel-post__comments.post-block
          = render 'comments/page', commentable: @statementable, comments: @statementable.comments.with_target_agent(@agent).page(1), show_form: false

- if @statementable.project
  %section.page-block
    .container-fluid
      %h3 프로젝트
      .row
        = render @statementable.project
