.panel.panel-default.panel-floating.campaign-card[campaign]
  .panel-body{ style: "background-image: url(#{campaign.image_url(:md)})" }
    = link_to campaign do
      %h4.campaign__title
        = link_to campaign.title, campaign
      .campaign__meta
        %span
          제안자 :
          = image_tag campaign.user.image.sm, class: 'user-thumb-sm'
          = campaign.user.nickname
        %span
          시작일 :
          = date_f campaign.created_at
        %span
          활동지수 :
          = rand(1000)
          점

