.col-sm-4.col-xs-12
  .action-card.panel-floating[campaign]
    = link_to campaign do
      .card-image{ style: "background-image: url(#{campaign.cover_image_url(:md)});"}
        .overlay
          .title
            - if campaign.project.present?
              .project-title
                = campaign.project.title
            = campaign.title
      .card-extra
        - if campaign.signable?
          - if campaign.has_goal?
            .progress
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{campaign.percentage}", :role => "progressbar", :style => "width: #{campaign.percentage}%;"}
            .pull-right #{campaign.percentage}% 달성

            %span.count
              #{number_with_delimiter(campaign.signs_count)}명 참여
          - else
            .progress
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", :role => "progressbar", :style => "width: 100%;"}

            %span.count
              %i.fa.fa-user
              #{number_with_delimiter(campaign.signs_count)}명 참여
        - else
          .progress
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", :role => "progressbar", :style => "width: 100%;"}

          %span.count
            %i.fa.fa-rocket
            #{number_with_delimiter(campaign.comments.count)}건 참여
