.panel.panel-floating[campaign]
  .panel-body
    %h3.text-center{ style: 'word-break: keep-all;' }= link_to campaign.title, campaign
    %hr

    .row
      .col-xs-4
        .text-center
          = Discussion.model_name.human
          %h4= campaign.discussions.count
      .col-xs-4
        .text-center
          = Petition.model_name.human
          %h4= campaign.petitions.count
      .col-xs-4
        .text-center
          = Poll.model_name.human
          %h4= campaign.polls.count
