.panel.panel-floating[campaign]
  .panel-body
    - if campaign.image.file.present?
      .thumbnail
        = link_to campaign do
          = image_tag campaign.image_url(:sm)
    %h4.text-center{ style: 'word-break: keep-all;' }= link_to campaign.title, campaign

    .row{ style: 'margin-top: 21px;' }
      .col-xs-4.text-center
        %small= Discussion.model_name.human
        %h4{ style: 'margin-top: 7px;' }= campaign.discussions.count
      .col-xs-4.text-center
        %small= Petition.model_name.human
        %h4{ style: 'margin-top: 7px;' }= campaign.petitions.count
      .col-xs-4.text-center
        %small= Poll.model_name.human
        %h4{ style: 'margin-top: 7px;' }= campaign.polls.count
