.panel.panel-floating[campaign]
  .panel-body
    - if campaign.image.file.present?
      .thumbnail
        = link_to campaign do
          = image_tag campaign.image_url(:sm)
    %h3.text-center{ style: 'word-break: keep-all;' }= link_to campaign.title, campaign

    .row{ style: 'margin-top: 7px;' }
      .col-xs-4
        %h5.text-right
          = Discussion.model_name.human
          %strong= campaign.discussions.count
      .col-xs-4
        %h5.text-center
          = Petition.model_name.human
          %strong= campaign.petitions.count
      .col-xs-4
        %h5
          = Poll.model_name.human
          %strong= campaign.polls.count
