%section#campaign-header-block
  .container
    - style = @campaign.image.file.present? ? "" : ''
    .jumbotron{ style: style }
      %h2
        %small.badge 캠페인
        %br
        = @campaign.title
        %small
          - if can? :edit, @campaign
            = link_to '수정', edit_campaign_path(@campaign)
          - if can? :destroy, @campaign
            = link_to '삭제', @campaign, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
      .campaign__body= smart_format @campaign.body
      .campaign__meta
        %span
          제안자 :
          = @campaign.user.nickname
        %span
          시작일 :
          = date_f @campaign.created_at
        %span
          활동지수 :
          = rand(1000)
          점
      .campaign_share{ style: 'margin-top: 14px;' }
        .share-box

    .row
      .col-sm-6
        .panel.panel-default
          .panel-body
            %h4.panel-title
              = link_to campaign_discussions_path(@campaign) do
                = Discussion.model_name.human

            %ul.list-unstyled
              - if @campaign.discussions.any?
                - @campaign.discussions.recent.limit(5).each do |discussion|
                  %li
                    %h5
                      = link_to discussion.title, discussion
                      %small.text-muted
                        (#{discussion.comments.count})
              - else
                %small.text-muted
                  아직 게시글이 없습니다. 이야기를 시작해 볼까요?
                  %br
                  = link_to "#{Discussion.model_name.human} 쓰기", new_campaign_discussion_path(@campaign)

      .col-sm-6
        .panel.panel-default
          .panel-body
            %h4.panel-title
              = link_to campaign_polls_path(@campaign) do
                = Poll.model_name.human

            %ul.list-unstyled
              - if @campaign.polls.any?
                - @campaign.polls.each do |poll|
                  %li
                    %h5
                      = link_to poll.title, poll
                      %small.text-muted
                        %i.fa.fa-check-square-o
                        = poll.votes_count
              - else
                %small.text-muted
                  가장 먼저 투표를 제안해 보세요.
                  %br
                  = link_to "#{Poll.model_name.human} 제안하기", new_campaign_poll_path(@campaign)

    .row
      .col-sm-6
        .panel.panel-default
          .panel-body
            %h4.panel-title
              = link_to campaign_petitions_path(@campaign) do
                = Petition.model_name.human

            %ul.list-unstyled
              - if @campaign.petitions.any?
                - @campaign.petitions.each do |petition|
                  %li
                    %h5
                      = link_to petition.title, petition
                      %small.text-muted
                        %i.fa.fa-user-o
                        = petition.signs_count
              - else
                %small.text-muted
                  가장 먼저 서명을 제안해 보세요.
                  %br
                  = link_to "#{Petition.model_name.human} 제안하기", new_campaign_petition_path(@campaign)
      .col-sm-6
        .panel.panel-default
          .panel-body
            %h4.panel-title
              = link_to '위키', campaign_wikis_path(@campaign)
            %ul.list-unstyled
              - if @campaign.wikis.any?
                - @campaign.wikis.each do |wiki|
                  %li
                    %h5
                      = link_to wiki.title, wiki
              - else
                %small.text-muted
                  첫 위키 페이지를 작성해 보세요.
                  %br
                  = link_to "#{Wiki.model_name.human} 추가하기", new_campaign_wiki_path(@campaign)



:css
  body {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(#{@campaign.image_url(:lg)});
    background-size: cover;
    background-position: center center;
  }
