= render 'header'
= render 'discussions/list', discussions: @campaign.discussions if @campaign.discussion_enabled?
= render 'polls/list', polls: @campaign.polls if @campaign.poll_enabled?
= render 'petitions/list', petitions: @campaign.petitions if @campaign.petition_enabled?
= render 'wikis/list', wikis: @campaign.wikis if @campaign.wiki_enabled?