%section
  .container
    .page-header
      %h2= @campaign.title

    %section{ style: 'padding: 14px 0; margin-bottom: 14px; border-bottom: 1px solid #c0c0c2'}
      = simple_format @campaign.body

      .text-muted
        = link_to '수정', edit_campaign_path(@campaign)
        = link_to '삭제', @campaign, method: :delete, data: { confirm: '삭제하시겠습니까?' }

    %section{ style: 'padding: 14px 0; margin-bottom: 14px; border-bottom: 1px solid #c0c0c2'}
      %h4
        = link_to Discussion.model_name.human, campaign_discussions_path(@campaign)
      %ul.list-unstyled
        - @campaign.discussions.each do |discussion|
          %li
            %h5= link_to discussion.title, discussion

    %section{ style: 'padding: 14px 0; margin-bottom: 14px; border-bottom: 1px solid #c0c0c2'}
      %h4
        = link_to Petition.model_name.human, campaign_petitions_path(@campaign)
      %ul.list-unstyled
        - @campaign.petitions.each do |petition|
          %li
            %h5= link_to petition.title, petition

    %section{ style: 'padding: 14px 0; margin-bottom: 14px; border-bottom: 1px solid #c0c0c2'}
      %h4
        = link_to Poll.model_name.human, campaign_polls_path(@campaign)
      %ul.list-unstyled
        - @campaign.polls.each do |poll|
          %li
            %h5= link_to poll.title, poll

