= render 'header', campaign: @campaign
= render 'events/list', campaign: @campaign, events: @campaign.events.recent
= render 'polls/list', polls: @campaign.polls.recent if @campaign.poll_enabled?
= render 'petitions/list', petitions: @campaign.petitions.recent if @campaign.petition_enabled?
= render 'wikis/list', wikis: @campaign.wikis.recent if @campaign.wiki_enabled?
= render 'discussions/list', discussions: @campaign.discussions.recent if @campaign.discussion_enabled?
