= form_for @timeline_document do |f|
  = f.hidden_field :timeline_id

  .form-group
    = f.label :tag_list
    = f.text_field :tag_list, value: @timeline_document.tag_list.try(:to_s), placeholder: '태그1, 태그2, 태그3', class: 'form-control'
    %p.help-block
      콤마로 태그를 구분해서 넣으세요.

  .form-group
    = f.label :image
    = f.file_field :image, class: 'form-control'

  .form-group
    = f.label :title
    = f.text_field :title, required: true, class: 'form-control input-lg'

  .form-group
    = f.label :body
    ~ f.text_area :body, class: 'form-control redactor'

  %hr

  .row
    .col-sm-6
      .form-group
        = f.label :date
        = f.date_field :date, class: 'form-control'

    .col-sm-6
      .form-group
        = f.label :time
        = f.text_field :time, placeholder: 'hh:mm:ss', class: 'form-control'

  .form-group
    = f.label :source_url
    = f.text_field :source_url, class: 'form-control'

  %hr

  .form-group
    = f.label :media_url
    = f.text_field :media_url, class: 'form-control'
    %p.help-block
      관련 이미지나 동영상의 URL을 넣어주세요 ( https://timeline.knightlab.com/docs/media-types.html )

  .form-group
    = f.label :media_credit
    = f.text_field :media_credit, class: 'form-control'

  .form-group
    = f.submit '저장', class: 'btn btn-primary'
    = link_to '취소', :back, class: 'btn btn-default'
