- passing_params = {tab: :list}
- %i(mode tag).each { |name| passing_params[name] = params[name] if params[name].present? }
%section.page-block
  .container#data-tag-cloud
    - timeline.documents.tag_counts_on(:tags).each do |tag|
      - if params[:tag] == tag.name
        %span{ style: 'display: inline-block; background-color: #4a5dd0; padding: 7px 14px; border: 1px solid #4a5dd0; border-radius: 28px; color: #fff; margin-bottom: 7px;' }
          = link_to tag.name, timeline_path(timeline, passing_params.except(:tag)), style: 'color: #fff'
          %small
            = tag.count
      - else
        %span{ style: 'display: inline-block; padding: 7px 14px; border: 1px solid #4a5dd0; border-radius: 28px; margin-bottom: 7px;' }
          = link_to tag.name, timeline_path(timeline, passing_params.merge(tag: tag.name))
          %small.text-muted
            = tag.count

%section.page-block
  .container
    %ul.list-group.post-group{ style: 'margin: 28px 0;' }
      - @documents.each do |document|
        %li.list-group-item[document]
          = link_to timeline_document_path(document, passing_params.except(:mode)) do
            %h4.list-group-item-heading{ style: 'white-space: nowrap; text-overflow: ellipsis; overflow: hidden;' }
              = document.title
              %small.text-muted
                = strip_tags document.body
            .post__meta
              .row
                .col-xs-6
                  = document.date
                  = document.time
                  - if document.tags.any?
                    %i.fa.fa-tag
                    = document.tags.join(', ')
                .col-xs-6.text-right
