- if ['issues', 'campaigns', 'discussions', 'petitions', 'polls', 'memorials'].include? params[:controller]
  %section
    .container
      %ol.breadcrumb
        - if params[:controller] == 'issues'
          %li= link_to '토픽 목록', issues_path

        - if params[:controller] == 'campaigns'
          %li= link_to '캠페인 목록', campaigns_path

        - if params[:controller] == 'discussions'
          %li= link_to '캠페인 목록', campaigns_path
          %li= link_to @campaign.title, @campaign
          %li= link_to '토론 목록', campaign_discussions_path(@campaign)

        - if params[:controller] == 'petitions'
          %li= link_to '캠페인 목록', campaigns_path
          %li= link_to @campaign.title, @campaign
          %li= link_to '서명 목록', campaign_petitions_path(@campaign)

        - if params[:controller] == 'polls'
          %li= link_to '캠페인 목록', campaigns_path
          %li= link_to @campaign.title, @campaign
          %li= link_to '투표 목록', campaign_polls_path(@campaign)

        - if params[:controller] == 'memorials'
          %li= link_to '추모관 목록', memorials_path

