%section
  .container
    - if params[:controller] == 'users'
      %ol.breadcrumb{ style: 'font-size: 12px;' }
        %li= link_to User.model_name.human, issues_path

    - if params[:controller] == 'issues'
      %ol.breadcrumb{ style: 'font-size: 12px;' }
        %li= link_to Issue.model_name.human, issues_path

    - if params[:controller] == 'discussions'
      %ol.breadcrumb{ style: 'font-size: 12px;' }
        %li= link_to @campaign.title, @campaign

    - if params[:controller] == 'petitions'
      %ol.breadcrumb{ style: 'font-size: 12px;' }
        %li= link_to @campaign.title, @campaign

    - if params[:controller] == 'polls'
      %ol.breadcrumb{ style: 'font-size: 12px;' }
        %li= link_to @campaign.title, @campaign

    - if params[:controller] == 'wikis'
      %ol.breadcrumb{ style: 'font-size: 12px;' }
        %li= link_to @campaign.title, @campaign

    - if params[:controller] == 'wiki_revisions'
      %ol.breadcrumb{ style: 'font-size: 12px;' }
        %li= link_to @campaign.title, @campaign

    - if params[:controller] == 'events'
      %ol.breadcrumb{ style: 'font-size: 12px;' }
        %li= link_to Event.model_name.human, events_path

    - if params[:controller] == 'archives'
      %ol.breadcrumb{ style: 'font-size: 12px;' }
        %li= link_to Archive.model_name.human, archives_path

    - if params[:controller] == 'archive_documents'
      %ol.breadcrumb{ style: 'font-size: 12px;' }
        %li= link_to Archive.model_name.human, archives_path

    - if params[:controller] == 'memorials'
      %ol.breadcrumb{ style: 'font-size: 12px;' }
        %li= link_to Memorial.model_name.human, memorials_path

    - if params[:controller] == 'agendas'
      %ol.breadcrumb{ style: 'font-size: 12px;' }
        %li= link_to Agenda.model_name.human, memorials_path

