%section#footer
  .container
    .row
    - if @current_organization.try(:slug) == 'urimanna'
      .col-sm-6
        %span
          powered by 가브크래프트
      .col-sm-6
        .hidden-xs.text-right{style:"font-size:22px;"}
          = link_to 'mailto:minju30y@gmail.com' do
            %i.fa.fa-envelope-square
          = link_to 'https://www.facebook.com/kdemokr/', target: '_blank' do
            %i.fa.fa-facebook-square
          = link_to 'https://twitter.com/kdemokr', target: '_blank' do
            %i.fa.fa-twitter-square
        .visible-xs{style:"font-size:22px;"}
          = link_to 'mailto:help@parti.xyz' do
            %i.fa.fa-envelope-square
          = link_to 'https://www.facebook.com/kdemokr', target: '_blank' do
            %i.fa.fa-facebook-square
          = link_to 'https://twitter.com/kdemokr', target: '_blank' do
            %i.fa.fa-twitter-square
    - else
      .col-sm-6
        %span
          = link_to '가브크래프트', 'https://docs.parti.xyz/platform-govcraft.html', target: '_blank'
        &middot;
        %span
          = link_to '문의', 'mailto:help@parti.xyz'
        &middot;
        %span.visible-xs-block
        %span
          = link_to '이용약관', '#'
        &middot;
        %span
          = link_to '개인정보처리방침', '#'
      .col-sm-6
        .hidden-xs.text-right{style:"font-size:22px;"}
          = link_to 'https://www.facebook.com/wouldyouparty.org/', target: '_blank' do
            %i.fa.fa-facebook-square
          = link_to 'https://twitter.com/wouldyouparty', target: '_blank' do
            %i.fa.fa-twitter-square
          = link_to 'https://medium.com/우리가-주인이당', target: '_blank' do
            %i.fa.fa-medium
        .visible-xs{style:"font-size:22px;margin-top:10px;"}
          = link_to 'https://www.facebook.com/wouldyouparty.org/', target: '_blank' do
            %i.fa.fa-facebook-square
          = link_to 'https://twitter.com/wouldyouparty', target: '_blank' do
            %i.fa.fa-twitter-square
          = link_to 'https://medium.com/우리가-주인이당', target: '_blank' do
            %i.fa.fa-medium
