%section#footer
  .container
    .row
      .col-sm-6
        = link_to '우주당 소개', 'https://medium.com/%EC%9A%B0%EB%A6%AC%EA%B0%80-%EC%A3%BC%EC%9D%B8%EC%9D%B4%EB%8B%B9/%EC%A7%81%EC%A0%91-%EB%AF%BC%EC%A3%BC%EC%A3%BC%EC%9D%98-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8-%EC%A0%95%EB%8B%B9-%EC%9A%B0%EB%A6%AC%EA%B0%80-%EC%A3%BC%EC%9D%B8%EC%9D%B4%EB%8B%B9-66e951b4f45b', target: '_blank'
        = link_to '우주당 후원', 'https://goo.gl/forms/P5toLtywmFPwruGw1', target: '_blank'

      .col-sm-6
        .visible-xs
          = link_to 'https://medium.com/우리가-주인이당', target: '_blank' do
            %i.fa.fa-medium.fa-fw
            미디엄
          = link_to 'https://www.facebook.com/wouldyouparty.org/', target: '_blank' do
            %i.fa.fa-facebook.fa-fw
            페이스북
          = link_to 'https://twitter.com/wouldyouparty', target: '_blank' do
            %i.fa.fa-twitter.fa-fw
            트위터

        .hidden-xs.text-right
          = link_to 'https://medium.com/우리가-주인이당', target: '_blank' do
            %i.fa.fa-medium.fa-fw
            미디엄
          = link_to 'https://www.facebook.com/wouldyouparty.org/', target: '_blank' do
            %i.fa.fa-facebook.fa-fw
            페이스북
          = link_to 'https://twitter.com/wouldyouparty', target: '_blank' do
            %i.fa.fa-twitter.fa-fw
            트위터
