%section#footer
  .container-fluid
    .row
    - if @current_organization.try(:slug) == 'urimanna'
      .col-sm-6
        %span
          powered by
          = link_to '빠띠', 'http://partiunion.org', target: '_blank'
      .col-sm-6
        .hidden-xs.text-right{style:"font-size:22px;"}
          = link_to 'mailto:minju30y@gmail.com' do
            %i.fa.fa-envelope-square
          = link_to 'https://www.facebook.com/kdemokr/', target: '_blank' do
            %i.fa.fa-facebook-square
          = link_to 'https://twitter.com/kdemokr', target: '_blank' do
            %i.fa.fa-twitter-square
        .visible-xs{style:"font-size:22px;"}
          = link_to 'mailto:help@parti.xyz' do
            %i.fa.fa-envelope-square
          = link_to 'https://www.facebook.com/kdemokr', target: '_blank' do
            %i.fa.fa-facebook-square
          = link_to 'https://twitter.com/kdemokr', target: '_blank' do
            %i.fa.fa-twitter-square
    - else
      .col-sm-6
        %span
          %strong= link_to '일상을 더 민주적으로, 빠띠', 'http://partiunion.org', target: '_blank'
      .col-sm-6.text-right
        %span
          = link_to '문의', 'mailto:help@parti.xyz'
        &middot;
        %span
          = link_to '이용약관', '/terms'
        &middot;
        %span
          = link_to '개인정보취급방침', '/privacy'
