- organization = fetch_organization_from_request || @current_organization
%section#site-header
  #header-container.container-fluid.container-fluid-always
    - unless @current_organization.nil?
      = link_to 'http://' + @current_organization.slug + '.govcraft.org' do
        .title
          = @current_organization.title
    - else
      = link_to root_url(subdomain: root_subdomain) do
        .title
          가브크래프트
    .slogan-or-navi.hidden-xs
      - if @project.present?
        = link_to @project do
          %span.header-label
            프로젝트
          = @project.title
      - else
        = organization.try(:slogan) || '세상을 바꾸는 시민들의 일상 정치 플랫폼'
    .right-navi.js-top-menu.menu-btn
      - if @current_organization.try(:slug) == 'urimanna'
        %div#urimanna_menu
          = link_to '단체 정보', '/archives/2'
          = link_to Project.model_name.human, projects_path
          = link_to '커뮤니티', organization.try(:community_url), target: '_blank'
      %i.fa.fa-bars{ style: "font-size:17px;" }
    .right-navi.js-top-menu.close-btn.collapse
      %i.fa.fa-times

    - if user_signed_in?
      .right-navi
        = link_to current_user do
          = render 'users/thumbnail'

    .menu-list.text-nowrap.collapse
      - if organization.blank?
        = link_to Petition.model_name.human, petitions_url(subdomain: root_subdomain)
        %br
        = link_to Issue.model_name.human, issues_path(subdomain: root_subdomain)

        %div{style:"font-size:22px; line-height:35px; margin-top: 30px;"}
          = link_to Project.model_name.human, projects_url(subdomain: root_subdomain)
          %br
          = link_to Story.model_name.human, stories_url(subdomain: root_subdomain)
          %br
          = link_to Event.model_name.human, events_url(subdomain: root_subdomain)
          %br
          = link_to Archive.model_name.human, archives_url(subdomain: root_subdomain)
          %br
          = link_to Sympathy.model_name.human, sympathies_path(subdomain: root_subdomain)
          %br
          = link_to '커뮤니티', 'https://parti.xyz'
      - else
        = render "organizations/#{organization.slug}/pages/header", organization: organization
      %br
      %span
        - if user_signed_in?
          = current_user.nickname
          &nbsp;님
        - else
          member
      %br
      - if user_signed_in?
        = link_to '프로필', edit_user_registration_url(subdomain: root_subdomain)
        %br
        = link_to '로그아웃', sign_out_path, method: :delete
      - else
        = link_to new_user_session_path do
          로그인·가입

