%section#site-header
  #header-container.container-fluid
    = link_to root_url(subdomain: root_subdomain) do
      .title
        - @organization = fetch_organization_of_request(request)
        = @organization.try(:title) || '가브크래프트'
    .slogan-or-navi
      - if @project.present?
        = link_to @project do
          %span.header-label
            프로젝트
          = @project.title
      - else
        = @organization.try(:slogan) || 'Democracy, everyday'
    .right-navi.menu-btn{onclick:"javascript:toggleMenuList();"}
      %i.fa.fa-bars
    .right-navi.close-btn{onclick:"javascript:toggleMenuList();", style:"display:none;"}
      %i.fa.fa-times
    - if @project.present?
      .right-navi.admin-menu
        .cover-section__buttons.text-center
          - if can? :edit, @project
            = link_to '수정', edit_project_path(@project), class: 'btn btn-link'
          - if can? :destroy, @project
            = link_to '삭제', @project, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: 'btn btn-link'
          - if can? :edit, @project
            = link_to '최신소식추가', new_story_path(project_id: @project.id), class: 'btn btn-link'
          - if can? :edit, @project
            = link_to '이벤트추가', new_event_path(project_id: @project.id), class: 'btn btn-link'
          - if can? :edit, @project
            = link_to '운영자관리', project_admins_path(project_id: @project.id), class: 'btn btn-link'
    .menu-list{style:"display:none;"}
      %br
      = link_to Project.model_name.human, projects_url(subdomain: root_subdomain)
      %br
      = link_to Event.model_name.human, events_url(subdomain: root_subdomain)
      %br
      = link_to Petition.model_name.human, petitions_url(subdomain: root_subdomain)
      %br
      = link_to Article.model_name.human, articles_url(subdomain: root_subdomain)
      %br
      = link_to '커뮤니티', 'https://wouldyou.parti.xyz', target: '_blank'
      %br
      %br
      %span
        - if user_signed_in?
          = current_user.nickname
          &nbsp;님
        - else
          member
      %br
      - if user_signed_in?
        = link_to '프로필', edit_user_registration_url(subdomain: root_subdomain)
        %br
        = link_to '로그아웃', sign_out_url(subdomain: root_subdomain), method: :delete
      - else
        = link_to new_user_session_url(subdomain: root_subdomain) do
          로그인·가입
  :javascript
    function toggleMenuList(){
      document.getElementById("header-container").classList.toggle("drop-main-menu");
    }
