%section#site-header
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target": "#site-header-collapsable", "data-toggle": "collapse", type: "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{ href: root_path }
          우리가주인이당!

      #site-header-collapsable.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to "당원 #{User.count}명", users_path
          %li= link_to "캠페인 #{Campaign.count}개", campaigns_path
          %li= link_to '아카이브', archives_path
          %li= link_to '게시판', campaign_discussions_path(Campaign.first) if Campaign.first
          %li= link_to '뭣이중헌디?', issues_path

        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              = link_to edit_user_registration_path do
                = render 'users/thumbnail'
                = current_user.nickname
            %li
              = link_to sign_out_path, method: :delete do
                로그아웃
          - else
            %li
              = link_to new_user_session_path do
                %i.fa.fa-sign-in
                로그인 &middot; 가입
