%section#site-header
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target": "#site-header-collapsable", "data-toggle": "collapse", type: "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{ href: root_path }
          우리가주인이당!

      #site-header-collapsable.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to "캠페인", campaigns_path
          - if Event.first
            %li= link_to '우리의 목소리를 들어라!', Event.first

        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              = link_to edit_user_registration_path do
                = render 'users/thumbnail'
                = current_user.nickname
            %li
              = link_to sign_out_path, method: :delete do
                로그아웃
          - else
            %li
              = link_to new_user_session_path do
                %i.fa.fa-sign-in
                로그인 &middot; 가입
