- organization = fetch_organization_of_request(request) || @current_organization
%section#site-header
  #header-container.container-fluid
    - unless @current_organization.nil?
      = link_to 'http://' + @current_organization.slug + '.govcraft.org' do
        .title
          = @current_organization.title
    - else
      = link_to root_url(subdomain: root_subdomain) do
        .title
          가브크래프트
    .slogan-or-navi.hidden-xs
      - if @project.present?
        = link_to @project do
          %span.header-label
            프로젝트
          = @project.title
      - else
        = organization.try(:slogan) || 'Democracy, everyday'
    .right-navi.js-top-menu.menu-btn{onclick:"javascript:toggleMenuList();"}
      - if @current_organization.try(:slug) == 'urimanna'
        %div#urimanna_menu
          = link_to '단체 정보', '/archives/2'
          = link_to Project.model_name.human, projects_path
          = link_to Agenda.model_name.human, agendas_path
          = link_to '커뮤니티', organization.try(:community_url), target: '_blank'
      %i.fa.fa-bars{style:"font-size:17px;"}
    .right-navi.js-top-menu.close-btn{onclick:"javascript:toggleMenuList();", style:"display:none;"}
      %i.fa.fa-times
    .menu-list.text-nowrap{style:"display:none;"}
      - if organization.blank?
        = link_to Project.model_name.human, projects_url(subdomain: root_subdomain)
        %br
        = link_to Event.model_name.human, events_url(subdomain: root_subdomain)
        %br
        = link_to Petition.model_name.human, petitions_url(subdomain: root_subdomain)
        %br
        = link_to Article.model_name.human, articles_url(subdomain: root_subdomain)
        %div{style:"font-size:22px;line-height:35px;margin-top:-30px;"}
          %br
          = link_to Archive.model_name.human, archives_url(subdomain: root_subdomain)
          %br
          = link_to Sympathy.model_name.human, sympathies_path(subdomain: root_subdomain)
          %br
          = link_to Agenda.model_name.human, agendas_path(subdomain: root_subdomain)
          %br
          = link_to '커뮤니티', 'https://parti.xyz'
      - elsif organization.slug == 'urimanna'
        %br
        = link_to '단체 정보', '/archives/2'
        %br
        = link_to Project.model_name.human, projects_path
        %br
        = link_to Event.model_name.human, events_path
        %br
        = link_to Petition.model_name.human, petitions_path
        - if organization.community_url.present?
          %br
          = link_to '커뮤니티', organization.community_url, target: '_blank'
      - elsif organization.slug = 'wouldyouparty'
        %br
        = link_to Project.model_name.human, projects_path
        %br
        = link_to Event.model_name.human, events_path
        %br
        = link_to Petition.model_name.human, petitions_path
        - if organization.community_url.present?
          %br
          = link_to '커뮤니티', organization.community_url, target: '_blank'
      - else
        %br
        = link_to Project.model_name.human, projects_path
        %br
        = link_to Event.model_name.human, events_path
        %br
        = link_to Petition.model_name.human, petitions_path
        - if organization.community_url.present?
          %br
          = link_to '커뮤니티', organization.community_url, target: '_blank'
      %br
      %span
        - if user_signed_in?
          = current_user.nickname
          &nbsp;님
        - else
          member
      %br
      - if user_signed_in?
        = link_to '프로필', edit_user_registration_url(subdomain: root_subdomain)
        %br
        = link_to '로그아웃', sign_out_url(subdomain: root_subdomain), method: :delete
      - else
        = link_to new_user_session_url(subdomain: root_subdomain) do
          로그인·가입
