.vote-panel
  - vote = user_signed_in? ? poll.fetch_vote_of(current_user) : Vote.new
  .row
    .col-xs-6
      .text-right
        %div
          - if vote.present? && vote.choice == 'agree'
            = link_to cancel_votes_path(poll_id: poll.id), method: :post, class: 'btn btn-primary btn-choice btn-lg' do
              %span.choice__label 찬성
              %span.choice__count= poll.agrees_count
          - else
            = link_to polymorphic_url(['agree', :votes], poll_id: poll.id), method: :post, class: 'btn btn-default btn-choice btn-lg' do
              %span.choice__label 찬성
              %span.choice__count= poll.agrees_count
        .vote__users
          - poll.votes.where(choice: 'agree').each do |v|
            - if v.user.present?
              = link_to v.user do
                = render 'users/thumbnail', user: v.user

    .col-xs-6
      .text-left
        %div
          - if vote.present? && vote.choice == 'disagree'
            = link_to cancel_votes_path(poll_id: poll.id), method: :post, class: 'btn btn-primary btn-choice btn-lg' do
              %span.choice__label 반대
              %span.choice__count= poll.disagrees_count
          - else
            = link_to polymorphic_url(['disagree', :votes], poll_id: poll.id), method: :post, class: 'btn btn-default btn-choice btn-lg' do
              %span.choice__label 반대
              %span.choice__count= poll.disagrees_count
        .vote__users
          - poll.votes.where(choice: 'disagree').each do |v|
            - if v.user.present?
              = link_to v.user do
                = render 'users/thumbnail', user: v.user
