.vote-panel{id: vote_panel_dom_id(votable)}
  - vote = user_signed_in? ? votable.fetch_vote_of(current_user) : fetch_anonymous_vote(votable)
  %span.vote-buttons
    .vote-button
      - if vote.present? && vote.choice == 'agree'
        = link_to cancel_votes_path(votable_id: votable.id, votable_type: votable.class.name, show_voters: local_assigns[:show_voters]), method: :post, remote: true, class: 'btn btn-primary btn-choice btn-lg' do
          %span.choice__label 찬성
          %span.choice__count= votable.agrees_count
      - else
        = link_to polymorphic_url(['agree', :votes], votable_id: votable.id, votable_type: votable.class.name, show_voters: local_assigns[:show_voters]), method: :post, remote: true, class: 'btn btn-default btn-choice btn-lg' do
          %span.choice__label 찬성
          %span.choice__count= votable.agrees_count
    .vote-button
      - if vote.present? && vote.choice == 'disagree'
        = link_to cancel_votes_path(votable_id: votable.id, votable_type: votable.class.name, show_voters: local_assigns[:show_voters]), method: :post, remote: true, class: 'btn btn-danger btn-choice btn-lg' do
          %span.choice__label 반대
          %span.choice__count= votable.disagrees_count
      - else
        = link_to polymorphic_url(['disagree', :votes], votable_id: votable.id, votable_type: votable.class.name, show_voters: local_assigns[:show_voters]), method: :post, remote: true, class: 'btn btn-default btn-choice btn-lg' do
          %span.choice__label 반대
          %span.choice__count= votable.disagrees_count
  - if votable.comments.count > 0
    %span.votable-comments-count
      - comment_count = capture do
        %i.fa.fa-commenting
        #{votable.comments.count}
      - if local_assigns[:comments_count_link]
        = link_to comments_count_link do
          = comment_count
      - else
        = comment_count

  - if show_voters
    .row
      .col-xs-12
        .vote__users
          - votable.votes.each do |v|
            - if v.user.present?
              = image_tag v.user.image.sm.url, width: 20, height: 20, class: 'img-circle'
            - else
              = image_tag 'icon-candle.png', width: 20, height: 20, class: 'img-circle'
