%section.page-block
  .container
    .row
      .col-xs-6
        = link_to "#{Memorial.model_name.human} 글쓰기", new_memorial_path, class: 'btn btn-default btn-sm'
      .col-xs-6.text-right
        = link_to '목록', memorials_path, class: 'btn btn-default btn-sm'

%section#memorial-block.page-block.post-block
  .container
    .post-block__title
      %h3= @memorial.title

    .post-block__info
      %span.post-block__user
        = link_to @memorial.user.nickname
      %span.post-block__date
        = date_f @memorial.created_at
      - if can? :edit, @memorial
        = link_to '수정', edit_memorial_path(@memorial)
      - if can? :destroy, @memorial
        = link_to '삭제', @memorial, method: :delete, data: { confirm: '삭제하시겠습니까?' }

    .post-block__body
      = simple_format @memorial.body

    .post-block__like
      = render 'likes/button', likable: @memorial

    .post-block__comments
      = render 'comments/list', commentable: @memorial
