%section.cover-section
  .container
    .media
      .media-left
        = image_tag speaker.image.xs.url, class: 'media-object'
      .media-body
        %h1.media-heading.cover-section__title
          = link_to speaker_path(speaker) do
            = speaker.name
          %small{ style: 'color: #fff' }
            %span.speaker__organization= speaker.organization
        %p
          - speaker.positions.each do |position|
            %span.label.label-default.speaker__positions= position
