.card
  = link_to speaker do
    .card-image{ style: "height: 170px; background-image: url(#{speaker.image.md.url}); background-size: cover; background-position: center; background-repeat:no-repeat;" }
  .card-content
    = link_to speaker.name, speaker, class: 'card-header'
    .card-meta= speaker.organization
  .card-content.card-extra
    - if speaker.opinions.count > 0
      의견 #{speaker.opinions.count}개
    - else
      의견 없음
