.card
  .image
    %img{ src: speaker.image.sm.url }
  .content
    = link_to speaker_path(speaker, agenda_id: local_assigns[:agenda].try(:id)) do
      = speaker.name
      .text-muted= speaker.organization
      - if local_assigns[:agenda]
        .opinions-count
          #{agenda.opinions_by(speaker).count}개 #{Opinion.model_name.human}
    %button.btn.btn-default.btn-xs 트윗 보내기
