= render 'speakers/header', speaker: @speaker

.agenda-container
  %section.cover-section.cover-section-small{style: "background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(#{asset_url(@agenda.image_url(:lg))});"}
    .container
      %h2
        %small
          %span.label.label-danger= Agenda.model_name.human
        %br
        = link_to agenda_path(@agenda, theme_tag: params[:theme_tag]), style: 'color: white' do
          = @agenda.name

- last_index = 0
- @agenda.issues_group_by_theme.each_with_index do |(theme_tag, issues), i|
  - last_index = i
  %section.page-block.page-opinions{ class: "page-block-#{i%2}"}
    .container
      - if theme_tag.present?
        %h2.ui.dividing.header
          = link_to human_theme_name(theme_tag), theme_agendas_path(theme_tag: theme_tag)
          %br.visible-xs-block
          %small= human_theme_body(theme_tag)
      - issues.each do |issue|
        %section[issue]{ style: 'margin-bottom: 2em' }
          %h3
            = issue.title
            - if user_signed_in? and current_user.is_admin?
              %small
                = link_to new_or_edit_admin_opinions_path(issue_id: issue.id, speaker_id: @speaker.id), class: 'text-danger' do
                  의견 수정
          - if issue.body.present?
            .issue-body
              %p!= simple_format(h(issue.body))

          - opinions = issue.opinions.recent.of_speaker(@speaker)
          = render opinions
          - if opinions.empty?
            %p 아직 #{Opinion.model_name.human}이 없습니다.

%section.page-block{ class: "page-block-#{(last_index+1)%2}"}
  .container
    %p
      %strong
        = link_to speaker_path(@speaker) do
          #{@speaker.name}님의 다른 #{Agenda.model_name.human}에 대한  #{Opinion.model_name.human} 보기
          %i.fa.fa-arrow-right
