= render 'speakers/header', speaker: @speaker

- if @speaker.opinions.any?
  %section.page-block
    .container
      .page-header
        %h2
          최근 의견
      - @speaker.opinions.recent.limit(2).each do |opinion|
        %section.m-b
          %h3= opinion.issue.title
          - if opinion.issue.body.present?
            .issue-body
              %p!= simple_format(h(opinion.issue.body))
          = render opinion

= render 'agendas/tabs', agendas: @agendas, speaker: @speaker


- if @speaker.petitions.any?
  %section.page-block#agends-list
    .container
      .page-header
        %h2
          = Petition.model_name.human
          응답 현황
      - @speaker.petitions.each do |petition|
        .panel.panel-default
          .panel-heading
            = link_to petition do
              = petition.title
          .panel-body
            - statement = petition.statements.find_by(speaker: @speaker)
            - if statement.body.present? or statement.stance.present?
              - if statement.stance.present?
                %h4.media-heading
                  = statement.stance.text
              - if statement.body.present?
                .opinion__body
                  != simple_format h(statement.body)
            - else
              아직 응답이 없습니다.
