= render 'speakers/header', speaker: @speaker

- if @speaker.opinions.any?
  %section.page-block
    .container
      %h3.header
        최근 의견
      - @speaker.opinions.recent.limit(2).each do |opinion|
        %h4
          .ui.mini.label= opinion.issue.agenda.name
          = opinion.issue.title
        - if opinion.issue.body.present?
          .issue-body
            %p!= simple_format(h(opinion.issue.body))
        = render opinion

%section.page-block
  .container
    %h3.header
      = Agenda.model_name.human
    - if @agendas.any?
      .row
        = render @agendas, speaker: @speaker
    - else
      .well
        아직 관련 #{Agenda.model_name.human} 정보가 없습니다.
