- if @agenda
  .agenda-container
    = render 'agendas/header', agenda: @agenda

%section.cover-section{style: "background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5))"}
  .container
    %h1
      = image_tag @speaker.image.xs.url
      = @speaker.name
      %small{ style: 'color: #fff' }= @speaker.organization

- @agendas.each_with_index do |agenda, i|
  %section.page-block{ class: "page-block-#{i%2}"}
    .container
      %h2= agenda.name

      - agenda.issues.each do |issue|
        %section[issue]{ style: 'margin-bottom: 2em' }
          %h3= issue.title
          - opinions = issue.opinions.recent.of_speaker(@speaker)
          = render opinions
          - if opinions.empty?
            %p 아직 #{Opinion.model_name.human}이 없습니다.